<div class="form-inline">
    {{ form_start(form) }}
    <div class="form-group mr-4">
        {{ form_row(form.rights) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    {% if disabled %}
        <img data-html="true" src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
             class="ml-auto tooltip-img"
             alt="information"
             data-toggle="tooltip" data-placement="right"
             title="{{ 'institute.rights.disabled.other_association'|trans }}">
    {% endif %}
</div>
