{% block search_collection_type_label %}{% endblock %}
{% block search_collection_type_errors %}{% endblock %}

{% block search_collection_type_widget %}
    <div class="row">
        <div class="col-sm-10">
            {{ form_widget(form) }}
        </div>

        <div class="col-sm-2">
            <a href="#" class="delete-item {{ form.parent.vars.id }}-collection-remove btn btn-default" title="Delete"><i class="fas fa-minus"></i></a>
        </div>
    </div>
{% endblock %}


{% block domain_collection_type_label %}{% endblock %}
{% block domain_collection_type_errors %}{% endblock %}

{% block domain_collection_type_widget %}
    <div class="row">
        <div class="col-sm-10 input_allowed-domains">
            {{ form_widget(form) }}
            <span>@</span>
        </div>

        <div class="col-sm-2">
            <a href="#" class="delete-item {{ form.parent.vars.id }}-collection-remove btn btn-default" title="Delete"><i class="fas fa-minus"></i></a>
        </div>
    </div>
{% endblock %}
