{% block choice_widget_expanded %}
    {% apply spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endapply %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% apply spaceless %}
        {% set toggleMode = true %}
        {% for attrname, attrvalue in attr %}
            {% if attrname == 'toggleMode' %}
                {% set toggleMode = attrvalue %}
            {% endif %}
        {% endfor %}

        {% if toggleMode %}
            <label class="switch">
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} {% if attr.readonly is defined %} onclick="return false;"{% endif %}/>
                    <span class="slider_checkbox slider_checkbox--round"></span>
            </label>
        {% else %}
            <div class="form-check abc-checkbox abc-checkbox-primary">
                <input id="{{ id }}" type="checkbox" class="form-check-input" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                <label class="form-check-label" for="{{ id }}">
                    {{ label|trans({}, translation_domain)|raw }}
                </label>
            </div>
        {% endif %}
    {% endapply %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% apply spaceless %}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' btn btn-outline-secondary')|trim}) -%}
        {%- if checked -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' active')|trim}) -%}
        {%- endif -%}
        {%- if attr.readonly is defined -%}
            {%- set label_attr = label_attr|merge({readonly: 'readonly'}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}

        <label for="{{ id }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            <input
                type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %} />
            {{ label|trans({}, translation_domain) }}
        </label>
    {% endapply %}
{% endblock radio_widget %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set params = {} %}
        {% if attr.disabled is defined %}
            {% set params = {'attr': {'disabled': 'disabled'}} %}
        {% endif %}

        {% set pattern = {
                '{{ year }}':  form_widget(form.year, params ),
                '{{ month }}': form_widget(form.month, params),
                '{{ day }}':   form_widget(form.day, params),
            }
        %}

        {% if attr.year is defined and attr.year == 'disabled' %}
            {% set pattern = pattern|merge({'{{ year }}': ''}) %}
        {% endif %}

        {% if attr.month is defined and attr.month == 'disabled'%}
            {% set pattern = pattern|merge({'{{ month }}': ''}) %}
        {% endif %}

        {% if attr.day is defined and attr.day == 'disabled'%}
            {% set pattern = pattern|merge({'{{ day }}': ''}) %}
        {% endif %}

        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace(pattern)|raw -}}
        </div>
    {% endif %}
{% endblock %}

{% block checkbox_label -%}
    {{- block('form_label') -}}
{%- endblock checkbox_label %}

{% block form_label %}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            {{ translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}

            {% for attrname, attrvalue in attr %}
                {% if attrname == 'help' %}
                    <img data-html="true" src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                         alt="information"
                         data-toggle="tooltip" data-placement="right" title="{{ attrvalue|trans|nl2br }}">
                {% endif %}
            {% endfor %}
        </{{ element|default('label') }}>
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}

{% endblock form_label %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="form-error text-danger">
            <ul class="list-unstyled">
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block phone_number_widget -%}
    {% if widget is constant('Misd\\PhoneNumberBundle\\Form\\Type\\PhoneNumberType::WIDGET_COUNTRY_CHOICE') %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {{- form_widget(form.country, {'attr' : {'class': 'form-control col-sm-3'}}) -}}
            {{- form_widget(form.number, {'attr' : {'class': 'form-control col-sm-8 offset-sm-1 mt-3 mt-sm-0'}}) -}}
        </div>
    {% else -%}
        {{- block('form_widget_simple') -}}
    {%- endif %}
{%- endblock phone_number_widget %}
