<a class="nav-link btn-link dropdown-toggle" href="#" role="button" id="dropdown-menu-languages" data-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false">
    {{ app.request.locale|language_name|capitalize }}
    <i class="fas fa-caret-down"></i>
</a>
<ul class="dropdown-menu dropdown-menu-right text-center" role="menu" aria-labelledby="dropdown-menu-languages"
    id="languageswitcher">
    {% if app.request.get('_route') is empty %}
        {% set route = 'homepage' %}
    {% else %}
        {% set route = app.request.get('_route') %}
    {% endif %}

    {% for locale in app_locales|split('|') %}
        <li role="presentation">
            <a class="dropdown-item"
               href="{{ path(route, app.request.query.all|merge(app.request.get('_route_params', {}))|merge({'_locale': locale})) }}">
                {{ locale|language_name(locale)|capitalize }}
            </a>
        </li>
    {% endfor %}
</ul>
