<label for="{{ 'toggle_'~object.id }}" class="switch">
    <input type="checkbox" class="toggle_checkbox" id="{{ 'toggle_'~object.id }}"
           {% if isChecked %}checked{% endif %}>
    <span class="slider_checkbox slider_checkbox--round"></span>
</label>
