{% extends 'base.html.twig' %}

{% form_theme form
    'Form/_collection_theme.html.twig'
    'Form/_fields.html.twig'
    'Form/_jquery_collection.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(form) }}
        <div class="text-center text-primary mb-4">
            <h1>{{ 'association.edit'|trans }}</h1>
        </div>

        <div class="mb-5">
            <h2 class="f-magenta">{{ 'organization.information'|trans }}</h2>
            <div class="form-group row mt-4">
                {{ form_label(form.name) }}
                <div class="col-sm-8">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            {% if form.country is defined %}
                <div class="form-group row">
                    {{ form_label(form.country) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.country) }}
                        {{ form_errors(form.country) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group row">
                {{ form_label(form.cities) }}
                <div class="col-sm-8">
                    {{ form_widget(form.cities) }}
                    {% if form.cities.vars.prototype.vars.choices|length > 1 or form.cities.vars.prototype.vars.choices|first|length > 1 %}
                        <a href="#"
                           class="btn btn-default {{ form.cities.vars.id }}-collection-action {{ form.cities.vars.id }}-collection-add"
                           data-collection="{{ form.cities.vars.id }}">
                            <i class="fas fa-plus"></i>
                        </a>
                    {% endif %}
                    {{ form_errors(form.cities) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.website) }}
                <div class="col-sm-8">
                    {{ form_widget(form.website) }}
                    {{ form_errors(form.website) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.description) }}
                <div class="col-sm-8">
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.logoFile, null, {'label_attr':{'class': 'col-sm-4'}}) }}
                <div class="col-4 col-sm-2">
                    {% if association.logoName is not null %}
                        <img src="{{ vich_uploader_asset(association, 'logoFile') }}"
                             width="75" alt="{{ 'association logo '~ association.name }}">
                    {% endif %}
                </div>
                <div class="col-sm-6 col-8">
                    {{ form_widget(form.logoFile) }}
                    {{ form_help(form.logoFile) }}
                    {{ form_errors(form.logoFile) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 control-label">
                    <i class="fab fa-facebook"></i>
                    Facebook
                    {{ form_errors(form.facebook) }}
                </div>
                <div class="col-sm-8">
                    {{ form_widget(form.facebook) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 control-label">
                    <i class="fab fa-twitter"></i>
                    Twitter
                    {{ form_errors(form.twitter) }}
                </div>
                <div class="col-sm-8">
                    {{ form_widget(form.twitter) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 control-label">
                    <i class="fab fa-instagram"></i>
                    Instagram
                    {{ form_errors(form.instagram) }}
                </div>
                <div class="col-sm-8">
                    {{ form_widget(form.instagram) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.matchingPreference.activated, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-auto">
                    {{ form_widget(form.matchingPreference.activated) }}
                    {{ form_errors(form.matchingPreference.activated) }}
                </div>
            </div>
        </div>

        {% if upperLevelsManaged|length > 0 %}
            <div class="accordion" id="accordion-preferences">
                <div class="card">
                    <a class="card-header btn accordion_button" data-toggle="collapse"
                       href="#collapse_matching-preferences"
                       role="button" aria-expanded="false" aria-controls="collapse_matching-preferences">
                        <span>{{ 'organization.matching_preference'|trans }}</span>
                        <i class="fa fa-angle-down fa-2x"></i>
                    </a>

                    <div id="collapse_matching-preferences" class="collapse">
                        <div class="card-body">

                            <div class="mb-5">
                                <h4>{{ 'organization.criteria.management'|trans }}</h4>

                                <p>
                                    {{ 'institute.criteria.manager_of'|trans }}
                                    {% for child in upperLevelsManaged %}
                                        <br>
                                        {% for i in 1..child.level %}
                                            &nbsp;&nbsp;
                                        {% endfor %}
                                        {{ child.name }}
                                    {% endfor %}
                                </p>
                            </div>

                            <div class="dynamic-form-group">
                                <h4>
                                    {{ 'organization.semester'|trans }}
                                    <img class="tooltip-img" alt="information" data-html="true"
                                         src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                                         data-toggle="tooltip" data-placement="right"
                                         title="{{ 'organization.nb_weeks_pre_opening.tooltip'|trans }}">
                                </h4>

                                <div class="form-group row">
                                    {{ form_label(form.matchingPreference.fullYearOnly, null, {'label_attr':{'class': 'col-sm-3'}}) }}
                                    <div class="col-sm-auto">
                                        {{ form_widget(form.matchingPreference.fullYearOnly) }}
                                        {{ form_errors(form.matchingPreference.fullYearOnly) }}
                                    </div>
                                </div>

                                {% if not(form.matchingPreference.fullYearOnly.vars.checked) %}
                                    <div class="form-group row mt-4">
                                        <label class="col-sm-3 col-form-label">
                                            {{ ('first_semester'|readable_enum)|trans }}
                                        </label>
                                        <div class="col-sm-2 py-2">
                                            {{ 'organization.semester.from'|trans }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_widget(form.matchingPreference.firstSemesterStart) }}
                                            {{ form_errors(form.matchingPreference.firstSemesterStart) }}
                                        </div>
                                        <div class="col-sm-1 py-2">
                                            {{ 'organization.semester.to'|trans }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_widget(form.matchingPreference.firstSemesterEnd) }}
                                            {{ form_errors(form.matchingPreference.firstSemesterEnd) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mt-4">
                                        <label class="col-sm-3 col-form-label">
                                            {{ ('second_semester'|readable_enum)|trans }}
                                        </label>
                                        <div class="col-sm-2 py-2">
                                            {{ 'organization.semester.from'|trans }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_widget(form.matchingPreference.secondSemesterStart) }}
                                            {{ form_errors(form.matchingPreference.secondSemesterStart) }}
                                        </div>
                                        <div class="col-sm-1 py-2">
                                            {{ 'organization.semester.to'|trans }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_widget(form.matchingPreference.secondSemesterEnd) }}
                                            {{ form_errors(form.matchingPreference.secondSemesterEnd) }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group row mt-4">
                                        <label class="col-sm-3 col-form-label">
                                            {{ ('all_year'|readable_enum)|trans }}
                                        </label>
                                        <div class="col-sm-2 py-2">
                                            {{ 'organization.semester.from'|trans }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_widget(form.matchingPreference.firstSemesterStart) }}
                                            {{ form_errors(form.matchingPreference.firstSemesterStart) }}
                                        </div>
                                        <div class="col-sm-1 py-2">
                                            {{ 'organization.semester.to'|trans }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_widget(form.matchingPreference.secondSemesterEnd) }}
                                            {{ form_errors(form.matchingPreference.secondSemesterEnd) }}
                                        </div>
                                    </div>

                                    {{ form_widget(form.matchingPreference.firstSemesterEnd) }}
                                    {{ form_widget(form.matchingPreference.secondSemesterStart) }}
                                {% endif %}
                            </div>

                            {% if not(form.matchingPreference.isRendered()) %}
                                <h4 class="mt-5 mb-md-5">
                                    {{ 'organization.criteria_weight'|trans }}
                                    <img class="tooltip-img" alt="information" data-html="true"
                                         src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                                         data-toggle="tooltip" data-placement="right"
                                         title="{{ 'organization.criteria_weight.tooltip'|trans }}">
                                </h4>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingCityValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingCityValue) }}
                                        {{ form_errors(form.matchingPreference.matchingCityValue) }}
                                    </div>
                                </div>

                                {% for i in 1..constant('App\\Entity\\Institute::MAX_LEVEL') %}
                                    {% set inputName = 'matchingInstituteValue_'~i %}
                                    {% if form.matchingPreference[inputName] is defined %}
                                        <div class="form-group row my-4">
                                            {{ form_label(form.matchingPreference[inputName]) }}
                                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                                {{ form_widget(form.matchingPreference[inputName]) }}
                                                {{ form_errors(form.matchingPreference[inputName]) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingStudyValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingStudyValue) }}
                                        {{ form_errors(form.matchingPreference.matchingStudyValue) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingLevelOfStudyValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingLevelOfStudyValue) }}
                                        {{ form_errors(form.matchingPreference.matchingLevelOfStudyValue) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingLanguageValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingLanguageValue) }}
                                        {{ form_errors(form.matchingPreference.matchingLanguageValue) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingAvailabilityValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingAvailabilityValue) }}
                                        {{ form_errors(form.matchingPreference.matchingAvailabilityValue) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingAgeValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingAgeValue) }}
                                        {{ form_errors(form.matchingPreference.matchingAgeValue) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingHobbyValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingHobbyValue) }}
                                        {{ form_errors(form.matchingPreference.matchingHobbyValue) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.matchingMotivationValue) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.matchingMotivationValue) }}
                                        {{ form_errors(form.matchingPreference.matchingMotivationValue) }}
                                    </div>
                                </div>

                                <h4 class="mt-5 mb-md-5">{{ 'organization.nb_buddies_allowed'|trans }}</h4>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.nbMentors) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.nbMentors) }}
                                        {{ form_errors(form.matchingPreference.nbMentors) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.nbMentees) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.nbMentees) }}
                                        {{ form_errors(form.matchingPreference.nbMentees) }}
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    {{ form_label(form.matchingPreference.nbBuddiesRefusedMax) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.nbBuddiesRefusedMax) }}
                                        {{ form_errors(form.matchingPreference.nbBuddiesRefusedMax) }}
                                    </div>
                                </div>

                                <h4 class="mt-5 mb-md-5">{{ 'organization.alerts'|trans }}</h4>
                                <div class="form-group row mb-4 mt-md-4">
                                    {{ form_label(form.matchingPreference.revivalDelay) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.revivalDelay) }}
                                        {{ form_errors(form.matchingPreference.revivalDelay) }}
                                    </div>
                                </div>

                                <div class="form-group row mt-4">
                                    {{ form_label(form.matchingPreference.unmatchDelay) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.unmatchDelay) }}
                                        {{ form_errors(form.matchingPreference.unmatchDelay) }}
                                    </div>
                                </div>

                                <h4 class="mt-5 mb-md-5">{{ 'organization.matching_validation'|trans }}</h4>
                                <div class="form-group row mb-4 mt-md-4">
                                    {{ form_label(form.matchingPreference.mentorValidationRequired) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form.matchingPreference.mentorValidationRequired) }}
                                        {{ form_errors(form.matchingPreference.mentorValidationRequired) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {{ form_rest(form) }}

        <div id="warning" class="mt-5 mb-4 text-danger">
            {{ form_errors(form) }}
        </div>

        <div class="mt-4 text-right">
            <button class="btn btn-secondary btn--shadow mb-3" type="submit" name="action">
                {{ 'actions.edit'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matching_manager') }}
{% endblock %}
