{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'association.list.title'|trans({}, 'admin') }}</h1>
        </div>
        <div>
            <a class="btn btn-secondary ml-0 my-2" href="{{ path('association_new') }}">
                <i class="fas fa-plus"></i> {{ 'association.list.create.button'|trans({}, 'admin') }}
            </a>
        </div>
        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="associations">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'organization.name'|trans }}</th>
                    <th>{{ 'organization.city'|trans }}</th>
                    <th>{{ 'organization.website'|trans }}</th>
                    <th class="no-export">{{ 'organization.logo'|trans }}</th>
                    <th>Facebook</th>
                    <th>Twitter</th>
                    <th>Instagram</th>
                    <th>{{ 'organization.nb_users'|trans }}</th>
                    <th>{{ 'organization.activated'|trans }}</th>
                    <th class="no-export">{{ 'actions'|trans }}</th>
                </tr>
                <tr id="column-filters">
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th></th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('association') }}
{% endblock %}
