{% extends 'base.html.twig' %}

{% form_theme form
    'Form/_collection_theme.html.twig'
    'Form/_fields.html.twig'
    'Form/_jquery_collection.html.twig'
%}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(form) }}
        <div class="text-center text-primary mb-4">
            <h1>{{ 'association.create'|trans({}, 'admin') }}</h1>
        </div>

        <div class="mb-5">
            <h2 class="f-magenta">{{ 'organization.information'|trans }}</h2>
            <div class="form-group row mt-4">
                {{ form_label(form.name) }}
                <div class="col-sm-8">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            {% if form.country is defined %}
                <div class="form-group row">
                    {{ form_label(form.country) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.country) }}
                        {{ form_errors(form.country) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group row">
                {{ form_label(form.cities) }}
                <div class="col-sm-8">
                    {{ form_widget(form.cities) }}
                    {% if form.cities.vars.prototype.vars.choices|length > 1 or form.cities.vars.prototype.vars.choices|first|length > 1 %}
                        <a href="#" class="btn btn-default {{ form.cities.vars.id }}-collection-action {{ form.cities.vars.id }}-collection-add" data-collection="{{ form.cities.vars.id }}">
                            <i class="fas fa-plus"></i>
                        </a>
                    {% endif %}
                    {{ form_errors(form.cities) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.website) }}
                <div class="col-sm-8">
                    {{ form_widget(form.website) }}
                    {{ form_errors(form.website) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.description) }}
                <div class="col-sm-8">
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.logoFile, null, {'label_attr':{'class': 'col-sm-4'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.logoFile) }}
                    {{ form_help(form.logoFile) }}
                    {{ form_errors(form.logoFile) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 control-label">
                    <i class="fab fa-facebook"></i>
                    Facebook
                    {{ form_errors(form.facebook) }}
                </div>
                <div class="col-sm-8">
                    {{ form_widget(form.facebook) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 control-label">
                    <i class="fab fa-twitter"></i>
                    Twitter
                    {{ form_errors(form.twitter) }}
                </div>
                <div class="col-sm-8">
                    {{ form_widget(form.twitter) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 control-label">
                    <i class="fab fa-instagram"></i>
                    Instagram
                    {{ form_errors(form.instagram) }}
                </div>
                <div class="col-sm-8">
                    {{ form_widget(form.instagram) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.matchingPreference.activated, null, {'label_attr':{'class': 'col-sm-4'}}) }}
                <div class="col-sm-auto">
                    {{ form_widget(form.matchingPreference.activated) }}
                    {{ form_errors(form.matchingPreference.activated) }}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        <div id="warning" class="mt-5 mb-4 text-danger">
            {{ form_errors(form) }}
        </div>

        <div class="mt-4 text-right">
            <button class="btn btn-secondary btn--shadow mb-3" type="submit" name="action">
                {{ 'actions.create'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matching_manager') }}
{% endblock %}
