<div class="container-fluid">
    <div class="p-4 text-center">
        {% if show_mse_button %}
            <a href="{{ path("saml_login") }}" type="button" class="btn btn-outline-primary">
                <img class="icon" alt="mse icon" src="{{ asset('images/logo/mse_icon.svg') }}" width="30" />
                messervices.etudiant.gouv.fr
            </a>

            <hr>
        {% endif %}

        <form id="login_form" action="{{ path("login") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" required="required"
                       autocomplete="email" placeholder="{{ 'user.email' | trans }}">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" required="required"
                       autocomplete="current-password" placeholder="{{ 'user.password' | trans }}">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <div class="form-check abc-checkbox abc-checkbox-primary">
                            <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" />
                            <label class="form-check-label" for="remember_me">
                                {{ 'login.rememberme' | trans }}
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-6 text-right">
                        <p>
                            <a href="{{ path('forgot_password_request') }}">{{ 'login.password.forgot'|trans }}</a>
                        </p>

                        <p>
                            <a href="{{ path('login_link') }}">{{ 'login.not_working'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group mt-4 text-left">
                <button type="submit" id="_submit" name="_submit"
                    class="btn btn-secondary btn--shadow mr-2">{{ 'login.button'|trans }}</button>

                <a id="registration" href="{{ path('registration') }}" class="btn btn-outline-secondary">{{ 'registration.button'|trans }}</a>
            </div>
        </form>
    </div>
</div>
