{% extends 'Home/_layout.html.twig' %}

{% block body %}
    <div class="container white-box management-form p-4 my-5">
        <div class="w-75 mx-auto">
            <h1 class="text-center text-primary">{{ 'login.title'|trans }}</h1>
            <p>{{ 'security.check_email'|trans }}</p>
        </div>
    </div>
{% endblock %}
