{% extends 'Home/_layout.html.twig' %}

{% block body %}
    <div class="container white-box management-form p-4 my-5">
        <div class="w-75 mx-auto">
            <h1 class="text-center text-primary mb-4">{{ 'user.login_link.title'|trans }}</h1>

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>

            <div class="text-right mt-4">
                <input type="submit" value="{{ 'actions.confirm'|trans }}" class="btn btn-secondary" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
