{% extends 'Home/_layout.html.twig' %}

{% block body %}
    <div class="container management-form py-4">
        <h2 class="text-center text-primary">{{ 'login.title'|trans }}</h2>

        {% include 'Security/_login_content.html.twig' with {'isPage': true} %}
    </div>
{% endblock %}
