{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('landing_page') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('landing_page') }}
{% endblock %}

{% block header %}
    {% include 'Home/_navbar.html.twig' %}
{% endblock %}