{% set path = app.request.get('_route') %}
<nav class="bg-primary navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="logo navbar-brand" href="{{ path('homepage', app.request.query.all) }}">
            <img class="img-fluid" src="{{ asset('images/logo/logo-white.png') }}" width="85" alt="homepage">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img width="35" src="{{ asset('images/pictos/burger.jpg') }}" alt="menu">
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if path == 'homepage' %}active{% endif %}">
                    <a class="nav-link text-nowrap" href="{{ path('homepage', app.request.query.all) }}">{{ 'navbar.index'|trans }}</a>
                </li>
                <li class="nav-item {% if path == 'institutions' %}active{% endif %}">
                    <a class="nav-link text-nowrap" href="{{ path('institutions', app.request.query.all) }}">{{ 'navbar.institutions'|trans }}</a>
                </li>
                <li class="nav-item {% if path == 'project' %}active{% endif %}">
                    <a class="nav-link text-nowrap" href="{{ path('project', app.request.query.all) }}">{{ 'navbar.project'|trans }}</a>
                </li>
                <li class="nav-item {% if path == 'partners' %}active{% endif %}">
                    <a class="nav-link text-nowrap" href="{{ path('partners', app.request.query.all) }}">{{ 'navbar.partnership'|trans }}</a>
                </li>
            </ul>

            <div class="row align-items-center">
                {% if app.user %}
                    <div class="col">
                        <a class="btn btn-secondary btn--shadow"  href="{{ path('dashboard') }}">{{ 'navbar.dashboard'|trans }}</a>
                    </div>
                    <div class="col">
                        <a class="nav-link btn-link text-nowrap" href="{{ path('logout') }}">{{ 'navbar.logout'|trans }}</a>
                    </div>
                {% else %}
                    <div class="col">
                        {% if not app.request.query.has('iframe') and app.request.attributes.get('_route') != 'login' %}
                            <button class="btn btn-link btn--login" id="login_button">
                                {{ 'navbar.login'|trans }}
                            </button>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if app.request.attributes.get('_route') != 'registration' %}
                            <a href="{{ path('registration', app.request.query.all) }}"
                               class="btn btn-secondary btn--shadow">
                                {{ 'navbar.signup'|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col">
                    {% include 'Form/_language_switcher.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</nav>
