{% extends 'Home/_layout.html.twig' %}
{% block classBody %}charter{% endblock %}

{% block body %}
    <div class="container my-5 pt-4 text-left markdown-text">
        <div class="row text-center pb-4">
            <div class="col-12">
                <h1 class="text-secondary">{{ 'charter.title'|trans|raw|nl2br }}</h1>
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">1. {{ 'charter.paragraph_1.title'|trans }}</h2>
            <div class="col-12">
                {{ 'charter.paragraph_1.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">2. {{ 'charter.paragraph_2.title'|trans }}</h2>
            <div class="col-12">
                {{ 'charter.paragraph_2.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">3. {{ 'charter.paragraph_3.title'|trans }}</h2>
            <div class="col-12">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_1.title'|trans }}</h4>
                {{ 'charter.paragraph_3.block_1.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_2.title'|trans }}</h4>
                {{ 'charter.paragraph_3.block_2.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_3.title'|trans }}</h4>
                {{ 'charter.paragraph_3.block_3.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_4.title'|trans }}</h4>
                {{ 'charter.paragraph_3.block_4.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_5.title'|trans }}</h4>
                {{ 'charter.paragraph_3.block_5.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">4. {{ 'charter.paragraph_4.title'|trans }}</h2>
            <div class="col-12">
                {{ 'charter.paragraph_4.block_1.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_4.block_2.title'|trans }}</h4>
                {{ 'charter.paragraph_4.block_2.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">5. {{ 'charter.paragraph_5.title'|trans }}</h2>
            <div class="col-12">
                {{ 'charter.paragraph_5.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_5.block_1.title'|trans }}</h4>
                {{ 'charter.paragraph_5.block_1.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_5.block_2.title'|trans }}</h4>
                {{ 'charter.paragraph_5.block_2.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_5.block_3.title'|trans }}</h4>
                {{ 'charter.paragraph_5.block_3.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
    </div>
{% endblock %}
