{% extends 'Home/_layout.html.twig' %}
{% block classBody %}contactUs{% endblock %}

{% block body %}
<div class="container my-5 pt-4">
    <div class="row pb-md-6 pb-4">
        <div class="col-12 text-center">
            <h1 class="text-secondary">{{ 'contact_page.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text pr-md-6 pb-4">
            <h2 class="text-secondary">{{ 'contact_page.qa.title'|trans }}</h2>
            <p class="py-3">{{ 'contact_page.qa.text'|trans|raw|nl2br }}</p>
            <div id="accordion">
                {% for i in 1..6 %}
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapse{{ loop.index }}">
                                {{ ('contact_page.qa.question'~i)|trans|raw|nl2br }}
                            </a>
                        </div>
                        <div id="collapse{{ loop.index }}" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                {{ ('contact_page.qa.answer'~i)|trans|raw|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6 px-2">
            <img src="{{ asset('images/pictures/question-1.jpg')|imagine_filter('width540') }}"
                 class="w-100 rounded mb-4" alt="question">
            <h2 class="text-secondary">{{ 'contact_page.mail.title'|trans }}</h2>
            <p class="my-4">{{ 'contact_page.mail.text'|trans({'%mail%': '<b>buddysystem@ixesn.fr</b>'})|raw|nl2br }}</p>
            &gt; <a href="mailto:buddysystem@ixesn.fr">{{ 'contact_page.mail.link_text'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}
