{% extends 'Home/_layout.html.twig' %}
{% block classBody %}cookie-policy{% endblock %}

{% block body %}
    <div class="container my-5 pt-4 text-left markdown-text">
        <div class="row text-center pb-4">
            <div class="col-12">
                <h1 class="text-secondary">{{ 'cookie_policy.title'|trans }}</h1>
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'cookie_policy.description.title'|trans }}</h2>
            <div class="col-12">
                {{ 'cookie_policy.description.content1'|trans({'%url%': '<a target="_blank" rel="nofollow" href="'~path('homepage', app.request.query.all)~'">buddysystem.eu</a>'})|markdown_to_html|raw|nl2br }}
                {{ 'cookie_policy.description.content2'|trans({'%url%': '<a target="_blank" rel="nofollow" href="'~path('privacy', app.request.query.all)~'">'~'footer.privacy'|trans({}, 'messages', app.user ? app.user.localeLanguage : default_locale)~'</a>'})|markdown_to_html|raw|nl2br }}
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'cookie_policy.definition.title'|trans }}</h2>
            <div class="col-12">
                {{ 'cookie_policy.definition.content1'|trans|markdown_to_html|raw|nl2br }}
                {{ 'cookie_policy.definition.content2'|trans|markdown_to_html|raw|nl2br }}
                {{ 'cookie_policy.definition.content3'|trans|markdown_to_html|raw|nl2br }}
                {{ 'cookie_policy.definition.content4'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'cookie_policy.usage.title'|trans }}</h2>
            <div class="col-12 mt-4">
                <h3 class="mb-4 text-primary">{{ 'cookie_policy.usage.necessary.title'|trans }}</h3>
                {{ 'cookie_policy.usage.necessary.content'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'cookie_policy.option.title'|trans }}</h2>
            <div class="col-12">
                {{ 'cookie_policy.option.content'|trans({'%url%' : "<a target='_blank' href='https://www.internetcookies.org'>internetcookies.org</a>"})|markdown_to_html|raw|nl2br }}
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'cookie_policy.change.title'|trans }}</h2>
            <div class="col-12">
                {{ 'cookie_policy.change.content'|trans({'%url%': '<a style="color:inherit" target="_blank" href="https://www.websitepolicies.com/cookie-policy-generator">WebsitePolicies</a>'})|markdown_to_html|raw|nl2br }}
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'cookie_policy.acceptance.title'|trans }}</h2>
            <div class="col-12">
                {{ 'cookie_policy.acceptance.content'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'cookie_policy.contact.title'|trans }}</h2>
            <div class="col-12">
                {{ 'cookie_policy.contact.content'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
    </div>
{% endblock %}
