{% extends 'Home/_layout.html.twig' %}
{% block classBody %}home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row content-block">
            <div class="d-md-none mt-4 mx-3">
                <img src="{{ asset('images/pictures/students.jpg')|imagine_filter('width540') }}"
                     class="w-100 rounded" alt="students">
            </div>

            <div class="col-md-5 font-weight-bold text">
                <h1 class="text-secondary">{{ 'homepage.banner.text'|trans|raw|nl2br }}</h1>
                <p>{{ 'homepage.banner.description'|trans|raw|nl2br }}</p>

                <a href="{{ path('registration', app.request.query.all) }}" class="btn btn-secondary btn--shadow">
                    {{ 'registration.button'|trans|raw|nl2br }}
                </a>

                <p class="text-muted mt-3 small">{{ 'registration.is_local.tooltip'|trans }}</p>
            </div>
            <div class="offset-md-1 col-md-6 d-none d-md-block">
                <img src="{{ asset('images/pictures/students.jpg')|imagine_filter('width540') }}"
                     class="w-100 rounded-bottom" alt="students">
            </div>
        </div>

        <div class="row why-get-buddy content-block">
            <div class="col-md-4 d-none d-md-block photos">
                <img src="{{ asset('images/pictures/Victoire.png')|imagine_filter('width200') }}"
                     class="back" alt="student - victoire">
                <img src="{{ asset('images/pictures/Tahla.png')|imagine_filter('width200') }}"
                     class="front" alt="student - tahla">
            </div>

            <div class="col-md-8">
                <img src="{{ asset('images/pictos/home_1.png')|imagine_filter('width150') }}" alt="" class="icon">

                <div class="text">
                    <h2 class="text-secondary">
                        {{ 'homepage.paragraph_1.title'|trans|raw|nl2br }}
                    </h2>
                    <p class="mt-4">
                        {{ 'homepage.paragraph_1.text'|trans|raw|nl2br }}
                    </p>
                    <a href="{{ path('registration', app.request.query.all) }}" class="btn btn-secondary btn--shadow">
                        {{ 'registration.button'|trans|raw|nl2br }}
                    </a>
                </div>
            </div>
        </div>

        <hr class="d-none d-md-block">

        <div class="row why-be-buddy content-block">
            <div class="col-md-8">
                <img src="{{ asset('images/pictos/home_2.png')|imagine_filter('width200') }}" alt="" class="icon d-md-none">

                <div class="text">
                    <div class="row">
                        <h2 class="text-secondary col-12 col-md-7 mt-auto">
                            {{ 'homepage.paragraph_2.title'|trans|raw|nl2br }}
                        </h2>
                        <img src="{{ asset('images/pictos/home_2.png')|imagine_filter('width200') }}" alt="" class="icon d-none d-md-block">
                    </div>
                    <p class="mt-4">
                        {{ 'homepage.paragraph_2.text'|trans|raw|nl2br }}
                    </p>
                    <a href="{{ path('registration', app.request.query.all) }}" class="btn btn-secondary btn--shadow">
                        {{ 'registration.button'|trans|raw|nl2br }}
                    </a>
                </div>
            </div>

            <div class="col-md-4 d-none d-md-block photos">
                <img src="{{ asset('images/pictures/Mary.png')|imagine_filter('width300') }}"
                     class="front" alt="student - mary">
            </div>
        </div>

        <hr class="d-none d-md-block">

        <div class="how-works content-block">
            <h2 class="text-secondary d-md-none mb-4">
                {{ 'homepage.paragraph_3.title'|trans|raw|nl2br }}
            </h2>
            <div class="row">
                <div class="col-md-5">
                    <img src="{{ asset('images/pictos/home_3.png') }}" alt="" class="icon">

                    <div class="vertical-row">
                        <div class="first">
                            <p>{{ 'homepage.paragraph_3.step1'|trans|raw }}</p>
                        </div>

                        <div class="second">
                            <p>{{ 'homepage.paragraph_3.step2'|trans|raw }}</p>
                        </div>

                        <div class="third">
                            <p>{{ 'homepage.paragraph_3.step3'|trans|raw }}</p>
                        </div>
                    </div>
                </div>
                <div class="offset-md-1 col-md-6">
                    <div class="text">
                        <h2 class="text-secondary d-none d-md-block">
                            {{ 'homepage.paragraph_3.title'|trans|raw|nl2br }}
                        </h2>
                        <p class="mt-4">
                            {{ 'homepage.paragraph_3.text'|trans|raw|nl2br }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ready content-block">
            <img src="{{ asset('images/pictos/home_4.png')|imagine_filter('width200') }}" alt="" class="icon">

            <p class="text-secondary my-3">
                {{ 'home.prefooter.readytostart'|trans }}
            </p>

            <a href="{{ path('registration', app.request.query.all) }}" class="btn btn-secondary btn--shadow mb-4">
                {{ 'registration.button'|trans|raw|nl2br }}
            </a>

            <p class="font-weight-bold">
                {{ 'registration.is_local.tooltip'|trans|nl2br }}
            </p>

            <p class="text-secondary mt-4">
                {{ 'home.prefooter.notconvincedyet'|trans|raw|nl2br }}
            </p>

            <a href="{{ path('project', app.request.query.all) }}">
                {{ 'home.prefooter.project.button'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
