{% extends 'Home/_layout.html.twig' %}
{% block classBody %}institutions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('institutions') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('institutions') }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row content-block">
            <div class="d-md-none mt-4 mx-3">
                <img src="{{ asset('images/pictures/institutions-1.jpg')|imagine_filter('width540') }}"
                     class="w-100 rounded" alt="university">
            </div>

            <div class="col-md-5 text">
                <h1 class="text-secondary">{{ 'institutions.paragraph_1.title'|trans|raw|nl2br }}</h1>
                <p>
                    {{ 'institutions.paragraph_1.text'|trans|raw|nl2br }}
                </p>
            </div>
            <div class="offset-md-1 col-md-6 d-none d-md-block">
                <img src="{{ asset('images/pictures/institutions-1.jpg')|imagine_filter('width540') }}"
                     class="w-100 rounded-bottom" alt="university">
            </div>
        </div>

        <div class="content-block">
            <img src="{{ asset('images/pictos/institutions_1.png')|imagine_filter('width200') }}" class="icon d-md-none"
                 alt="">

            <div class="row text">
                <div class="col-md-8">
                    <h2 class="text-secondary">
                        {{ 'institutions.paragraph_2.title'|trans|raw|nl2br }}
                    </h2>

                    <p>
                        {{ 'institutions.paragraph_2.text'|trans|raw|nl2br }}
                    </p>
                </div>
                <div class="col-md-4 my-auto">
                    <img src="{{ asset('images/pictos/institutions_1.png')|imagine_filter('width300') }}"
                         class="icon mx-auto d-md-block d-none" alt="">
                </div>
            </div>
        </div>

        <div class="content-block platform mt-7">
            <h2 class="text-secondary">
                {{ 'institutions.paragraph_4.title'|trans|raw|nl2br }}
            </h2>
            <div class="row text-center mt-4">
                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/RGPD.png')|imagine_filter('width150') }}" alt="RGPD" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_1.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_1.text'|trans|raw|nl2br }}</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/Bonne_pratique.png')|imagine_filter('width150') }}"
                             alt="good practice" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_2.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_2.text'|trans|raw|nl2br }}</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/Language.png')|imagine_filter('width150') }}"
                             alt="language" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_3.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_3.text'|trans|raw|nl2br }}</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/Matching.png')|imagine_filter('width150') }}"
                             alt="matching" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_4.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_4.text'|trans|raw|nl2br }}</p>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/Deal.png')|imagine_filter('width150') }}" alt="deal" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_5.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_5.text'|trans|raw|nl2br }}</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/Campus.png')|imagine_filter('width150') }}" alt="campus" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_6.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_6.text'|trans|raw|nl2br }}</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/Accessibility.png')|imagine_filter('width150') }}"
                             alt="accessibility" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_7.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_7.text'|trans|raw|nl2br }}</p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="img-container">
                        <img src="{{ asset('images/pictos/Help.png')|imagine_filter('width150') }}" alt="help" class="img-fluid">
                    </div>
                    <div class="title-container">
                        <h3 class="text-secondary">{{ 'institutions.paragraph_4.block_8.title'|trans|raw|nl2br }}</h3>
                    </div>
                    <p>{{ 'institutions.paragraph_4.block_8.text'|trans|raw|nl2br }}</p>
                </div>
            </div>
        </div>

        <div class="content-block">
            <div class="text-center">
                <a href="{{ path('registration', app.request.query.all) }}" class="btn btn-secondary btn--shadow">
                    {{ 'registration.button'|trans|raw|nl2br }}
                </a>
            </div>

            <div class="text">
                <p class="text-secondary mt-4">
                    {{ 'home.prefooter.notconvincedyet'|trans|raw|nl2br }}
                </p>

                <hr>

                <p>
                    <a href="{{ path('project', app.request.query.all) }}">
                        {{ 'home.prefooter.project.button'|trans }}
                    </a>
                </p>

                <p>
                    <a href="{{ path('partners', app.request.query.all) }}">
                        {{ 'home.prefooter.partners.button'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
