{% extends 'Home/_layout.html.twig' %}
{% block classBody %}partners{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('institutions') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('institutions') }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row content-block">
            <div class="d-md-none mt-4 mx-3">
                <img src="{{ asset('images/pictures/partners-1.png')|imagine_filter('width540') }}" class="w-100 rounded" alt="students">
            </div>

            <div class="col-md-5 text">
                <h1 class="text-secondary">{{ 'partners.paragraph_1.title'|trans|raw|nl2br }}</h1>
                <p>
                    {{ 'partners.title'|trans|raw|nl2br }}
                    <br>
                    <br>
                    {{ 'partners.paragraph_1.text'|trans|raw|nl2br }}
                </p>
            </div>
            <div class="offset-md-1 col-md-4 d-none d-md-block">
                <img src="{{ asset('images/pictures/partners-1.png')|imagine_filter('width540') }}" class="w-100 rounded-bottom" alt="students">
            </div>
        </div>
        
        <div class="content-block partners">
            <h2 class="text-secondary">
                {{ 'partners.banner.title'|trans|raw|nl2br }}
            </h2>
            <div class="row mb-4">
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/EU_flag-Erasmus+_vect_POS.png') }}" alt="Erasmus +">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logoESNINT.png') }}" alt="ESN International">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logoEUF.png') }}" alt="EUF">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logo_crous.png') }}" alt="Crous">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logoUNIUEF.png') }}" alt="University Eastern Finland">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logoUNIHERT.png') }}" alt="University Hertfordshire">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logo_education_nationale.png') }}" alt="Ministère education nationale">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/mesri_logo.svg_.png') }}" alt="Ministère enseignement supérieur">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logo_campus_france.png') }}" alt="Campus france">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logoUNIWIEN.png') }}" alt="University Wien">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/logo_cpu.jpg') }}" alt="Conférence des présidents d'université">
                </div>
                <div class="col-6 col-lg-2 col-md-4 img-container">
                    <img class="img-fluid" src="{{ asset('images/partners/Logo-FH.png') }}" alt="Fondation Hippocrene">
                </div>
            </div>
        </div>
        <div class="content-block institutions-logo">
            <h2 class="text-secondary">
                {{ 'institutions.paragraph_3.title'|trans|raw|nl2br }}
            </h2>
            <div class="slider">
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/saclay.png')|imagine_filter('width250') }}"
                         alt="Paris Saclay">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/eicar.png')|imagine_filter('width250') }}"
                         alt="EICAR">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Herfordshire.png')|imagine_filter('width250') }}"
                         alt="Herfordshire">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/neoma.png')|imagine_filter('width250') }}"
                         alt="NEOMA">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/univ-lorraine.png')|imagine_filter('width250') }}"
                         alt="Université de Lorraine">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Athens.png')|imagine_filter('width250') }}"
                         alt="Athens">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/aix-marseille-university.png')|imagine_filter('width250') }}"
                         alt="Université Aix-Marseille">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/champagne-ardenne.png')|imagine_filter('width250') }}"
                         alt="Université Champagne-Ardenne">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Bruxelles.png')|imagine_filter('width250') }}"
                         alt="Bruxelles">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/ens.png')|imagine_filter('width250') }}"
                         alt="École normale supérieure">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/em-lyon.png')|imagine_filter('width250') }}" alt="EM Lyon">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Magnus.png')|imagine_filter('width250') }}"
                         alt="Magnus university">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-de-pau.png')|imagine_filter('width250') }}"
                         alt="Université de Pau">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-grenoble.png')|imagine_filter('width250') }}"
                         alt="Université de Grenoble">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Pavia.png')|imagine_filter('width250') }}"
                         alt="Pavia">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-tours.png')|imagine_filter('width250') }}"
                         alt="Université de Tours">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/insa-rouen.png')|imagine_filter('width250') }}"
                         alt="INSA Rouen">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Zurich.png')|imagine_filter('width250') }}"
                         alt="Zurich">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/ecole-du-louvre.png')|imagine_filter('width250') }}"
                         alt="Ecole du Louvre">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-picardie.png')|imagine_filter('width250') }}"
                         alt="Université de Picardie">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Torino.png')|imagine_filter('width250') }}"
                         alt="Torino">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/pole-universitaire-de-vinci.png')|imagine_filter('width250') }}"
                         alt="Pole Universitaire de Vinci">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/sorbonne-nouvelle.png')|imagine_filter('width250') }}"
                         alt="Sorbonne Nouvelle">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Warwsaw.png')|imagine_filter('width250') }}"
                         alt="Warwsaw">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/ecole-polytechnique-paris.png')|imagine_filter('width250') }}"
                         alt="polytechnique Paris">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/GEM-grenoble.png')|imagine_filter('width250') }}"
                         alt="polytechnique Paris">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/essec.jpg')|imagine_filter('width250') }}"
                         alt="polytechnique Paris">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Paris-1.jpg')|imagine_filter('width250') }}"
                         alt="polytechnique Paris">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/UniversiteParisCite.jpg')|imagine_filter('width250') }}"
                         alt="polytechnique Paris">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Paris-school-of-business.png')|imagine_filter('width250') }}"
                         alt="polytechnique Paris">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-de-la-reunion.png')|imagine_filter('width250') }}"
                         alt="Université de la Réunion">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-saint-etienne.png')|imagine_filter('width250') }}"
                         alt="Université de Saint-Etienne">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/Tubingen.png')|imagine_filter('width250') }}"
                         alt="Tubingen">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/ensa-nantes.png')|imagine_filter('width250') }}"
                         alt="ENSA Nantes">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/ulco.png')|imagine_filter('width250') }}"
                         alt="ULCO">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-du-havre.png')|imagine_filter('width250') }}"
                         alt="Université du Havre">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="{{ asset('images/institutions/UAM.png')|imagine_filter('width250') }}"
                         alt="Madrid">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/universite-angers.png')|imagine_filter('width250') }}"
                         alt="Université d'Angers">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/paris-13.png')|imagine_filter('width250') }}"
                         alt="Paris 13">
                </div>
                <div class="slide">
                    <img class="img-fluid"
                         src="{{ asset('images/institutions/paris-nanterre.png')|imagine_filter('width250') }}"
                         alt="Paris Nanterre">
                </div>
            </div>
        </div>

        <div class="content-block">
            <div class="row d-none d-md-flex">
                <div class="col-md-5 text">
                    <p class="text-secondary mt-4">
                        {{ 'home.prefooter.readytostart'|trans }}
                    </p>

                    <a href="{{ path('registration', app.request.query.all) }}"
                       class="btn btn-secondary btn--shadow mb-4">
                        {{ 'registration.button'|trans|raw|nl2br }}
                    </a>

                    <p class="text-secondary mt-4">
                        {{ 'home.prefooter.notconvincedyet'|trans|raw|nl2br }}
                    </p>

                    <hr>

                   <a href="{{ path('project', app.request.query.all) }}">
                        {{ 'home.prefooter.project.button'|trans }}
                    </a>
                </div>
                <div class="offset-md-1 col-md-6">
                    <img src="{{ asset('images/pictures/partners-2.jpg')|imagine_filter('width540') }}"
                         class="w-100 rounded" alt="students">
                </div>
            </div>

            <div class="d-md-none ready">
                <p class="text-secondary">
                    {{ 'home.prefooter.readytostart'|trans }}
                </p>

                <div class="button-on-picture">
                    <img src="{{ asset('images/pictures/partners-2.jpg')|imagine_filter('width540') }}"
                         class="rounded" alt="students">

                    <a href="{{ path('registration', app.request.query.all) }}"
                       class="btn btn-secondary btn--shadow">
                        {{ 'registration.button'|trans|raw|nl2br }}
                    </a>
                </div>

                <p class="text-secondary mt-4">
                    {{ 'home.prefooter.notconvincedyet'|trans|raw|nl2br }}
                </p>

                <hr>

               <a href="{{ path('project', app.request.query.all) }}">
                        {{ 'home.prefooter.project.button'|trans }}
                    </a>
            </div>
        </div>
    </div>
{% endblock %}

