{% extends 'Home/_layout.html.twig' %}
{% block classBody %}privacy-policy{% endblock %}

{% block body %}
    <div class="container my-5 pt-4 text-left markdown-text">
        <div class="row text-center pb-4">
            <div class="col-12">
                <h1 class="text-secondary">{{ 'privacy_policy.title'|trans }}</h1>
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">1. {{ 'privacy_policy.general.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.general.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">2. {{ 'privacy_policy.information.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.information.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">3. {{ 'privacy_policy.collected.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.collected.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">4. {{ 'privacy_policy.recipients.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.recipients.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">5. {{ 'privacy_policy.messages.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.messages.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">6. {{ 'privacy_policy.transfert.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.transfert.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">7. {{ 'privacy_policy.protect.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.protect.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">8. {{ 'privacy_policy.gdpr.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.gdpr.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">9. {{ 'privacy_policy.cookie.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.cookie.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">10. {{ 'privacy_policy.confidentiality.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.confidentiality.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">11. {{ 'privacy_policy.links.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.links.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">12. {{ 'privacy_policy.online.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.online.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">13. {{ 'privacy_policy.consent.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.consent.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">14. {{ 'privacy_policy.unsubscribe.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.unsubscribe.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">15. {{ 'privacy_policy.changes.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.changes.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">16. {{ 'privacy_policy.contact.title'|trans }}</h2>
            <div class="col-12">
                {{ 'privacy_policy.contact.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
    </div>
{% endblock %}
