{% extends 'Home/_layout.html.twig' %}
{% block classBody %}project{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('project') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('project') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row content-block">
            <div class="d-md-none mt-4 mx-3">
                <img src="{{ asset('images/pictures/project-1.png')|imagine_filter('width540') }}"
                     class="w-100 rounded" alt="students">
            </div>

            <div class="col-md-5 text">
                <h1 class="text-secondary">{{ 'project.banner.title'|trans|raw|nl2br }}</h1>

                <p>{{ 'project.paragraph_1.text'|trans|raw|nl2br }}</p>
            </div>
            <div class="offset-md-1 col-md-6 d-none d-md-block">
                <img src="{{ asset('images/pictures/project-1.png')|imagine_filter('width540') }}"
                     class="w-100 rounded-bottom" alt="students">
            </div>
        </div>

        <div class="content-block">
            <img src="{{ asset('images/pictos/project_1.png')|imagine_filter('width200') }}"
                 class="icon d-md-none" alt="">

            <div class="row">
                <div class="col-md-6">
                    <div class="text">
                        <h2 class="text-secondary">
                            {{ 'project.paragraph_2.title'|trans|raw|nl2br }}
                        </h2>
                        <p class="mt-4">
                            {{ 'project.paragraph_2.text'|trans|raw|nl2br }}
                        </p>
                    </div>
                </div>

                <div class="col-md-6 my-auto">
                    <img src="{{ asset('images/pictos/project_1.png')|imagine_filter('width300') }}"
                         class="icon mx-auto d-md-block d-none" alt="">
                </div>
            </div>
        </div>

        <div class="content-block">
            <img src="{{ asset('images/pictos/project_2.png')|imagine_filter('width200') }}"
                 class="icon d-md-none" alt="">

            <div class="row">
                <div class="col-md-6">
                    <div class="text">
                        <h2 class="text-secondary">
                            {{ 'project.block_1.title'|trans|raw|nl2br ~ ' & ' ~ 'project.block_2.title'|trans|raw|nl2br }}
                        </h2>
                        <p class="mt-4">
                            {{ 'project.block_1.text'|trans|raw|nl2br }}
                            <br>
                            <br>
                            {{ 'project.block_2.text'|trans|raw|nl2br }}
                        </p>
                    </div>
                </div>

                <div class="col-md-6 my-auto">
                    <img src="{{ asset('images/pictos/project_2.png')|imagine_filter('width300') }}"
                         class="icon mx-auto d-md-block d-none" alt="">
                </div>
            </div>
        </div>

        <div class="content-block row">
            <div class="col-md-6 my-auto">
                <img src="{{ asset('images/pictos/project_3.png')|imagine_filter('width300') }}"
                     class="icon mx-auto d-block" alt="">
            </div>

            <div class="col-md-6">
                <div class="text">
                    <h2 class="text-secondary">
                        {{ 'project.paragraph_3.title'|trans|raw|nl2br }}
                    </h2>
                    <p class="mt-4">
                        {{ 'project.paragraph_3.block1'|trans|raw|nl2br }}
                        <br>
                        <br>
                        {{ 'project.paragraph_3.block2'|trans({'%file%': '<a href="'~ asset('docs/The_buddy_programs_practices_in_Europe.pdf') ~'" download="The_buddy_programs_practices_in_Europe.pdf">'~ 'here'|trans ~'</a>'})|raw|nl2br }}
                        <br>
                        <br>
                        {{ 'project.paragraph_3.block3'|trans|raw|nl2br }}
                        <br>
                        <br>
                        {{ 'project.paragraph_3.block4'|trans|raw|nl2br }}
                    </p>
                </div>
            </div>
        </div>

        <div class="content-block row">
            <div class="col-md-6 my-auto">
                <img src="{{ asset('images/pictos/project_4.png')|imagine_filter('width300') }}"
                     class="icon mx-auto d-block" alt="">
            </div>

            <div class="col-md-6">
                <div class="text">
                    <h2 class="text-secondary">
                        {{ 'project.paragraph_4.title'|trans|raw|nl2br }}
                    </h2>
                    <p class="mt-4">
                        {{ 'project.paragraph_4.text'|trans|raw|nl2br }}
                    </p>
                </div>
            </div>
        </div>

        <div class="content-block">
            <div class="row d-none d-md-flex">
                <div class="col-md-5 text">
                    <p class="text-secondary mt-4">
                        {{ 'home.prefooter.readytostart'|trans }}
                    </p>

                    <a href="{{ path('registration', app.request.query.all) }}"
                       class="btn btn-secondary btn--shadow mb-4">
                        {{ 'registration.button'|trans|raw|nl2br }}
                    </a>

                    <p class="text-secondary mt-4">
                        {{ 'home.prefooter.notconvincedyet'|trans|raw|nl2br }}
                    </p>

                    <hr>

                    <a href="{{ path('partners', app.request.query.all) }}">
                        {{ 'home.prefooter.partners.button'|trans }}
                    </a>
                </div>
                <div class="offset-md-1 col-md-6">
                    <img src="{{ asset('images/pictures/project-2.png')|imagine_filter('width540') }}"
                         class="w-100 rounded" alt="students">
                </div>
            </div>

            <div class="d-md-none ready">
                <p class="text-secondary">
                    {{ 'home.prefooter.readytostart'|trans }}
                </p>

                <div class="button-on-picture">
                    <img src="{{ asset('images/pictures/project-2.png')|imagine_filter('width540') }}"
                         class="rounded" alt="students">

                    <a href="{{ path('registration', app.request.query.all) }}"
                       class="btn btn-secondary btn--shadow">
                        {{ 'registration.button'|trans|raw|nl2br }}
                    </a>
                </div>

                <p class="text-secondary mt-4">
                    {{ 'home.prefooter.notconvincedyet'|trans|raw|nl2br }}
                </p>

                <hr>

                <a href="{{ path('partners', app.request.query.all) }}">
                    {{ 'home.prefooter.partners.button'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
