{% extends 'Home/_layout.html.twig' %}
{% block classBody %}terms-of-use{% endblock %}

{% block body %}
    <div class="container my-5 pt-4 text-left markdown-text">
        <div class="row text-center pb-4">
            <div class="col-12">
                <h1 class="text-secondary">{{ 'terms_of_use.title'|trans }}</h1>
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.subject.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.subject.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.definitions.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.definitions.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.registration.title'|trans }}</h2>
            <div class="col-12 mt-4">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.registration.title1'|trans }}</h3>
                {{ 'terms_of_use.registration.block1'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.registration.title2'|trans }}</h3>
                {{ 'terms_of_use.registration.block2'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.registration.title3'|trans }}</h3>
                {{ 'terms_of_use.registration.block3'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.services.title'|trans }}</h2>
            <div class="col-12 mt-4">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.services.title1'|trans }}</h3>
                {{ 'terms_of_use.services.block1'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.services.title2'|trans }}</h3>
                {{ 'terms_of_use.services.block2'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12 mt-4">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.services.title3'|trans }}</h3>
                <h4 class="mt-4">{{ 'terms_of_use.services.title31'|trans }}</h4>
                {{ 'terms_of_use.services.block31'|trans|markdown_to_html|raw|nl2br }}
                <h4 class="mt-4">{{ 'terms_of_use.services.title32'|trans }}</h4>
                {{ 'terms_of_use.services.block32'|trans|markdown_to_html|raw|nl2br }}
                <h4 class="mt-4">{{ 'terms_of_use.services.title33'|trans }}</h4>
                {{ 'terms_of_use.services.block33'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.financial.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.financial.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.noncommercial.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.noncommercial.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.undertaking.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.undertaking.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.suspension.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.suspension.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.data.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.data.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.intellectual.title'|trans }}</h2>
            <div class="col-12">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.intellectual.title1'|trans }}</h3>
                {{ 'terms_of_use.intellectual.block1'|trans|markdown_to_html|raw|nl2br }}
            </div>
            <div class="col-12">
                <h3 class="mb-4 text-primary">{{ 'terms_of_use.intellectual.title2'|trans }}</h3>
                {{ 'terms_of_use.intellectual.block2'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.role.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.role.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.operation.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.operation.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.modification.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.modification.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.applicable.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.applicable.block'|trans|markdown_to_html|raw|nl2br }}
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="mb-4 text-secondary text-uppercase">{{ 'terms_of_use.legal.title'|trans }}</h2>
            <div class="col-12">
                {{ 'terms_of_use.legal.block'|trans({'%url2%': path('project', app.request.query.all), '%url3%': path('partners') })|markdown_to_html|raw|nl2br }}
            </div>
        </div>
    </div>
{% endblock %}
