{% extends 'base.html.twig' %}

{% block body %}
    <div class="inbox container p-0 my-4 white-box">
        <div id="messaging-app" class="inbox__wrapper" data-user="{{ user|json_encode }}" data-new_thread="{{ newThread|json_encode }}">
            <div class="small-loader-loading my-4"><div class="small-loader"></div></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('messaging') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('messaging') }}
{% endblock %}
