{% extends 'base.html.twig' %}

{% block body %}
    <div class="container white-box p-3 mt-5 mb-5">
        <div class="text-center text-primary mb-4">
            <h1>{{ 'institute.delegate_rights'|trans }}</h1>
        </div>

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="institutes" data-admin="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) }}">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'organization.name'|trans }}</th>
                    <th>{{ 'institute.parents'|trans }}</th>
                    <th>{{ 'institute.association_linked'|trans }}</th>
                    <th class="no-export">{{ 'institute.rights'|trans }}</th>
                </tr>
                <tr id="column-filters">
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for association in associations %}
                                <option value="{{ association.id }}">{{ association.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('institute_delegate_rights') }}
{% endblock %}
