{% extends 'base.html.twig' %}

{% form_theme form
    'Form/_collection_theme.html.twig'
    'Form/_fields.html.twig'
    'Form/_jquery_collection.html.twig'
%}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(form) }}
        <div class="text-primary text-center mb-4">
            <h1>{{ 'institute.edit_preferences'|trans }}</h1>
        </div>

        <div class="row col-sm-12 mb-4">
            {{ 'institute.edit_preferences.current_institute'|trans({'%institute%': '&nbsp;<b>'~institute.fullname~'</b>'})|raw }}
        </div>

        <div class="form-group row">
            {{ form_label(form.activated, null, {'label_attr':{'class': 'col-sm-2'}}) }}
            <div class="col-sm-auto">
                {{ form_widget(form.activated) }}
                {{ form_errors(form.activated) }}
            </div>
        </div>

        <div class="accordion" id="accordion-preferences">
            <div class="card">
                <a class="card-header btn accordion_button" data-toggle="collapse" href="#collapse_matching-preferences"
                   role="button" aria-expanded="false" aria-controls="collapse_matching-preferences">
                    <span>{{ 'organization.matching_preference'|trans }}</span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </a>

                <div id="collapse_matching-preferences" class="collapse">
                    <div class="card-body">
                        <div class="mb-5">
                            <h4>{{ 'organization.criteria.management'|trans }}</h4>

                            {% if form.lowerLevelManagement is defined %}
                                <div class="form-group row">
                                    {{ form_label(form.lowerLevelManagement, null, {'label_attr':{'class': 'col-sm-7'}}) }}
                                    <div class="col-sm-auto">
                                        {{ form_widget(form.lowerLevelManagement) }}
                                        {{ form_errors(form.lowerLevelManagement) }}
                                    </div>
                                </div>
                                <p id="lowerLevelManagement_manager"
                                   class="{{ form.lowerLevelManagement.vars.checked == false ? 'd-none' }}">
                                    {{ 'institute.criteria.managed_by'|trans }}
                                    {{ lowerLevelManager.name }}
                                </p>
                            {% endif %}

                            {% if upperLevelsManaged|length > 0 %}
                                <p id="lowerLevelManagement_upperManaged"
                                   class="{{ form.lowerLevelManagement is defined and form.lowerLevelManagement.vars.value == 1 ? 'd-none' }}"
                                   style="height: 155px; overflow-y: scroll;">
                                    {{ 'institute.criteria.manager_of'|trans }}
                                    {% for child in upperLevelsManaged %}
                                        <br>
                                        {% for i in 1..child.level %}
                                            &nbsp;
                                        {% endfor %}
                                        {{ child.name }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>

                        <div class="dynamic-form-group">
                            <h4>
                                {{ 'organization.semester'|trans }}
                                <img class="tooltip-img" alt="information" data-html="true"
                                     src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                                     data-toggle="tooltip" data-placement="right"
                                     title="{{ 'organization.nb_weeks_pre_opening.tooltip'|trans }}">
                            </h4>

                            <div class="form-group row">
                                {{ form_label(form.fullYearOnly, null, {'label_attr':{'class': 'col-sm-3'}}) }}
                                <div class="col-sm-auto">
                                    {{ form_widget(form.fullYearOnly) }}
                                    {{ form_errors(form.fullYearOnly) }}
                                </div>
                            </div>

                            {% if not(form.fullYearOnly.vars.checked) %}
                                <div class="form-group row mt-4">
                                    <label class="col-sm-3 col-form-label">
                                        {{ ('first_semester'|readable_enum)|trans }}
                                    </label>
                                    <div class="col-sm-2 py-2">
                                        {{ 'organization.semester.from'|trans }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.firstSemesterStart) }}
                                        {{ form_errors(form.firstSemesterStart) }}
                                    </div>
                                    <div class="col-sm-1 py-2">
                                        {{ 'organization.semester.to'|trans }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.firstSemesterEnd) }}
                                        {{ form_errors(form.firstSemesterEnd) }}
                                    </div>
                                </div>

                                <div class="form-group row mt-4">
                                    <label class="col-sm-3 col-form-label">
                                        {{ ('second_semester'|readable_enum)|trans }}
                                    </label>
                                    <div class="col-sm-2 py-2">
                                        {{ 'organization.semester.from'|trans }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.secondSemesterStart) }}
                                        {{ form_errors(form.secondSemesterStart) }}
                                    </div>
                                    <div class="col-sm-1 py-2">
                                        {{ 'organization.semester.to'|trans }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.secondSemesterEnd) }}
                                        {{ form_errors(form.secondSemesterEnd) }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group row mt-4">
                                    <label class="col-sm-3 col-form-label">
                                        {{ ('all_year'|readable_enum)|trans }}
                                    </label>
                                    <div class="col-sm-2 py-2">
                                        {{ 'organization.semester.from'|trans }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.firstSemesterStart) }}
                                        {{ form_errors(form.firstSemesterStart) }}
                                    </div>
                                    <div class="col-sm-1 py-2">
                                        {{ 'organization.semester.to'|trans }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.secondSemesterEnd) }}
                                        {{ form_errors(form.secondSemesterEnd) }}
                                    </div>
                                </div>

                                {{ form_widget(form.firstSemesterEnd) }}
                                {{ form_widget(form.secondSemesterStart) }}
                            {% endif %}
                        </div>

                        <h4 class="mt-5 mb-md-5">
                            {{ 'organization.criteria_weight'|trans }}
                            <img class="tooltip-img" alt="information" data-html="true"
                                 src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                                 data-toggle="tooltip" data-placement="right"
                                 title="{{ 'organization.criteria_weight.tooltip'|trans }}">
                        </h4>

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingCityValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingCityValue) }}
                                {{ form_errors(form.matchingCityValue) }}
                            </div>
                        </div>

                        {% for i in 1..constant('App\\Entity\\Institute::MAX_LEVEL') %}
                            {% set inputName = 'matchingInstituteValue_'~i %}
                            {% if form[inputName] is defined %}
                                <div class="form-group row my-4">
                                    {{ form_label(form[inputName]) }}
                                    <div class="col-sm-4 my-4 my-md-0 mx-2">
                                        {{ form_widget(form[inputName]) }}
                                        {{ form_errors(form[inputName]) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingStudyValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingStudyValue) }}
                                {{ form_errors(form.matchingStudyValue) }}
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingLevelOfStudyValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingLevelOfStudyValue) }}
                                {{ form_errors(form.matchingLevelOfStudyValue) }}
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingLanguageValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingLanguageValue) }}
                                {{ form_errors(form.matchingLanguageValue) }}
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingAvailabilityValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingAvailabilityValue) }}
                                {{ form_errors(form.matchingAvailabilityValue) }}
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingAgeValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingAgeValue) }}
                                {{ form_errors(form.matchingAgeValue) }}
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingHobbyValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingHobbyValue) }}
                                {{ form_errors(form.matchingHobbyValue) }}
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            {{ form_label(form.matchingMotivationValue) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.matchingMotivationValue) }}
                                {{ form_errors(form.matchingMotivationValue) }}
                            </div>
                        </div>

                        <h4 class="mt-5 mb-md-5">{{ 'organization.nb_buddies_allowed'|trans }}</h4>

                        <div class="form-group row my-4">
                            {{ form_label(form.nbMentors) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.nbMentors) }}
                                {{ form_errors(form.nbMentors) }}
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            {{ form_label(form.nbMentees) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.nbMentees) }}
                                {{ form_errors(form.nbMentees) }}
                            </div>
                        </div>
                        <div class="form-group row my-4">
                            {{ form_label(form.nbBuddiesRefusedMax) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.nbBuddiesRefusedMax) }}
                                {{ form_errors(form.nbBuddiesRefusedMax) }}
                            </div>
                        </div>

                        <h4 class="mt-5 mb-md-5">{{ 'organization.alerts'|trans }}</h4>
                        <div class="form-group row mb-4 mt-md-4">
                            {{ form_label(form.revivalDelay) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.revivalDelay) }}
                                {{ form_errors(form.revivalDelay) }}
                            </div>
                        </div>

                        <div class="form-group row mt-4">
                            {{ form_label(form.unmatchDelay) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.unmatchDelay) }}
                                {{ form_errors(form.unmatchDelay) }}
                            </div>
                        </div>

                        <h4 class="mt-5 mb-md-5">{{ 'organization.matching_validation'|trans }}</h4>
                        <div class="form-group row mb-4 mt-md-4">
                            {{ form_label(form.mentorValidationRequired) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.mentorValidationRequired) }}
                                {{ form_errors(form.mentorValidationRequired) }}
                            </div>
                        </div>

                        {% if form.studiesRequired is defined %}
                            <h4 class="mt-5">
                                {{ 'institute.fields_required'|trans }}
                            </h4>
                            <div class="form-group row">
                                {{ form_label(form.studiesRequired) }}
                                <div class="col-sm-2">
                                    {{ form_widget(form.studiesRequired) }}
                                    {{ form_errors(form.studiesRequired) }}
                                </div>
                                <div class="col-sm-5">
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="{{ path('institute_study_link', {'id': institute.id}) }}" target="_blank">
                                        <i class="fas fa-toggle-on"></i>
                                        {{ 'actions.link_studies'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card">
                <a class="card-header btn accordion_button" data-toggle="collapse"
                   href="#collapse_registration-preferences" role="button" aria-expanded="false"
                   aria-controls="collapse_registration-preferences">
                    <span>{{ 'institute.registration_preference'|trans }}</span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </a>

                <div id="collapse_registration-preferences" class="collapse">
                    <div class="card-body">
                        <div class="form-group row">
                            {{ form_label(form.registrationEmailDomains) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.registrationEmailDomains) }}
                                <a href="#" class="btn btn-default {{ form.registrationEmailDomains.vars.id }}-collection-action {{ form.registrationEmailDomains.vars.id }}-collection-add" data-collection="{{ form.registrationEmailDomains.vars.id }}">
                                    <i class="fas fa-plus"></i>
                                </a>
                                {{ form_errors(form.registrationEmailDomains) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <a class="card-header btn accordion_button" data-toggle="collapse" href="#collapse_bonus-preferences"
                   role="button" aria-expanded="false" aria-controls="collapse_bonus-preferences">
                    <span>{{ 'organization.bonus'|trans }}</span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </a>

                <div id="collapse_bonus-preferences" class="collapse">
                    <div class="card-body">
                        <div class="form-group row">
                            {{ form_label(form.showBonusOption, null, {'label_attr':{'class': 'col-sm-4'}}) }}
                            <div class="col-sm-4 my-4 my-md-0 mx-2">
                                {{ form_widget(form.showBonusOption) }}
                                {{ form_errors(form.showBonusOption) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        <div id="warning" class="mt-5 mb-4 text-danger">
            {{ form_errors(form) }}
        </div>

        <div class="mt-4 text-right">
            <button class="btn btn-secondary btn--shadow mb-3" type="submit" name="action">
                {{ 'actions.edit'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matching_manager') }}
{% endblock %}
