{% extends 'base.html.twig' %}

{% form_theme form
    'Form/_collection_theme.html.twig'
    'Form/_fields.html.twig'
    'Form/_jquery_collection.html.twig'
%}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(form) }}
        <div class="text-primary text-center mb-4">
            <h1>{{ 'institute.edit'|trans }}</h1>
        </div>

        <div class="mb-5">
            <h2 class="f-magenta">{{ 'organization.information'|trans }}</h2>
            <div class="form-group row mt-4">
                {{ form_label(form.name) }}
                <div class="col-sm-8">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            {% if form.country is defined %}
                <div class="form-group row">
                    {{ form_label(form.country) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.country) }}
                        {{ form_errors(form.country) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group row">
                {{ form_label(form.cities) }}
                <div class="col-sm-8">
                    {{ form_widget(form.cities) }}
                    {% if form.cities.vars.prototype.vars.choices|length > 1 or form.cities.vars.prototype.vars.choices|first|length > 1 %}
                        <a href="#" class="btn btn-default {{ form.cities.vars.id }}-collection-action {{ form.cities.vars.id }}-collection-add" data-collection="{{ form.cities.vars.id }}">
                            <i class="fas fa-plus"></i>
                        </a>
                    {% endif %}
                    {{ form_errors(form.cities) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.website) }}
                <div class="col-sm-8">
                    {{ form_widget(form.website) }}
                    {{ form_errors(form.website) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.description) }}
                <div class="col-sm-8">
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            {% if form.schacId is defined %}
                <div class="form-group row">
                    {{ form_label(form.schacId) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.schacId) }}
                        {{ form_errors(form.schacId) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group row">
                {{ form_label(form.logoFile, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-4 col-sm-2">
                    {% if institute.logoName is not null %}
                        <img src="{{ vich_uploader_asset(institute, 'logoFile') }}"
                             width="75" alt="{{ 'institute logo '~ institute.name }}">
                    {% endif %}
                </div>
                <div class="col-sm-6 col-8">
                    {{ form_widget(form.logoFile) }}
                    {{ form_help(form.logoFile) }}
                    {{ form_errors(form.logoFile) }}
                </div>
            </div>
        </div>

        {% if form.parents is defined %}
            <h2 class="f-magenta">{{ 'institute.institute_linked'|trans }}</h2>
            <div class="form-group row">
                {{ form_label(form.parents) }}
                <div class="col-sm-8">
                    {{ form_widget(form.parents) }}
                    <a href="#"
                       class="btn btn-default {{ form.parents.vars.id }}-collection-action {{ form.parents.vars.id }}-collection-add"
                       data-collection="{{ form.parents.vars.id }}">
                        <i class="fas fa-plus"></i>
                    </a>
                    {{ form_errors(form.parents) }}
                </div>
            </div>
        {% endif %}

        {{ form_rest(form) }}

        <div id="warning" class="mt-5 mb-4 text-danger">
            {{ form_errors(form) }}
        </div>

        <div class="mt-4 text-right">
            <button class="btn btn-secondary btn--shadow mb-3" type="submit" name="action">
                {{ 'actions.edit'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matching_manager') }}
{% endblock %}
