{{ form_start(form) }}
<div class="mb-5">
    <div class="form-group row mt-4">
        {{ form_label(form.name, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
        <div class="col-sm-8">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.country, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
        <div class="col-sm-8">
            {{ form_widget(form.country) }}
            {{ form_errors(form.country) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.city, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
        <div class="col-sm-8">
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-4 col-sm-8">
            {{ form_widget(form.cityOther) }}
            {{ form_errors(form.cityOther) }}
        </div>
    </div>
</div>

<div class="text-right">
    <input type="submit" class="btn btn-secondary btn--shadow"
           value="{{ 'actions.confirm'|trans }}"/>
</div>

{{ form_errors(form) }}
{{ form_end(form) }}
