<table class="table table-striped table-hover nowrap custom-datatable" id="institute-finder__table" data-admin="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) }}">
    <thead>
    <tr class="bg-white text-primary">
        <th>{{ 'organization.name'|trans }}</th>
        <th>{{ 'organization.country'|trans }}</th>
        <th>{{ 'organization.city'|trans }}</th>
        <th>{{ 'organization.logo'|trans }}</th>
        <th>{{ 'institute.treeview'|trans }}</th>
    </tr>
    <tr id="column-filters">
        <th class="form-group"><input type="text" class="form-control"></th>
        <th class="form-group">
            <select class="form-control select2selector" multiple>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </th>
        <th class="form-group">
            <select class="form-control select2selector" multiple>
                {% for city in cities %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </th>
        <th></th>
        <th class="form-group">
            <select class="form-control select2selector" multiple>
                {% for institute in institutes %}
                    <option value="{{ institute.id }}">{{ institute.name }}</option>
                {% endfor %}
            </select>
        </th>
    </tr>
    </thead>
</table>

<div class="mt-5 float-right">
    <a href="#" id="institute-finder_not-found">{{ 'institute_finder.button.not_found'|trans }}</a>
</div>