{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'institute.list.title'|trans }}</h1>
        </div>
        <div>
            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) or (is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_INSTITUTE_MANAGER')) and app.user.institute.level != constant('App\\Entity\\Institute::MAX_LEVEL')) %}
                <a class="btn btn-secondary ml-0 my-2" href="{{ path('institute_new') }}">
                    <i class="fas fa-plus"></i> {{ 'institute.list.create.button'|trans }}
                </a>
            {% endif %}

            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_BUDDYCOORDINATOR')) %}
                <a class="btn btn-secondary my-2" href="{{ path('institute_association_link') }}">
                    <i class="fas fa-toggle-on"></i> {{ 'institute.list.association_link.button'|trans }}
                </a>
            {% endif %}

            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_INSTITUTE_MANAGER')) %}
                <a class="btn btn-secondary my-2" href="{{ path('institute_delegate_rights') }}">
                    <i class="fas fa-tasks"></i> {{ 'institute.list.delegated_right.button'|trans }}
                </a>
            {% endif %}
        </div>
        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="institutes" data-admin="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) }}">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'organization.name'|trans }}</th>
                    <th>{{ 'organization.city'|trans }}</th>
                    <th>{{ 'organization.website'|trans }}</th>
                    <th class="no-export">{{ 'organization.logo'|trans }}</th>
                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th>{{ 'association'|trans({}, 'admin') }}</th>
                    {% endif %}
                    <th>{{ 'institute.studies'|trans }}</th>
                    <th>{{ 'organization.nb_users'|trans }}</th>
                    <th>{{ 'institute.level'|trans }}</th>
                    <th>{{ 'institute.treeview'|trans }}</th>
                    <th>{{ 'institute.criteria.managed_by'|trans }}</th>
                    {% if not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th>{{ 'institute.rights'|trans }}</th>
                    {% endif %}
                    <th>{{ 'organization.activated'|trans }}</th>
                    <th class="no-export">{{ 'actions'|trans }}</th>
                </tr>
                <tr id="column-filters">
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th></th>
                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th class="form-group">
                            <select class="form-control select2selector" multiple>
                                {% for association in associations %}
                                    <option value="{{ association.id }}">{{ association.name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    {% endif %}
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for study in studies %}
                                <option value="{{ study.id }}">{{ study.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th></th>
                    <th class="form-group"><input type="number" class="form-control" min="0" max="{{ constant('App\\Entity\\Institute::MAX_LEVEL') }}"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th></th>
                    {% if not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th></th>
                    {% endif %}
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('institute') }}
{% endblock %}
