{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'study.list.title'|trans }}</h1>
        </div>

        <div class="col-md-12 mt-3">
            {{ 'study.list.current_institute'|trans({'%institute%': '&nbsp;<b>'~institute.fullname~'</b>'})|raw }}
        </div>

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="studies" data-id="{{ institute.id }}">
                <thead>
                    <tr class="bg-white">
                        <th>{{ 'name'|trans }}</th>
                        <th>{{ 'list.toggle.available'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for study in studies %}
                    <tr data-id="{{ study.id }}">
                        <td>{{ study.name }}</td>

                        <td>
                            {% include 'Form/_toggle_button.html.twig' with {'object': study, 'isChecked': study.id in studiesManager} %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('study') }}
{% endblock %}
