{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'institute_request.list.title'|trans }}</h1>
        </div>

        <table class="table table-striped table-hover nowrap custom-datatable" id="institutes-requested__table">
            <thead>
            <tr class="bg-white text-primary">
                <th>{{ 'organization.name'|trans }}</th>
                <th>{{ 'organization.country'|trans }}</th>
                <th>{{ 'organization.city'|trans }}</th>
                <th>{{ 'created_at'|trans }}</th>
            </tr>
            <tr id="column-filters">
                <th class="form-group"><input type="text" class="form-control"></th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group"><input type="date" class="form-control"></th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('institute_requested') }}
{% endblock %}
