{% extends 'Home/_layout.html.twig' %}

{% block body %}
    <div class="container white-box management-form p-4 my-5">
        <div class="w-75 mx-auto">
            <h1 class="text-center text-primary">{{ 'registration.complete_iframe.title'|trans }}</h1>
            <p>{{ 'registration.check_email'|trans }}</p>
            <p>{{ 'registration.complete_iframe.redirect'|trans({'%url%': '<a href="'~ baseUrl ~'" target="_blank">'~ baseUrl ~'</a>'})|raw }}</p>
        </div>
    </div>
{% endblock %}
