{% extends 'Home/_layout.html.twig' %}

{% block body %}
    <div class="container pt-4 pb-4">
        <h2 class="text-center text-primary">{{ 'registration.title'|trans }}</h2>

        {% if mode == constant('App\\Enum\\UserProfileTypeEnum::PROFILE_USER') %}
            {% include 'Registration/registration_user.html.twig' %}
        {% else %}
            {% include 'Registration/registration_manager.html.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('register') }}
{% endblock %}
