{% form_theme form 'Form/_fields.html.twig' %}

{{ form_start(form, {'action': path('registration', app.request.query.all)}) }}
<div class="container-fluid no-margin">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="mt-4 form-group form-custom-group">
                <div class="row pl-3">
                    {{ form_widget(form.isLocal) }}
                    {{ form_errors(form.isLocal) }}
                    <div class="text-right ml-2">
                        <img src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                             alt="information"
                             class="tooltip-img"
                             data-toggle="tooltip" data-placement="top"
                             title="{{ 'registration.is_local.tooltip'|trans }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
                {{ form_errors(form.lastName) }}
            </div>
            <div class="form-group input-date row">
                {{ form_label(form.dob) }}
                <div class="col-sm-10">
                    {{ form_widget(form.dob) }}
                    {{ form_errors(form.dob) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.sex) }}
                <div class="col-sm-3">
                    {{ form_widget(form.sex) }}
                    {{ form_errors(form.sex) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.languages) }}
                {{ form_errors(form.languages) }}
            </div>
            <div class="form-group">
                {{ form_row(form.country) }}
                {{ form_errors(form.country) }}
            </div>
            <div class="form-group">
                {{ form_label(form.city, 'registration.city') }}
                {{ form_widget(form.city) }}
                {{ form_errors(form.city) }}
            </div>

            <div class="row col-12">
                {{ form_label(form.institute) }}
                <div class="col-auto">
                    <a href="#" class="institute-finder__link">{{ 'institute_finder.button.help'|trans }}</a>
                </div>
            </div>

            <div class="dynamic-form-group">
                {% for i in 0..constant('App\\Entity\\Institute::MAX_LEVEL')-1 %}
                    {% if form['institute_'~i] is defined %}
                        <div class="form-group">
                            {{ form_widget(form['institute_'~i]) }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    {{ form_widget(form.institute) }}
                </div>
            </div>
            {{ form_errors(form.institute) }}

            <div class="form-group">
                {{ form_row(form.semester) }}
                {{ form_errors(form.semester) }}
            </div>

            <div class="form-group {% if form.studies.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
                {{ form_label(form.studies) }}
                {{ form_widget(form.studies) }}
                {{ form_errors(form.studies) }}
            </div>

            <div class="form-group">
                {{ form_row(form.levelOfStudy) }}
                {{ form_errors(form.levelOfStudy) }}
            </div>

            <div class="form-group d-none">
                {{ form_widget(form.levelOfStudyOther) }}
                {{ form_errors(form.levelOfStudyOther) }}
            </div>

            <div class="form-group {% if form.typeOfMobility.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
                {{ form_row(form.typeOfMobility) }}
                {{ form_errors(form.typeOfMobility) }}
            </div>

            <div class="form-group {% if form.motivation.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
                {{ form_row(form.motivation) }}
                {{ form_errors(form.motivation) }}
            </div>

            <div class="row form-group">
                {{ form_label(form.nbBuddiesWanted) }}
                <div class="col-sm-2">
                    {{ form_widget(form.nbBuddiesWanted) }}
                    {{ form_errors(form.nbBuddiesWanted) }}
                </div>
            </div>

            <div class="row form-group {% if form.bonusOption.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
                {{ form_label(form.bonusOption, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-2 my-auto">
                    {{ form_widget(form.bonusOption) }}
                    {{ form_errors(form.bonusOption) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_widget(form.privacyAccepted, {'label': 'registration.data_use'|trans({'%url%': '<a target="_blank" href="'~ path('privacy', app.request.query.all) ~'">'~ 'footer.privacy'|trans ~'</a> *' })|raw }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.termsOfUse, {'label': 'registration.terms_of_use'|trans({'%url%': '<a target="_blank" href="'~ path('termsOfUse', app.request.query.all) ~'">'~ 'footer.cgu'|trans ~'</a> *' })|raw }) }}
            </div>

            <div class="domain_warning mb-4">
                {% if showDomainWarning is defined and showDomainWarning %}
                    {{ 'registration.email.domain_warning'|trans({'%domains%': allowedDomains})|raw|nl2br }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="text-left">
        <button type="submit" id="_submit" class="btn btn-secondary">
            {{ 'registration.signin'|trans }}
        </button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
