{% form_theme form 'Form/_fields.html.twig' %}

{{ form_start(form) }}
<div class="container-fluid no-margin">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="form-group">
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName,{'attr':{'placeholder': 'user.firstname'|trans}}) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName,{'attr':{'placeholder': 'user.lastname'|trans}}) }}
                {{ form_errors(form.lastName) }}
            </div>
            <div class="form-group">
                {{ form_label(form.languages) }}
                {{ form_widget(form.languages,{'attr':{'class': 'select2selector'}}) }}
                {{ form_errors(form.languages) }}
            </div>
            <div class="form-group">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
                {{ form_errors(form.country) }}
            </div>

            {% if form.city is defined %}
                <div class="form-group">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
            {% endif %}

            {% if form.institute is defined %}
                {{ form_label(form.institute) }}

                <div class="dynamic-form-group">
                    {% for i in 0..constant('App\\Entity\\Institute::MAX_LEVEL')-1 %}
                        {% if form['institute_'~i] is defined %}
                            <div class="form-group">
                                {{ form_widget(form['institute_'~i]) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        {{ form_widget(form.institute) }}
                    </div>
                </div>
                {{ form_errors(form.institute) }}
            {% elseif form.association is defined %}
                <div class="form-group">
                    {{ form_label(form.association) }}
                    {{ form_widget(form.association) }}
                    {{ form_errors(form.association) }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_widget(form.privacyAccepted, {'label': 'registration.data_use'|trans({'%url%': '<a target="_blank" href="'~ path('privacy', app.request.query.all) ~'">'~ 'footer.privacy'|trans ~'</a> *' })|raw }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.termsOfUse, {'label': 'registration.terms_of_use'|trans({'%url%': '<a target="_blank" href="'~ path('termsOfUse', app.request.query.all) ~'">'~ 'footer.cgu'|trans ~'</a> *' })|raw }) }}
            </div>
        </div>
    </div>
    <div class="text-left">
        <button type="submit" id="_submit" class="btn btn-secondary">
            {{ 'registration.signin'|trans }}
        </button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
