@import './helpers/colors';

$theme-colors: (
  "primary": $blue,
  "secondary": $magenta,
  "success": $green,
  "danger": $red,
  "light": $light-blue,
  "white": $white
);

$body-color: $black;
$body-bg: $light-grey;

$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.75)
);

$font-weight-normal:          400;
$font-weight-bold:            800;

$headings-font-weight:        800;

$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.17;
$h4-font-size:                $font-size-base * 1;
$h5-font-size:                $font-size-base * .83;
$h6-font-size:                $font-size-base * .67;

$hr-border-color:             #d9eafe;
$hr-border-width:             2px;

$btn-padding-y:               .8125rem;
$btn-padding-x:               1.25rem;
$btn-border-radius:           1rem;
$btn-font-weight:             800;
$btn-font-size:               .9375rem;
$btn-line-height:             1rem;

$input-padding-y:             .5rem;
$input-padding-x:             .9rem;
$input-border-color:        #b8b8b8;
$input-border-radius:         .6rem;

$card-border-radius:          0.5rem;
$card-spacer-y:               1rem;
$card-spacer-x:               1.5rem;

$border-radius:               2rem;

@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins";
@import "~bootstrap-v4-rtl/scss/root";
@import "~bootstrap-v4-rtl/scss/reboot";
@import "~bootstrap-v4-rtl/scss/type";
@import "~bootstrap-v4-rtl/scss/images";
@import "~bootstrap-v4-rtl/scss/code";
@import "~bootstrap-v4-rtl/scss/grid";
@import "~bootstrap-v4-rtl/scss/tables";
@import "~bootstrap-v4-rtl/scss/forms";
@import "~bootstrap-v4-rtl/scss/buttons";
@import "~bootstrap-v4-rtl/scss/transitions";
@import "~bootstrap-v4-rtl/scss/dropdown";
@import "~bootstrap-v4-rtl/scss/button-group";
@import "~bootstrap-v4-rtl/scss/input-group";
@import "~bootstrap-v4-rtl/scss/custom-forms";
@import "~bootstrap-v4-rtl/scss/nav";
@import "~bootstrap-v4-rtl/scss/navbar";
@import "~bootstrap-v4-rtl/scss/card";
@import "~bootstrap-v4-rtl/scss/pagination";
@import "~bootstrap-v4-rtl/scss/alert";
@import "~bootstrap-v4-rtl/scss/progress";
@import "~bootstrap-v4-rtl/scss/list-group";
@import "~bootstrap-v4-rtl/scss/close";
@import "~bootstrap-v4-rtl/scss/modal";
@import "~bootstrap-v4-rtl/scss/tooltip";
@import "~bootstrap-v4-rtl/scss/utilities";
@import "~bootstrap-v4-rtl/scss/rtl";

$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

/***
// All Bootstrap
@import '~bootstrap-v4-rtl/scss/bootstrap';

// Modules Not imported
@import "~bootstrap-v4-rtl/scss/breadcrumb";
@import "~bootstrap-v4-rtl/scss/badge";
@import "~bootstrap-v4-rtl/scss/jumbotron";
@import "~bootstrap-v4-rtl/scss/media";
@import "~bootstrap-v4-rtl/scss/toasts";
@import "~bootstrap-v4-rtl/scss/popover";
@import "~bootstrap-v4-rtl/scss/carousel";
@import "~bootstrap-v4-rtl/scss/spinners";
@import "~bootstrap-v4-rtl/scss/print";
***/
