@import './vendors';
@import "components/flashbags";
@import "components/loader";
@import "components/toggle-switch";
@import "components/datatable";
@import "components/navbar";
@import "components/footer";
@import "components/form";
@import "components/dropdown";
@import "components/modal";
@import "components/dashboard";
@import "components/match-widget";
@import "components/profile";
@import "components/accordion";
@import "components/bootstrap-slider";
@import "components/file-preview";
@import "helpers/fonts";

body {
  @extend %font-face-latin;
  overflow-x: hidden;

  &.home,
  &.project,
  &.partners {
    background-color: $white;
  }

  &.lang{
    &--ru{ @extend %font-face-cyrillic; }
    &--cn{ @extend %font-face-chinese; }
    &--ar{ @extend %font-face-arabic; }
  }
}


p {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include media-breakpoint-down('md'){
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 13px;
  }
}

.markdown-text {
    p {
        margin-bottom: 0;
    }

    li {
        word-wrap: break-word;
    }
}

.btn {
  text-transform: uppercase;
  white-space: nowrap;

  @include media-breakpoint-down('sm'){
    padding: 0.6rem 0.8rem;
    font-size: 0.65rem;
    white-space: normal;
  }

  &-secondary.btn--shadow {
    box-shadow: 0 3px 5px 0 $btn-shadow;
  }

  &.btn-white {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);

    &,
    &:focus,
    &:active{
      color: theme-color('primary') !important;
    }
  }

  &-outline-warning {
    color: orange;
    border-color: orange;

    &:hover {
      color: white;
      border-color: orangered;
      background-color: orangered;
    }
  }
}

button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

.card {
  box-shadow: 0 0 12px 0 #cfcfcf;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #8798aa;
  color: $black;
  border-radius: 20px;
  text-transform: capitalize;
  margin-bottom: .5rem;
}


.table {
  width: 100% !important;
  td,
  th {
    border-bottom: 1px solid #dee2e6 !important;
  }
}


[dir=rtl]{
  .float-right{
    float: left !important;
  }
  .float-left{
    float: right !important;
  }
}

.tooltip {
  &-img {
    margin-top: -30px;
  }

  &-inner {
    white-space: pre-wrap;
    max-width: 330px;
  }
}

.text-warning {
    color: orange !important;
}

.text-dark {
    color: black !important;
}
