{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'study.list.title'|trans }}</h1>
        </div>

        <div>
            <a class="btn btn-secondary ml-0 my-2" href="{{ path('study_new') }}">
                <i class="fas fa-plus"></i> {{ 'study.list.create.button'|trans({}, 'admin') }}
            </a>
        </div>

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="studies">
                <thead>
                <tr class="bg-white">
                    <th>{{ 'name'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for study in studies %}
                    <tr data-id="{{ study.id }}">
                        <td>{{ study.name }}</td>

                        {% include 'Default/_list_actions.html.twig' with {
                            'urlEdit': path('study_edit', { 'id': study.id }),
                            'deleteClass': 'study_delete'
                        } %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('study') }}
{% endblock %}
