{% extends 'base.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(form) }}
        <div class="text-primary text-center mb-4">
            <h1>{{ 'study.create'|trans({}, 'admin') }}</h1>
            {{ form_errors(form) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.name, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        {{ form_rest(form) }}

        <div class="mt-4 mb-3 text-right">
            <a href="{{ path('study_index') }}" class="btn">{{ 'back_to_the_list'|trans }}</a>
            <button class="btn btn-secondary btn--shadow" type="submit" name="action">
                {{ 'actions.create'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
