{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table m-5 p-3 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'buddy.list.title'|trans }}</h1>
        </div>

        <table class="table table-striped table-hover nowrap custom-datatable" id="buddies" data-admin="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) }}">
            <thead>
            <tr class="bg-white text-primary">
                <th>{{ 'created_at'|trans }}</th>
                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                    <th>{{ 'association'|trans({}, 'admin') }}</th>
                    <th>{{ 'institute'|trans({}, 'admin') }}</th>
                {% endif %}
                <th>{{ 'mentor'|trans }}</th>
                <th>{{ 'mentor.email'|trans }}</th>
                <th>{{ 'mentor.institute'|trans }}</th>
                <th>{{ 'mentee'|trans }}</th>
                <th>{{ 'mentee.email'|trans }}</th>
                <th>{{ 'mentee.institute'|trans }}</th>
                <th>{{ 'user.semester'|trans }}</th>
                <th>{{ 'semester.year'|trans }}</th>
                <th>{{ 'buddy.languagePairing'|trans }}</th>
                <th>{{ 'buddy.confirmed'|trans }}</th>
                <th>{{ 'buddy.refused'|trans }}</th>
                <th>{{ 'buddy.last_message_at'|trans }}</th>
                <th>{{ 'buddy.warned_at'|trans }}</th>
                <th>{{ 'buddy.response_at'|trans }}</th>
                <th>{{ 'buddy.archive'|trans }}</th>
                <th class="no-export">{{ 'actions'|trans }}</th>
            </tr>

            <tr id="column-filters">
                <th class="form-group"><input type="date" class="form-control"></th>
                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for association in associations %}
                                <option value="{{ association.id }}">{{ association.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th></th>
                {% endif %}
                <th class="form-group"><input type="text" class="form-control"></th>
                <th class="form-group"><input type="text" class="form-control"></th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for institute in institutes %}
                            <option value="{{ institute.id }}">{{ institute.name }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group"><input type="text" class="form-control"></th>
                <th class="form-group"><input type="text" class="form-control"></th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for institute in institutes %}
                            <option value="{{ institute.id }}">{{ institute.name }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for key, value in enum_readable_values('SemesterPeriodType') %}
                            <option value="{{ key }}">{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control">
                        <option></option>
                        <option value="1">{{ 'yes'|trans }}</option>
                        <option value="0">{{ 'no'|trans }}</option>
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for key, value in enum_readable_values('BuddyStatusType') %}
                            <option value="{{ key }}">{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for key, value in enum_readable_values('BuddyRefusedType') %}
                            <option value="{{ key }}">{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th></th>
                <th class="form-group"><input type="date" class="form-control"></th>
                <th class="form-group"><input type="date" class="form-control"></th>
                <th class="form-group">
                    <select class="form-control">
                        <option></option>
                        <option value="1">{{ 'yes'|trans }}</option>
                        <option value="0" selected>{{ 'no'|trans }}</option>
                    </select>
                </th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('buddy') }}
{% endblock %}
