<p>
    {{ 'user.current'|trans ~ ': ' }}
    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
</p>

<table class="table table-striped table-hover nowrap custom-datatable" id="list_buddies_user">
    <thead>
    <tr class="bg-white text-primary">
        <th>{{ 'user.firstname'|trans }}</th>
        <th>{{ 'user.lastname'|trans }}</th>
        <th>{{ 'user.arrival'|trans }}</th>
        <th>{{ 'created_at'|trans }}</th>
        <th>{{ 'user.semester'|trans }}</th>
        <th>{{ 'user.institute'|trans }}</th>
        <th>{{ 'user.languages'|trans }}</th>
        <th>{{ 'user.languages_wanted'|trans }}</th>
        <th>{{ 'user.motivation'|trans }}</th>
        <th>{{ 'matching.nb_buddy'|trans }}</th>
        <th>{{ 'matching.nb_buddy_wanted'|trans }}</th>
        <th>{{ 'matching.nb_refusal'|trans }}</th>
        <th>{{ 'matching.nb_warned'|trans }}</th>
        <th>{{ 'matching.nb_removed'|trans }}</th>
        <th>{{ 'matching.nb_report'|trans }}</th>
        <th>{{ 'buddy.confirmed'|trans }}</th>
        {% if user.local %}
            <th>{{ 'buddy.refused'|trans }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for buddy in buddies %}
        {% if user.local %}
            {% set buddy_user = buddy.mentee %}
        {% else %}
            {% set buddy_user = buddy.mentor %}
        {% endif %}
        <tr data-id="{{ buddy_user.id }}">
            <td>{{ buddy_user.firstname }}</td>
            <td>{{ buddy_user.lastname }}</td>
            <td>
                {% if buddy_user.arrival %}
                    {{ buddy_user.arrival|date("d/m/Y") }}
                {% endif %}
            </td>
            <td>
                {% if buddy_user.createdAt %}
                    {{ buddy_user.createdAt|date("d/m/Y") }}
                {% endif %}
            </td>
            <td>{{ (buddy_user.semester.period|readable_enum)|trans }}</td>
            <td>
                {% for parent in buddy_user.institute.parents %}
                    {{ parent.name }}
                    <br>
                {% endfor %}
                {{ buddy_user.institute.name }}
            </td>
            <td>
                {% if buddy_user.languages|length > 0 %}
                    {% for language in buddy_user.languages %}
                        {{ language|language_name|capitalize }}{{ (not loop.last)?'<br>' }}
                    {% endfor %}
                {% else %}
                    {{ 'none'|trans }}
                {% endif %}
            </td>
            <td>
                {% if buddy_user.languagesWanted|length > 0 %}
                    {% for language in buddy_user.languagesWanted %}
                        {{ language|language_name|capitalize }}{{ (not loop.last)?'<br>' }}
                    {% endfor %}
                {% else %}
                    {{ 'none'|trans }}
                {% endif %}
            </td>
            <td>
                {% if buddy_user.motivation is null %}
                    {{ 'none'|trans }}
                {% else %}
                    {{ buddy_user.motivationName }}
                {% endif %}
            </td>
            <td>{{ buddy_user.nbBuddies }}</td>
            <td>{{ buddy_user.nbBuddiesWanted }}</td>
            <td>{{ buddy_user.nbBuddiesRefused }}</td>
            <td>{{ buddy_user.nbWarned }}</td>
            <td>{{ buddy_user.nbBuddiesRemoved }}</td>
            <td>{{ buddy_user.nbReport }}</td>
            <td>{{ (buddy.status|readable_enum)|trans }}</td>
            {% if user.local %}
                <td>{{ (buddy.reasonRefusal|readable_enum('BuddyRefusedType'))|trans }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
