{% set title = '' %}

{% if titleScore is iterable and scoreCriteria is iterable and matchingValue is iterable %}
    {% for titleScoreLine in titleScore %}
        {% set title = title ~ titleScoreLine|trans({'%level%': loop.index}) ~ ' <sup>' ~ scoreCriteria[loop.index0] * matchingValue[loop.index0] ~ '</sup>/<sub>' ~ matchingValue[loop.index0] ~ '</sub>' %}
        {% if not loop.last %}
            {% set title = title ~'<br>'%}
        {% endif %}
    {% endfor %}
{% else %}
    {% set title = titleScore|trans ~ ' <sup>' ~ scoreCriteria * matchingValue ~ '</sup>/<sub>' ~ matchingValue ~ '</sub>' %}
{% endif %}


<span class="tooltip-img" data-html="true" data-toggle="tooltip" data-placement="right"
      title="{{ title }}">
      <i class="fas fa-percent icon"></i>
</span>
