<div class="white-box p-3 text-left">
    <div class="buddy-photo-block text-center">
        {% include('User/_image_user.html.twig') with {'size': '100'} %}
        <div class="text-primary text-uppercase buddy-photo-block__mentee {% if type == 'mentee' %}text-right{% else %}text-left{% endif %}">
            {{ type|trans }}
        </div>
    </div>
    <p class="text-primary mt-2 mb-0">{{ user.firstname }} {{ user.lastname }}</p>
    <p class="text-primary mt-2 mb-0">{{ user.email }}</p>
    <hr>
    <div>
        <p class="account-status"
                {%- if user.histories|length > 0 -%}
                    data-toggle="tooltip" data-placement="right" data-html="true"
                    title="
                        {%- for history in user.histories -%}
                            {{- (history.semester.period|readable_enum)|trans ~ ' '~ history.semester.year ~ ': '~history.nbBuddies -}}
                            {%- if not loop.last -%}
                                <br/>
                            {%- endif -%}
                        {%- endfor -%}"
                {%- endif -%}
        >
            {% if user.nbBuddies > 0 %}
                <a href="#" class="list-buddies_link" data-id="{{ user.id }}">
                    {{ 'matching.nb_buddy'|trans }} : {{ user.nbBuddies }}
                </a>
            {% else %}
                {{ 'matching.nb_buddy'|trans }} : {{ user.nbBuddies }}
            {% endif %}
        </p>
        <p class="account-status"
                {%- if user.histories|length > 0 -%}
                    data-toggle="tooltip" data-placement="right" data-html="true"
                    title="
                        {%- for history in user.histories -%}
                            {{- (history.semester.period|readable_enum)|trans ~ ' ' ~ history.semester.year ~ ': ' ~ history.nbReport -}}
                            {%- if not loop.last -%}
                                <br/>
                            {%- endif -%}
                        {%- endfor -%}"
                {%- endif -%}
        >
            {% if user.nbReport > 0 %}
                <a href="#" class="list-reports_link" data-id="{{ user.id }}">
                    {{ 'matching.nb_report'|trans }} : {{ user.nbReport }}
                </a>
            {% else %}
                {{ 'matching.nb_report'|trans }} : {{ user.nbReport }}
            {% endif %}
        </p>
        {% if type == 'mentor' %}
            <p class="account-status"
                {%- if user.histories|length > 0 -%}
                    data-toggle="tooltip" data-placement="right" data-html="true"
                    title="
                        {%- for history in user.histories -%}
                            {{- (history.semester.period|readable_enum)|trans ~ ' ' ~ history.semester.year ~ ': ' ~ history.nbBuddiesRefused -}}
                            {%- if not loop.last -%}
                                <br/>
                            {%- endif -%}
                        {%- endfor -%}"
                {%- endif -%}
            >
                {% if user.nbBuddiesRefused > 0 %}
                    <a href="#" class="list-buddies-refused_link" data-id="{{ user.id }}">
                        {{ 'matching.nb_refusal'|trans }} : {{ user.nbBuddiesRefused }}
                    </a>
                {% else %}
                    {{ 'matching.nb_refusal'|trans }} : {{ user.nbBuddiesRefused }}
                {% endif %}
            </p>
            <p class="account-status"
                    {%- if user.histories|length > 0 -%}
                        data-toggle="tooltip" data-placement="right" data-html="true"
                        title="
                            {%- for history in user.histories -%}
                                {{- (history.semester.period|readable_enum)|trans ~ ' ' ~ history.semester.year ~ ': ' ~ history.nbWarned -}}
                                {%- if not loop.last -%}
                                    <br/>
                                {%- endif -%}
                            {%- endfor -%}"
                    {%- endif -%}
            >
                {{ 'matching.nb_warned'|trans }} : {{ user.nbWarned }}
            </p>
            <p class="account-status"
                    {%- if user.histories|length > 0 -%}
                        data-toggle="tooltip" data-placement="right" data-html="true"
                        title="
                            {%- for history in user.histories -%}
                                {{- (history.semester.period|readable_enum)|trans ~ ' ' ~ history.semester.year ~ ': ' ~ history.nbBuddiesRemoved -}}
                                {%- if not loop.last -%}
                                    <br/>
                                {%- endif -%}
                            {%- endfor -%}"
                    {%- endif -%}
            >
                {{ 'matching.nb_removed'|trans }} : {{ user.nbBuddiesRemoved }}
            </p>
        {% else %}
            <p class="account-status">
                {{ 'matching.nb_refusal_by_buddies'|trans }} : {{ user.nbRefusedByBuddies }}
            </p>
        {% endif %}
        <p class="account-status">
            {{ 'matching.last_connection'|trans }} :
            {% if user.lastLogin %}{{ user.lastLogin|format_datetime('medium', 'none') }}{% endif %}
        </p>
    </div>
    <hr>
    <div>
        <p class="account-status {{ cityEqual ? 'text-success' : 'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.city', 'scoreCriteria': cityEqual, 'matchingValue': matchingManager.matchingCityValue }%}
            <span class="text-dark">{{ 'user.city'|trans }} :</span> {{ user.city.name }}
        </p>

        {% set titleScores = [] %}
        {% set scoreCriterias = [] %}
        {% set matchingValues = [] %}
        {% set nbEquals = 0 %}

        {% for i in 0..instituteLevelToShow %}
            {% set titleScores = titleScores|merge(['matching.scoreCriteria.institute']) %}
            {% set scoreCriterias = scoreCriterias|merge([institutesEqual[i] ]) %}
            {% set matchingValues = matchingValues|merge([matchingManager.matchingInstituteValues[instituteLevelToShow - i] ?? 0]) %}
            {% if institutesEqual[i] %}
                {% set nbEquals = nbEquals+1 %}
            {% endif %}
        {% endfor %}

        <p class="account-status {{ nbEquals == instituteLevelToShow+1 ? 'text-success' : nbEquals > 0 ? 'text-warning' :'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {
                'titleScore': titleScores,
                'scoreCriteria': scoreCriterias,
                'matchingValue': matchingValues
                }
            %}
            <span>
                <span class="text-dark">{{ 'user.institute'|trans }} :</span>
            </span>

            {% for i in 0..institutes|length-1 %}
                <span class="{{ institutesEqual[i] ? 'text-success' : 'text-danger' }}">
                    {{ institutes[i].name }}
                </span>

                {% if not loop.last %}
                    <span class="text-dark">></span>
                {% endif %}
            {% endfor %}
        </p>

        <p class="account-status {{ studiesEqual == 1 ? 'text-success' : studiesEqual > 0 ? 'text-warning' : 'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.study', 'scoreCriteria': studiesEqual, 'matchingValue': matchingManager.matchingStudyValue }%}
            <span class="text-dark">{{ 'user.studies'|trans }} :</span>
            {% if user.studies|length == 0 %}
                {{ 'none'|trans }}
            {% else %}
                {% for study in user.studies %}
                    {{ study.name }}{{ (not loop.last)?', ' }}
                {% endfor %}
            {% endif %}
        </p>

        <p class="account-status {{ levelOfStudyEqual == 1 ? 'text-success' : levelOfStudyEqual > 0 ? 'text-warning' : 'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.levelOfStudy', 'scoreCriteria': levelOfStudyEqual, 'matchingValue': matchingManager.matchingLevelOfStudyValue }%}
            <span class="text-dark">{{ 'user.level_of_study'|trans }} :</span>
            {% if user.levelOfStudy is null %}
                {{ 'none'|trans }}
            {% elseif user.levelOfStudy == 'LEVEL_OTHER'|enum_constant('UserLevelStudyType') %}
                {{ user.levelOfStudyOther }}
            {% else %}
                {{ user.levelOfStudy|readable_enum('UserLevelStudyType')|trans }}
            {% endif %}
        </p>

        <p class="account-status {{ semesterEqual ? 'text-success' :'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.availability', 'scoreCriteria': availabilityScore, 'matchingValue': matchingManager.matchingAvailabilityValue }%}
            <span class="text-dark">{{ 'user.semester'|trans }} :</span>
            <span>
                {{ (user.semester.period|readable_enum)|trans }}
            </span>
        </p>

        <p class="account-status {{ dateArrivalOk ? availabilityScore == 1 ? 'text-success' : 'text-warning' :'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.availability', 'scoreCriteria': availabilityScore, 'matchingValue': matchingManager.matchingAvailabilityValue }%}
            <span class="text-dark">{{ 'user.arrival'|trans }} :</span>
            <span>
                {% if user.arrival is null %}
                    {{ 'none'|trans }}
                {% else %}
                    {{ user.arrival|date('d/m/Y ') }}
                {% endif %}
            </span>
        </p>

        <p class="account-status {{ ageEqual ? 'text-success' : 'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.age', 'scoreCriteria': ageEqual, 'matchingValue': matchingManager.matchingAgeValue }%}
            <span class="text-dark">{{ 'matching.age'|trans }} :</span>
            {% if user.age is null %}
                {{ 'none'|trans }}
            {% else %}
                {{ "matching.age.value"|trans({'%age%': user.age}) }}
            {% endif %}
        </p>

        <p class="account-status">
            <span class="text-dark">{{ 'user.languages'|trans }} :</span>
            {% for language in user.languages %}
                <span>
                    {{- language|language_name -}}
                </span>
                {{- (not loop.last)?'<span class="text-dark">, </span>' -}}
            {% endfor %}
        </p>

        <p class="account-status {{ languageScore == 1 ? 'text-success' : languageScore > 0 ? 'text-warning' : 'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.language', 'scoreCriteria': languageScore, 'matchingValue': matchingManager.matchingLanguageValue }%}
            <span class="text-dark">{{ 'user.languages_wanted'|trans }} :</span>
            <span>
                {% if user.languagesWanted|length == 0 %}
                    {{ 'none'|trans }}
                {% else %}
                    {% for language in user.languagesWanted %}
                        <span class="{{ language in otherUser.languages ? 'text-success' : 'text-danger' }}">
                            {{- language|language_name -}}
                            {{- (not loop.last)?'<span class="text-dark">, </span>' -}}
                        </span>
                    {% endfor %}
                {% endif %}
            </span>
        </p>

        <p class="account-status {{ hobbiesScore == 1 ? 'text-success' : hobbiesScore > 0 ? 'text-warning' : 'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.hobby', 'scoreCriteria': hobbiesScore, 'matchingValue': matchingManager.matchingHobbyValue }%}
            <span class="text-dark">{{ 'user.hobbies'|trans }} :</span>
            {% if user.hobbies|length == 0 %}
                {{ 'none'|trans }}
            {% else %}
                {% for hobby in user.hobbies %}
                    <span class="{{ hobby in otherUser.hobbies ? 'text-success' : 'text-danger' }}">
                        {{- hobby.name -}}
                        {{- (not loop.last)?'<span class="text-dark">, </span>' -}}
                    </span>
                {% endfor %}
            {% endif %}
        </p>

        <p class="account-status {{ motivationEqual ? 'text-success' : 'text-danger' }}">
            {% include 'Matching/_fraction_score.html.twig' with {'titleScore': 'matching.scoreCriteria.motivation', 'scoreCriteria': motivationEqual, 'matchingValue': matchingManager.matchingMotivationValue }%}
            <span class="text-dark">{{ 'user.motivation'|trans }} :</span>
            {% if user.motivation is null %}
                {{ 'none'|trans }}
            {% else %}
                {{ user.motivationName }}
            {% endif %}
        </p>
    </div>

    {% if user.comment is not empty %}
        <hr>
        <div>
            {{ 'user.comments'|trans }} :
            <p>{{ user.comment|raw|nl2br }}</p>
        </div>
    {% endif %}
</div>
