{% form_theme form 'Form/_fields.html.twig' %}

{{ form_start(form, {'name': 'approve_matching', 'attr' : {'data-international': international.id, 'data-local': local.id}}) }}
{{ form_errors(form) }}
<div class="text-center mb-2">
    <p>
        {{ 'matching.match.approval'|trans }}
    </p>

    <p>
        {{ form_rest(form) }}
    </p>
</div>
<div class="text-center">
    <input type="submit" class="btn-secondary btn--shadow btn"
           value="{{ 'matching.match.button' | trans }}"/>
    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn">{{ 'actions.cancel'|trans }}</button>
</div>
{{ form_end(form) }}
