{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-6 mb-5">
        <div class="row">
            <div class="col-6 col-lg-5">
                {% include 'Matching/_user_summary.html.twig' with {
                    'user': international,
                    'otherUser': local,
                    'type': 'mentee',
                    'institutes': institutesInternational
                } %}
            </div>
            <div class="col-6 col-lg-5 offset-lg-2">
                {% include 'Matching/_user_summary.html.twig' with {
                    'user': local,
                    'otherUser': international,
                    'type': 'mentor',
                    'institutes': institutesLocal
                } %}
            </div>
        </div>

        <div class="text-center mt-5 match-widget">
            <div class="match-widget__line">
                <div class="match-widget__match">
                    {% if toMatch is defined and toMatch %}
                        <a href="#" id="matching-proposal_button" data-international="{{ international.id }}" data-local="{{ local.id }}"
                           class="btn btn-secondary">
                            {{ 'matching.match.button'|trans }}
                        </a>
                    {% endif %}
                </div>
                <div class="match-widget__compat">
                    <div>
                        <h4>{{ 'matching.match.score'|trans({'%score%': score}) }}</h4>
                    </div>
                </div>
                <div class="match-widget__others">
                    {% if toMatch is defined and toMatch %}
                        <a class="btn btn-white" href="{{ path('matching_step2', {'id':international.id}) }}">{{ 'matching.match.other.button'|trans }}</a>
                    {% else %}
                        {% set href = path('buddy_index') %}
                        <a class="btn btn-white" href="{{ path('buddy_index') }}">{{ 'back_to_the_list'|trans }}</a>
                    {% endif %}
                </div>
            </div>

            {% if nextMentor is defined and nextMentor %}
                <div class="match-widget__line">
                    <div class="match-widget__next-mentor">
                        <a href="{{ nextMentor }}" class="btn btn-outline-dark">
                            {{ 'matching.match.next_mentor'|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matching_summary') }}
{% endblock %}
