{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="mb-5">
            <div class="text-center">
                <h1 class="mb-4 text-primary">{{ 'matching.locals.title'|trans }}</h1>
            </div>

            <table class="table table-striped table-hover nowrap custom-datatable" id="selected_international">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'user.firstname'|trans }} {{ 'user.lastname'|trans }}</th>
                    <th>{{ 'user.arrival'|trans }}</th>
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'user.semester'|trans }}</th>
                    <th>{{ 'user.city'|trans }}</th>
                    <th>{{ 'user.institute'|trans }}</th>
                    <th>{{ 'user.studies'|trans }}</th>
                    <th>{{ 'user.level_of_study' | trans }}</th>
                    <th>{{ 'user.type_of_mobility' | trans }}</th>
                    <th>{{ 'user.languages'|trans }}</th>
                    <th>{{ 'matching.age'|trans }}</th>
                    <th>{{ 'user.gender'|trans }}</th>
                    <th>{{ 'user.list.same_gender'|trans }}</th>
                    <th>{{ 'user.languages_wanted'|trans }}</th>
                    <th>{{ 'user.motivation'|trans }}</th>
                    <th>{{ 'matching.nb_buddy'|trans }}</th>
                    <th>{{ 'matching.nb_buddy_wanted'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ international.firstname ~ ' ' ~ international.lastname }}</td>
                    <td>
                        {% if international.arrival %}
                            {{ international.arrival|date("d/m/Y") }}
                        {% endif %}
                    </td>
                    <td>
                        {% if international.createdAt %}
                            {{ international.createdAt|date("d/m/Y") }}
                        {% endif %}
                    </td>
                    <td>
                        {{ (international.semester.period|readable_enum)|trans }}
                    </td>
                    <td>{{ international.city.name }}</td>
                    <td>
                        {% for parent in international.institute.parents %}
                            {{ parent.name }}
                            <br>
                        {% endfor %}
                        {{ international.institute.name }}
                    </td>
                    <td>
                        {% if international.studies|length > 0 %}
                            {% for study in international.studies %}
                                {{ study.name }}{{ (not loop.last)?'<br>' }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if international.levelOfStudy %}
                            {% if international.levelOfStudy == 'LEVEL_OTHER'|enum_constant('UserLevelStudyType') %}
                                {{ international.levelOfStudyOther }}
                            {% else %}
                                {{ international.levelOfStudy|readable_enum('UserLevelStudyType')|trans }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if international.typeOfMobility %}
                            {{ international.typeOfMobility|readable_enum('UserTypeMobilityType')|trans }}
                        {% endif %}
                    </td>
                    <td>
                        {% if international.languages|length > 0 %}
                            {% for language in international.languages %}
                                {{ language|language_name|capitalize }}{{ (not loop.last)?'<br>' }}
                            {% endfor %}
                        {% else %}
                            {{ 'none'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ international.age }}</td>
                    <td>{{ (international.sex|readable_enum)|trans }}</td>
                    <td>
                        {% if international.sexWanted %}
                            {{ 'yes'|trans }}
                        {% else %}
                            {{ 'no'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        {% if international.languagesWanted|length > 0 %}
                            {% for language in international.languagesWanted %}
                                {{ language|language_name|capitalize }}{{ (not loop.last)?'<br>' }}
                            {% endfor %}
                        {% else %}
                            {{ 'none'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        {% if international.motivation is null %}
                            {{ 'none'|trans }}
                        {% else %}
                            {{ international.motivation.nameMentee }}
                        {% endif %}
                    </td>
                    <td>{{ international.nbBuddies }}</td>
                    <td>{{ international.nbBuddiesWanted }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-striped table-hover clickable matching_list nowrap custom-datatable" id="matching_locals"
                    data-id="{{ international.id }}">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'matching.compatibility'|trans }}</th>
                    <th>{{ 'user.firstname'|trans }}</th>
                    <th>{{ 'user.lastname'|trans }}</th>
                    <th>{{ 'user.arrival'|trans }}</th>
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'user.semester'|trans }}</th>
                    <th>{{ 'user.city'|trans }}</th>
                    <th>{{ 'user.institute'|trans }}</th>
                    <th>{{ 'user.studies'|trans }}</th>
                    <th>{{ 'user.level_of_study' | trans }}</th>
                    <th>{{ 'user.languages'|trans }}</th>
                    <th>{{ 'matching.age'|trans }}</th>
                    <th>{{ 'user.gender'|trans }}</th>
                    <th>{{ 'user.list.same_gender'|trans }}</th>
                    <th>{{ 'user.languages_wanted'|trans }}</th>
                    <th>{{ 'user.motivation'|trans }}</th>
                    <th>{{ 'matching.nb_buddy'|trans }}</th>
                    <th>{{ 'matching.nb_buddy_wanted'|trans }}</th>
                    <th>{{ 'matching.nb_refusal'|trans }}</th>
                    <th>{{ 'matching.nb_warned'|trans }}</th>
                    <th>{{ 'matching.nb_removed'|trans }}</th>
                    <th>{{ 'matching.nb_report'|trans }}</th>
                </tr>
                <tr id="column-filters">
                    <th></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="date" class="form-control"></th>
                    <th class="form-group"><input type="date" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('SemesterPeriodType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for study in studies %}
                                <option value="{{ study.id }}">{{ study.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserLevelStudyType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for language in languages %}
                                <option value="{{ language }}">{{ language|language_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserGenderType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for language in languages %}
                                <option value="{{ language }}">{{ language|language_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for motivation in motivations %}
                                <option value="{{ motivation.id }}">{{ motivation.nameMentor }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matching') }}
{% endblock %}
