{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'matching.internationals.title'|trans }}</h1>
        </div>
        <div>
            <table class="table table-striped table-hover clickable matching_list nowrap custom-datatable"
                    id="matching_internationals"  data-admin="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) }}">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'user.firstname'|trans }} </th>
                    <th>{{ 'user.lastname'|trans }} </th>
                    <th>{{ 'user.arrival'|trans }}</th>
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'user.semester'|trans }}</th>
                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th>{{ 'association'|trans({}, 'admin') }}</th>
                    {% endif %}
                    <th>{{ 'user.city'|trans }}</th>
                    <th>{{ 'user.institute'|trans }}</th>
                    <th>{{ 'user.studies' | trans }}</th>
                    <th>{{ 'user.level_of_study' | trans }}</th>
                    <th>{{ 'user.type_of_mobility' | trans }}</th>
                    <th>{{ 'user.languages'|trans }}</th>
                    <th>{{ 'matching.age'|trans }}</th>
                    <th>{{ 'user.gender'|trans }}</th>
                    <th>{{ 'user.list.same_gender'|trans }}</th>
                    <th>{{ 'user.languages_wanted'|trans }}</th>
                    <th>{{ 'user.motivation'|trans }}</th>
                    <th>{{ 'matching.nb_buddy'|trans }}</th>
                    <th>{{ 'matching.nb_buddy_wanted'|trans }}</th>
                </tr>
                <tr id="column-filters">
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="date" class="form-control"></th>
                    <th class="form-group"><input type="date" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('SemesterPeriodType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th class="form-group">
                            <select class="form-control select2selector" multiple>
                                {% for association in associations %}
                                    <option value="{{ association.id }}">{{ association.name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    {% endif %}
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for study in studies %}
                                <option value="{{ study.id }}">{{ study.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserLevelStudyType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserTypeMobilityType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for language in languages %}
                                <option value="{{ language }}">{{ language|language_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserGenderType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for language in languages %}
                                <option value="{{ language }}">{{ language|language_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for motivation in motivations %}
                                <option value="{{ motivation.id }}">{{ motivation.nameMentee }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('matching') }}
{% endblock %}
