<div id="footer" class="text-left">
    <div class="row links">
        <div class="offset-1 col-sm-3">
            <h4>{{ 'footer.about'|trans }}</h4>
            <a href="{{ path('homepage', app.request.query.all) }}">{{ 'footer.home'|trans }}</a><br/>
            <a href="{{ path('institutions', app.request.query.all) }}">{{ 'footer.institutions'|trans }}</a><br/>
            <a href="{{ path('project', app.request.query.all) }}">{{ 'footer.project'|trans }}</a><br/>
            <a href="{{ path('partners', app.request.query.all) }}">{{ 'footer.partners'|trans }}</a><br/>
        </div>
        <div class="offset-1 col-sm-3">
            <h4>{{ 'footer.legal'|trans }}</h4>
            <a href="{{ path('privacy', app.request.query.all) }}">{{ 'footer.privacy'|trans }}</a><br/>
            <a href="{{ path('termsOfUse', app.request.query.all) }}">{{ 'footer.cgu'|trans }}</a><br/>
            <a href="{{ path('cookiePolicy', app.request.query.all) }}">{{ 'footer.cookie_policy'|trans }}</a><br/>
            <a href="{{ path('charter', app.request.query.all) }}">{{ 'footer.charter'|trans }}</a>
        </div>
        <div class="offset-1 col-sm-3">
            <h4>{{ 'footer.help'|trans }}</h4>
            <a href="{{ scheme~'://docs.'~host }}" target="_blank">{{ 'footer.documentation'|trans }}</a><br/>
            <a href="{{ path('contactUs', app.request.query.all) }}">{{ 'footer.contact'|trans }}</a>
        </div>
    </div>
    <div class="logos">
        <div class="logo">
            <img class="img-fluid" src="{{ asset('images/logo/logo-black.png') }}" alt="logo BuddySystem">
        </div>

        <div class="logo">
            <img class="img-fluid" src="{{ asset('images/partners/union-europeenne.jpg') }}" alt="logo EU">
        </div>
    </div>

    <div class="copyright">
        {{ 'footer.copyright'|trans }}
        <div class="cc">
            © BuddySystem
        </div>
    </div>
</div>
