<a class="text-dark accordion_button" data-toggle="collapse" href="{{ '#collapse'~id }}" role="button" aria-expanded="false"
   aria-controls="{{ 'collapse'~id }}">
    {{ 'actions.show'|trans }} <i class="fa fa-angle-down"></i>
</a>

<div id="{{ 'collapse'~id }}" class="collapse">
    <div class="card-body py-0">
        {% for object in objects %}
            {% if not loop.first %}
                <br>
            {% endif %}

            {% if object.name is defined %}
                {{ object.name }}
            {% else %}
                {{ object }}
            {% endif %}
        {% endfor %}
    </div>
</div>
