<td>
    <div class="btn-group table-btn-group" role="group" aria-label="Actions">
        {% if reportClass is defined and reportClass is not null %}
            <a href="#" class="{{ reportClass }} btn btn-sm btn-outline-primary"><i class="fas fa-flag"></i>
                {{ 'actions.show_report'|trans }}
            </a>
        {% endif %}

        {% if urlShow is defined and urlShow is not null %}
            <a href="{{ urlShow }}"  class="btn btn-sm btn-outline-primary"><i class="fas fa-eye"></i>
                {{ 'actions.show'|trans }}
            </a>
        {% endif %}

        {% if urlEdit is defined and urlEdit is not null %}
            <a href="{{ urlEdit }}" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i>
                {{ 'actions.edit'|trans }}
            </a>
        {% endif %}

        {% if urlMessage is defined and urlMessage is not null %}
            <a href="{{ urlMessage }}" class="btn btn-sm btn-outline-primary"><i class="fas fa-envelope"></i>
                {{ 'actions.message'|trans }}
            </a>
        {% endif%}

        {% if urlInstitutePreference is defined and urlInstitutePreference is not null %}
            <a href="{{ urlInstitutePreference }}"  class="btn btn-sm btn-outline-primary"><i class="fas fa-sliders-h"></i>
                {{ 'actions.institute_preferences'|trans }}
            </a>
        {% endif %}

        {% if urlMatch is defined and urlMatch is not null %}
            <a href="{{ urlMatch }}"  class="btn btn-sm btn-outline-primary"><i class="fas fa-user-friends"></i>
                {{ 'actions.match'|trans }}
            </a>
        {% endif %}

        {% if approveClass is defined and approveClass is not null %}
            <a href="#"  class="{{ approveClass }} btn btn-sm btn-outline-primary"><i class="fas fa-check-circle"></i>
                {{ 'actions.approve'|trans }}
            </a>
        {% endif %}

        {% if urlToggleStudies is defined and urlToggleStudies is not null %}
            <a href="{{ urlToggleStudies }}"  class="btn btn-sm btn-outline-primary"><i class="fas fa-toggle-on"></i>
                {{ 'actions.link_studies'|trans }}
            </a>
        {% endif %}

        {% if deleteClass is defined and deleteClass is not null %}
            <a href="#" class="{{ deleteClass }} btn btn-sm btn-outline-primary"><i class="fas fa-times"></i>
                {{ 'actions.delete'|trans }}
            </a>
        {% endif %}
    </div>
</td>
