{% set path = app.request.get('_route') %}
{% set management_path = [
    'matching_step1', 'matching_step2', 'matching_step3',
    'association_index', 'association_new', 'association_edit',
    'institute_index', 'institute_new', 'institute_edit', 'institute_association_link', 'institute_study_link', 'institute_manage_children', 'institute_delegate_rights',
    'user_index', 'user_edit', 'user_to-approve',
    'buddy_index', 'buddy_show',
    'city_index', 'city_edit', 'city_new',
    'hobby_index', 'hobby_edit', 'hobby_new',
    'motivation_index', 'motivation_edit', 'motivation_new',
    'study_index', 'study_edit', 'study_new',
    'extract_index'
] %}
<nav class="bg-secondary navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="logo navbar-brand" href="{{ path('dashboard') }}">
            <img class="img-fluid" src="{{ asset('images/logo/logo-magenta.jpg') }}" width="45" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img width="35" src="{{ asset('images/pictos/burger-magenta.jpg') }}" alt="">
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if path == 'dashboard' %}active{% endif %}">
                    <a class="nav-link text-nowrap" href="{{ path('dashboard') }}">{{ 'navbar.dashboard'|trans }}</a>
                </li>
                <li class="nav-item {% if path == 'profile_edit' %}active{% endif %}">
                    <a class="nav-link text-nowrap" href="{{ path('profile_edit') }}">{{ 'navbar.user'|trans }}</a>
                </li>
                <li class="nav-item {% if path == 'messaging_homepage' %}active{% endif %}">
                    <a class="nav-link nav-item_link__inbox text-nowrap" href="{{ path('messaging_homepage') }}">
                        {{ 'navbar.messaging'|trans }}
                        {% if message_has_unread() %}
                            <span class="new-message"></span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item dropdown {% if path in management_path %}active{% endif %}">
                    {% if is_granted(constant('App\\Enum\\UserVoterEnum::IS_MANAGER'), app.user) %}
                        <a class="nav-link dropdown-toggle" role="button" href="#" id="dropdown-menu-management"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'navbar.management'|trans }}
                            <i class="fas fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu text-center" role="menu"
                            aria-labelledby="dropdown-menu-management">
                            {% if is_granted(constant('App\\Enum\\UserVoterEnum::HAS_MATCHING_RIGHT'), app.user) %}
                                <li role="presentation">
                                    <a class='dropdown-item text-nowrap'
                                       href="{{ path('matching_step1') }}">{{ 'navbar.matching'|trans }}</a>
                                </li>
                                <hr>
                            {% endif %}
                            <li role="presentation">
                                <a class='dropdown-item text-nowrap'
                                   href="{{ path('user_index' ) }}">{{ 'navbar.users'|trans }}</a>
                            </li>
                            <li role="presentation">
                                <a class='dropdown-item text-nowrap'
                                   href="{{ path('buddy_index' ) }}">{{ 'navbar.buddies'|trans }}</a>
                            </li>

                            <hr>

                            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                                <li role="presentation">
                                    <a class='dropdown-item text-nowrap'
                                       href="{{ path('city_index' ) }}">{{ 'navbar.cities'|trans({}, 'admin') }}</a>
                                </li>
                            {% endif %}

                            <li role="presentation">
                                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                                    <a class='dropdown-item text-nowrap'
                                       href="{{ path('association_index') }}">{{ 'navbar.association'|trans }}</a>
                                {% elseif is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_BUDDYCOORDINATOR')) %}
                                    <a class='dropdown-item text-nowrap'
                                       href="{{ path('association_edit', { 'id': app.user.association.id } ) }}">{{ 'navbar.association'|trans }}</a>
                                {% endif %}
                            </li>

                            <li role="presentation">
                                <a class='dropdown-item text-nowrap'
                                   href="{{ path('institute_index' ) }}">{{ 'navbar.institute'|trans }}</a>
                            </li>
                            <hr>

                            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                                <li role="presentation">
                                    <a class='dropdown-item text-nowrap'
                                       href="{{ path('study_index' ) }}">{{ 'navbar.studies'|trans }}</a>
                                </li>
                            {% endif %}

                            <li role="presentation">
                                <a class='dropdown-item text-nowrap'
                                   href="{{ path('hobby_index' ) }}">{{ 'navbar.hobbies'|trans }}</a>
                            </li>

                            <li role="presentation">
                                <a class='dropdown-item text-nowrap'
                                   href="{{ path('motivation_index' ) }}">{{ 'navbar.motivation'|trans }}</a>
                            </li>

                            <hr>

                            <li role="presentation">
                                <a class='dropdown-item text-nowrap'
                                   href="{{ path('extract_index' ) }}">{{ 'navbar.extract'|trans }}</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li class="nav-item {% if path == 'toolbox' %}active{% endif %}">
                    <a class="nav-link nav-item_link__inbox text-nowrap" href="{{ path('toolbox') }}">
                        {{ 'navbar.toolbox'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-nowrap"
                       href="{{ path('logout') }}">{{ 'navbar.logout'|trans }}</a>
                </li>
                <li class="nav-item dropdown">
                    {% include 'Form/_language_switcher.html.twig' %}
                </li>
            </ul>
        </div>
    </div>
</nav>
