<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="text-center mb-3">
                <button type="button" class="close modal-close p-1" data-dismiss="modal" aria-hidden="true" >&times;</button>
                <h4 class="modal-title p-1 mx-3"></h4>
            </div>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
