<p>{{ 'delete.popup.title'|trans({'%type%': type, '%name%': name}) }}</p>
{{ form_start(form, {'attr':{'data-id': id}, 'name': 'delete_form'}) }}
<div class="text-left">
    <input type="submit" class="btn btn-danger" value="{{ 'actions.delete'|trans }}"/>
    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn">{{ 'actions.cancel'|trans }}</button>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

<script>
    tools.initSubmitForm(
        $("form[name='delete_form']"),
        '{{ app.request.attributes.get("_route") }}',
        {'id': '{{ id }}'},
        function () {
            {% if callback is defined %}
                window.location.replace('{{ callback }}');
            {% else %}
                window.location.reload();
            {% endif %}
        }
    );
</script>
