{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'stat.list.title'|trans }}</h1>
        </div>

        <table class="table table-striped table-hover nowrap custom-datatable" id="week-stat" data-bc="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_BUDDYCOORDINATOR')) }}">
            <thead>
            <tr class="bg-white">
                <th>{{ 'created_at'|trans }}</th>
                <th>{{ 'stat.nb_users'|trans }}</th>
                <th>{{ 'stat.nb_mentees'|trans }}</th>
                <th>{{ 'stat.nb_mentors'|trans }}</th>
                <th>{{ 'stat.nb_mentees_not_matched'|trans }}</th>
                <th>{{ 'stat.nb_mentors_not_matched'|trans }}</th>
                <th>{{ 'stat.nb_new_users'|trans }}</th>
                <th>{{ 'stat.nb_new_mentees'|trans }}</th>
                <th>{{ 'stat.nb_new_mentors'|trans }}</th>
                <th>{{ 'stat.nb_match_confirmed'|trans }}</th>
                <th>{{ 'stat.nb_match_refused'|trans }}</th>
                <th>{{ 'stat.nb_match_waiting'|trans }}</th>
                <th>{{ 'stat.semester'|trans }}</th>
                <th>{{ 'stat.year'|trans }}</th>
                <th>{{ 'stat.type'|trans }}</th>
                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_BUDDYCOORDINATOR')) %}
                    <th>{{ 'stat.institute'|trans }}</th>
                {% endif %}
            </tr>
            <tr id="column-filters">
                <th class="form-group"><input type="date" class="form-control"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group"><input type="number" class="form-control" min="0"></th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for key, value in enum_readable_values('SemesterPeriodType')|filter(key => not(key == 'PERIOD_ALL_YEAR'|enum_constant('SemesterPeriodType'))) %}
                            <option value="{{ key }}">{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="form-group">
                    <select class="form-control select2selector" multiple>
                        {% for key, value in enum_readable_values('StatTypeType') %}
                            <option value="{{ key }}">{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </th>
                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_BUDDYCOORDINATOR')) %}
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                {% endif %}
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}
