{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'motivation.list.title'|trans }}</h1>
        </div>

        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
            <div>
                <a class="btn btn-secondary ml-0 my-2" href="{{ path('motivation_new') }}">
                    <i class="fas fa-plus"></i> {{ 'motivation.list.create.button'|trans({}, 'admin') }}
                </a>
            </div>
        {% endif %}

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="motivations">
                <thead>
                    <tr class="bg-white">
                        <th>{{ 'motivation.name_mentee'|trans }}</th>
                        <th>{{ 'motivation.name_mentor'|trans }}</th>
                        {% if (is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_INSTITUTE_MANAGER')) or is_granted('ROLE_BUDDYCOORDINATOR')) and not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <th class="no-export">{{ 'list.toggle.available'|trans }}</th>
                        {% endif %}
                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <th class="no-export">{{ 'actions'|trans }}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for motivation in motivations %}
                    <tr data-id="{{ motivation.id }}">
                        <td>{{ motivation.nameMentee }}</td>
                        <td>{{ motivation.nameMentor }}</td>

                        {% if (is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_INSTITUTE_MANAGER')) or is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_BUDDYCOORDINATOR'))) and not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <td>
                                {% include 'Form/_toggle_button.html.twig' with {'object': motivation, 'isChecked': motivation.id in motivationsManager} %}
                            </td>
                        {% endif %}

                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            {% include 'Default/_list_actions.html.twig' with {
                                'urlEdit': path('motivation_edit', { 'id': motivation.id }),
                                'deleteClass': 'motivation_delete'
                            } %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('motivation') }}
{% endblock %}
