{% extends 'base.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(form) }}
        <div class="text-primary text-center mb-4">
            <h1>{{ 'extract.title'|trans }}</h1>
        </div>

        <p class="py-4">{{ 'extract.subtitle'|trans|nl2br }}</p>

        <div class="dynamic-form-group">
            {{ form_rest(form) }}
        </div>

        {{ form_errors(form) }}

        <div class="mt-4 mb-3 text-right">
            <button class="btn btn-secondary btn--shadow" type="submit" name="action">
                {{ 'extract.generate.button'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('extract') }}
{% endblock %}