{% extends 'base.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        <div class="text-primary text-center mb-4">
            <h1>{{ 'extract.title'|trans }}</h1>
        </div>

        <p class="py-4">{{ 'extract.limit_reached'|trans({'%limit%': limit})|nl2br }}</p>
    </div>
{% endblock %}
