.management-form .card-header {
    position: relative;
    cursor: pointer;
    display: list-item;

    span {
        position: absolute;
        left: 20px;
    }

    .fa {
        position: absolute;
        right: 20px;
        top: 15%;
    }
}
