@import "../helpers/colors";
@import "~cookieconsent/build/cookieconsent.min.css";

.cc{
  &-compliance{
    background-color: $magenta;
    color: $white;

    a {
      color: inherit;
      border: none;
      border-radius: 0.3125rem;

      &:hover {
        background-color: $btn-shadow;
      }
    }
  }
}