@import "../helpers/fonts";

.dashboard-home{
  &__side{
    @include media-breakpoint-down('xs'){
      margin-bottom: 1rem;
    }
  }
}

.matching{
  &__compatibility{
    @include media-breakpoint-down('sm'){
      padding: 0;

      h4{
        font-size: 0.9rem;
      }
    }
  }
}


.buddy-photo-block {
  display: block;
  margin: -50px auto 0;
  position: relative;

  &__mentee {
    position: absolute;
    top: 0;
    font-weight: $bold;
    width: 110px;
    line-height: 16px;
    font-size: 13px;

    @include media-breakpoint-down('sm'){
      width: 100%;
      top: -20px;
      text-align:center !important;
      left: 0 !important;
      right: 0 !important;
    }

    &.text-right{
      right: -10px;
    }
    &.text-left{
      left: -10px;
    }
  }
}

.buddy-photo-rounded {
  max-width: 85px;
  max-height: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

.account-status {
  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 10px;

    [dir=rtl] &{
      margin-left: 10px;
      margin-right: inherit;
    }

    @include media-breakpoint-only('sm'){
      display: block;
      margin: 0.2rem 0;
    }
  }
}

.lightblue-separator{
  border-right: 2px solid #d9eafe;
}

.ellipsis-menu {
  position: absolute;
  right: 15px;
  top: 0;

  [dir=rtl] &{
    right: inherit;
    left: 15px;
  }
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;

    li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.social {
    a {
        width: 36px;
        height: 36px;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        text-align: center;

        i {
            font-size: 20px;
            padding-top: 8px;
        }
    }
}

.report-buttons {
  position: absolute;
  bottom: 0;
}