@import '~datatables.net-dt/css/jquery.dataTables.min.css';
@import '~datatables.net-buttons-dt/css/buttons.dataTables.min.css';

div.dt-buttons {
  @include media-breakpoint-down('sm'){
    margin-bottom: 1rem;
  }

  .dt-button-collection {
    max-height: 150px;
    overflow-y: scroll;
  }
}

.custom-datatable {
  thead {
    th {
      font-size: 12px;
      vertical-align: middle;

      input {
        min-width: max-content;
      }
    }
  }
  &.clickable {
      tr {
        cursor: pointer;
      }
  }
}

.dataTables_wrapper .dataTables_length {
    float: right;
}

// Actions
.table-btn-group{
  .btn{
    font-size: 12px;
    text-transform: none;
    padding: 0.1rem 0.4rem;

    i{
      margin-right: 4px;
      opacity: .5;
    }
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  background: transparent;
  padding: 0.3em 0.8em;

  &:hover{
    background: theme-color('dark');
  }
  &.current{
    background: theme-color('dark');
    border-color: theme-color('dark');
    color: white !important;

    &:hover{
      color: inherit;
      background: inherit;
      border-color: inherit;
    }
  }
}

.buttons-columnVisibility.active {
    font-weight: bold;

    &::before {
        content: '✔';
        padding-right: 5px;
    }
}

[dir=rtl]{
  .dataTables_wrapper{
    .dataTables_length{
      float: right;
    }
    .dataTables_paginate{
      float: left;
    }
  }

  div.dt-buttons{
    float: left;
  }
}
