@import "../helpers/colors";

.dropdown-menu{
  min-width: 0;
  margin-left: 1rem;

  &-right{
    margin-left: 0;
    margin-right: 1rem;
  }

  @include media-breakpoint-down('md'){
    margin-left: 0;

    &-right{
      margin-right: 0;
    }
  }
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-item:hover, .dropdown-item:focus {
  border-radius: 6rem;
  background-color: $grey;
  color: $light-grey;
}