.file-preview {
  top: 0;
  left: 0;
  width: 100%;

  &_locale {
    position: absolute;
    right: 15px;
    background-color: white;
    font-weight: bold;
    padding: 2px;
  }
}

.empty-file-preview {
  display: block;
  height: 220px;
  cursor: pointer;
  background-color: lightgray;
}