footer {
  border-top: 2px solid $black;
  padding: 50px 0;
  margin-top: 3rem;

  a {
    color: $black;
    font-size: 17px;
  }

  @include media-breakpoint-down('xs'){
    .row > div{
      margin-bottom: 2rem;
    }
  }

  .logos {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;

    .logo {
      display: inline-block;
      width: 200px;
      padding: 1em;
      vertical-align: middle;

      @include media-breakpoint-up('sm') {
        &:not(:last-child) {
          margin-right: 4em;
        }
      }
    }
  }

  .copyright {
    font-size: 0.9em;
    color: #707070;
    text-align: center;
    padding-bottom: 1rem;
  }
}

.pre-footer {
  &__inner{
    @include media-breakpoint-down('md'){
      width: 100% !important;
    }

    @include media-breakpoint-down('sm'){
      div[class^=col]{
        margin-bottom: 2rem;
      }
    }

    p {
      font-size: 25px;

      @include media-breakpoint-down('sm'){
        font-size: 20px;
        margin-bottom: 0.5rem;
      }
    }
  }
}
