@import "../helpers/colors";

$font-family-icon: 'Font Awesome 5 Free';
$fa-var-check: "\f00c";
@import '~awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss';
@import '~progress-tracker/src/styles/progress-tracker.scss';
@import '~select2/dist/css/select2.min.css';

.progress-tracker {
    margin: 0;
}

.progress-marker {
    &::after {
        z-index: 0;
    }
}

.management-form{
  max-width: 95%;

  @include media-breakpoint-up('lg'){
    max-width: 800px;
  }
  @include media-breakpoint-up('md'){
    max-width: 730px;
  }
}

.form-custom-group{
  .btn-group{
    @include media-breakpoint-down('xs'){
      max-width: 87%;
    }

    .btn{
      font-size: 12px;
      padding: 0.6rem 0.8rem;

      @include media-breakpoint-down('xs'){
        font-size: 9px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      &[readonly] {
        pointer-events: none;
        touch-action: none;
      }
    }

    &[readonly] {
      cursor: not-allowed;
    }
  }
}

input[type=file] {
  width: 100%;
}

.input-date select{
  @extend .custom-select;
  width: auto;
  -webkit-appearance: none;
  margin-right: 0.5rem;
  border-radius: $input-border-radius;

  @include media-breakpoint-down('xs'){
    margin-right: 0.4rem;
  }
}

.input_allowed-domains {
    position: relative;

    input {
        display: block;
        border: 1px solid #d7d6d6;
        padding: 10px 10px 10px 23px;
    }

    span {
        position: absolute;
        display: block;
        left: 20px;
        top: 10px;
        z-index: 9;
    }
}

.domain_warning {
    color: $blue;
    margin-left: 10px;
    overflow-wrap: break-word
}

label.required:after,
legend.required:after {
  content: " *";
}

.white-box {
  border-radius: 10px;
  background-color: theme-color('white');
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.12);

  &--table{
    overflow: hidden;

    @include media-breakpoint-down('sm'){
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
  }
}

.select2{
  width: 100% !important;

  &-selection {
    border-radius: .6em !important;
    min-height: 42px !important;

    &__rendered {
      white-space: normal !important;
    }
  }
}

select[readonly] {
    pointer-events: none;
    touch-action: none;
    background: $readonly;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: $readonly;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: 0;
    box-shadow: 0 0 3pt 2pt #66afe9;
}

input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before {
    outline: none !important;
}

.abc-checkbox input[type="checkbox"]:checked+label::after,
.abc-checkbox input[type="radio"]:checked+label::after {
  font-weight: 600;
}

.custom-file-label {
  overflow: hidden;
  white-space: nowrap;
}

[dir=rtl]{
  .form-check{
    padding-left: 0;
    padding-right: 1.25rem;
  }
  .form-group{
    text-align: right;
  }

  .btn-group{
    > .btn,
    > .btn-group{
      &:not(:first-child){
        margin-left: inherit;
      }
      &:not(:last-child){
        margin-left: -1px;
      }
    }
  }
}
