@import '../components/cookie_consent';
@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins/breakpoints";

.content-block {
  .text {
    @include media-breakpoint-down('md') {
      margin-top: 1.5rem;
    }
  }

  &:first-child {
    .text {
      margin-top: 2rem;
    }
  }

  &:not(:first-child) {
    margin-top: 3rem;

    @include media-breakpoint-down('md') {
      text-align: center;

      .text {
        p {
          text-align: left;
        }
      }
    }
  }

  .button-on-picture {
    position: relative;

    img {
      width: 100%;
    }

    .btn {
      position: absolute;
      top: 82%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }

  .img-container {
    height: 75px;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .img-fluid {
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

