.loader{
    position: fixed;
    display: none;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(0,0,0,0.7);

    span{
        border-radius: 50%;
        background-image: url('../../../public/images/loader.gif');
        background-position: center center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 50px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        margin-top: -50px;
    }
}
