@import "../helpers/fonts";

.match-widget{
  $box-shadow: 0 3px 11px rgba(0, 0, 0, 0.4);

  width: 600px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 30px;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  @include media-breakpoint-down('sm'){
    width: 400px;
  }
  @include media-breakpoint-down('xs'){
    width: 100%;
  }

  &__line {
      display: flex;
  }

  &__compat{
    & > div{
      background: theme-color('primary');
      border-radius: 50%;
      color: white;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $box-shadow;

      @include media-breakpoint-down('xs'){
        width: 80px;
        height: 80px;
      }

      h4{
        font-size: 14px;
        margin: 0;

        @include media-breakpoint-down('xs'){
          font-size: 11px;
        }
      }
    }
  }

  &__match,
  &__others{
    flex: 1;
    margin: 1rem;

    @include media-breakpoint-down('xs'){
      margin: 0.3rem;
    }
  }

  &__next-mentor {
      margin: 1rem auto;
      width: max-content;
  }

  .btn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    white-space: normal;

    @include media-breakpoint-down('sm'){
      font-size: 12px;
    }
  }
}
