@import "../helpers/fonts";

.navbar {
  width: 100%;
  min-height: 70px;

  @include media-breakpoint-down('lg'){
    > .container{
      max-width: 100%;
    }
  }

  [dir=rtl] &{
    .navbar-nav{
      margin: 0 0 0 auto !important;
      padding-right: 0;
    }

    @include media-breakpoint-down('md'){
      .nav-item{
        margin: 0;
      }
    }
  }

  .nav-link {
    font-size: 19px;
    font-weight: $bold;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-breakpoint-down('md'){
      font-size: 15px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .active &,
    &:hover {
      text-decoration: underline;
    }

    .new-message {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      background: theme-color('primary');
      border-radius: 50%;
      vertical-align: middle;
      position: absolute;
      border: 1px solid theme-color('white');
    }
  }

  .btn{
    &--login{
      border: 0;
    }

    &-link{
      color: theme-color('white');
      font-weight: $bold;

      @include media-breakpoint-down('lg'){
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }

  .logo {
    max-height: 47px;
    padding: 0;
    display: block;
    overflow: hidden;
  }

  .navbar-toggler{
     border-color: transparent;
  }

  @include media-breakpoint-down('md'){
    min-height: 0;

    .navbar-collapse{
      text-align: center;
    }
    .row{
      flex-direction: column;
      border-top: 1px solid rgba(255,255,255,0.2);
      margin-top: 1rem;
      padding-top: 1rem;
    }
    .dropdown{
      display: inline-block;
    }
  }
}

.login-popup{
  @include media-breakpoint-down('xs'){
    margin-left: 0 !important;
    margin-right: 0 !important;

    .text-right{
      margin-top: 1rem;
    }

    button{
      display: block;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
