.dashboard-profile{
  &__how{
    @include media-breakpoint-down('md'){
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      h2{
        font-size: 1rem;
      }
    }

    @include media-breakpoint-down('sm'){
      margin-bottom: 1.5rem;

      p{
        margin-bottom: 0;
        margin-top: 0.25rem;
      }
    }
  }

  &__incomplete{
    margin-bottom: 1.5rem;

    @include media-breakpoint-down('md'){
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      h2{
        font-size: 1rem;
      }
    }

    @include media-breakpoint-down('sm'){
      p{
        margin-bottom: 0;
        margin-top: 0.25rem;
      }
    }
  }

  &__form{
    @include media-breakpoint-down('sm'){
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }

    &__notifications{
      @include media-breakpoint-down('sm'){
        .col-2{
          padding: 0;
        }
      }
    }
  }

  &__toggle{
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down('xs'){
      padding: 0;
      margin-left: -0.3rem;
    }
  }

  &__icon{
    @include media-breakpoint-down('sm'){
      text-align: right;
    }
  }
}
