@import '../helpers/colors';
@import '../helpers/fonts';

.suggestion {
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: -10px;

    [dir=rtl] &{
        text-align:right;
    }

    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;

        [dir=rtl] &{
            margin-right: initial;
            margin-left: 10px;
        }
    }

    span {
        max-width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include media-breakpoint-only('xs'){
            max-width: 120px;
        }
    }

    .email {
        margin-left: 40px;
        font-size: 10px;
        padding-top: 0.5rem;
        position: absolute;

        &:before {
            content: '\a';
            white-space: pre;
        }
    }

    &__placeholder {
        @include media-breakpoint-only('xs'){
            font-size: 12px;
        }
    }
}