@import '../helpers/colors';

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider_checkbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  &--round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider_checkbox {
  background-color: $light-blue;

  &:before {
    transform: translateX(26px);
  }
}

input:focus + .slider_checkbox {
  box-shadow: 0 0 1px $light-blue;
}

input[type="checkbox"][readonly] + .slider_checkbox {
    pointer-events: none;
    touch-action: none;
    background: $readonly;
    box-shadow: none;
}
