<div class="row mt-4">
    {% for doc in documents %}
        <div class="col-sm-5 mb-4 {{ loop.index0 is odd ? 'offset-sm-2'}}">
            <a href="{{ vich_uploader_asset(doc, 'documentFile') }}" download="{{ doc.name }}">
                <img class="file-preview" src="{{ vich_uploader_asset(doc, 'thumbnailFile') }}" alt="{{ doc.name }}"/>
                <span class="file-preview_locale">{{ doc.locale|capitalize }}</span>
                <p class="text-center">{{ doc.name|capitalize }}</p>
            </a>

            {% if fullDetails is defined and fullDetails %}
                {% set recipients = '' %}
                {% for recipient in doc.recipients %}
                    {% if recipients != '' %}
                        {% set recipients = recipients ~ ', ' %}
                    {% endif %}
                    {% set recipients = recipients ~ recipient|readable_enum('DocumentRecipientType')|trans %}
                {% endfor %}

                <div class="text-center">
                    <p>{{ 'toolbox.details.uploaded_on'|trans({'%date%': doc.updatedAt|date("d/m/Y")}) }}</p>
                    <p>{{ 'toolbox.details.visible_by'|trans({'%recipients%': recipients }) }}</p>

                    {% if is_granted(constant('App\\Enum\\DocumentVoterEnum::EDIT'), doc) %}
                        <button type="button" class="btn btn-primary edit_button" data-id="{{ doc.id }}">{{ 'actions.edit'|trans }}</button>
                        <button type="button" class="btn btn-danger delete_button" data-id="{{ doc.id }}">{{ 'actions.delete'|trans }}</button>
                    {% elseif doc.matchingManager %}
                        <p>{{ 'toolbox.details.added_by'|trans({'%manager%': doc.matchingManager.name}) }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
