<div class="m-4">
    <div class="my-5">
        {{ form_start(form) }}

        <div class="row">
            <div class="empty-file-preview col-sm-4 mb-3 mb-md-0" id="document-preview"></div>

            <div class="col-sm-8">
                <div class="form-group row">
                    {{ form_label(form.name) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.documentFile, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.documentFile) }}
                        {{ form_help(form.documentFile) }}
                        {{ form_errors(form.documentFile) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.locale) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.locale) }}
                        {{ form_errors(form.locale) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.recipients) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.recipients) }}
                        {{ form_errors(form.recipients) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        <div id="warning" class="mt-5 mb-4 text-danger">
            {{ form_errors(form) }}
        </div>

        <div class="mt-4 text-right">
            <button class="btn btn-secondary btn--shadow mb-3" type="submit" name="action">
                {{ 'actions.confirm'|trans }}
            </button>
        </div>

        {{ form_end(form) }}
    </div>
</div>