{{ form_start(form, {'attr': {'data-id': document.id, 'id': 'document_edit'}})}}
{{ form_errors(form) }}

<div class="row">
    <div class="col-sm-4 mb-3 mb-md-0">
        <img class="file-preview" src="{{ vich_uploader_asset(document, 'thumbnailFile') }}" alt="{{ document.name }}"/>
    </div>

    <div class="col-sm-8">
        <div class="form-group row">
            {{ form_label(form.name) }}
            <div class="col-sm-8">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.locale) }}
            <div class="col-sm-8">
                {{ form_widget(form.locale) }}
                {{ form_errors(form.locale) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.recipients) }}
            <div class="col-sm-8">
                {{ form_widget(form.recipients) }}
                {{ form_errors(form.recipients) }}
            </div>
        </div>
    </div>
</div>

<div class="text-left">
    <input type="submit" class="btn btn-secondary btn--shadow" value="{{ 'actions.edit' | trans }}"/>
    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn">{{ 'actions.cancel'|trans }}</button>
</div>
{{ form_end(form) }}
