{% extends 'base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'Form/_fields.html.twig' %}
{% endif %}

{% block body %}
    <div class="container management-form white-box p-3 my-5">
        {% set addHR = false %}

        {% if generalDocuments is defined and generalDocuments is not empty %}
            {% set addHR = true %}
            <div class="m-4">
                <h1 class="text-primary">{{ 'toolbox.resources.general.title'|trans }}</h1>

                {% include 'Toolbox/_docs.html.twig' with {documents: generalDocuments} %}
            </div>
        {% endif %}

        {% if associationDocuments is defined and associationDocuments is not empty %}
            {% if addHR %}
                <hr>
            {% else %}
                {% set addHR = true %}
            {% endif %}

            <div class="m-4">
                <h1 class="text-primary">{{ 'toolbox.resources.association.title'|trans }}</h1>

                {% include 'Toolbox/_docs.html.twig' with {documents: associationDocuments} %}
            </div>
        {% endif %}

        {% if instituteDocuments is defined and instituteDocuments is not empty %}
            {% if addHR %}
                <hr>
            {% else %}
                {% set addHR = true %}
            {% endif %}

            <div class="m-4">
                <h1 class="text-primary">{{ 'toolbox.resources.institute.title'|trans }}</h1>

                {% include 'Toolbox/_docs.html.twig' with {documents: instituteDocuments} %}
            </div>
        {% endif %}

        {% if form is defined %}
            {% if addHR %}
                <hr>
            {% endif %}

            <div class="m-4">
                <h1 class="text-primary">{{ 'toolbox.resources.management.title'|trans }}</h1>

                {% if addedDocuments is defined and addedDocuments is not empty %}
                    {% include 'Toolbox/_docs.html.twig' with {documents: addedDocuments, fullDetails: true} %}
                {% endif %}

                {% include 'Toolbox/_new.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('toolbox') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('toolbox') }}
{% endblock %}
