{% extends 'base.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(edit_form) }}
        <div class="text-primary text-center mb-4">
            <h1>{{ 'city.edit'|trans({}, 'admin') }}</h1>
            {{ form_errors(edit_form) }}
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.name, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.name) }}
                {{ form_errors(edit_form.name) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.country, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(edit_form.country) }}
                {{ form_errors(edit_form.country) }}
            </div>
        </div>
        {{ form_rest(edit_form) }}

        <div class="mt-4 mb-3 text-right">
            <a href="{{ path('city_index') }}" class="btn">{{ 'back_to_the_list'|trans }}</a>
            <button class="btn btn-secondary btn--shadow" type="submit" name="action">
                {{ 'actions.edit'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
