{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'city.list.title'|trans({}, 'admin') }}</h1>
        </div>

        <div>
            <a class="btn btn-secondary ml-0 my-2" href="{{ path('city_new') }}">
                <i class="fas fa-plus"></i> {{ 'city.list.create.button'|trans({}, 'admin') }}
            </a>
        </div>

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="cities">
                <thead>
                    <tr class="bg-white text-primary">
                        <th>{{ 'name'|trans }}</th>
                        <th>{{ 'city.country'|trans({}, 'admin') }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                    <tr id="column-filters">
                        <th class="form-group"><input type="text" class="form-control"></th>
                        <th class="form-group">
                            <select class="form-control select2selector" multiple>
                                {% for country in countries %}
                                    <option value="{{ country.code }}">{{ country.code|country_name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('city') }}
{% endblock %}
