<p>
    {{ 'mail.ask_next_semester.content'|trans({'%user%': user, '%url%': '<a href="'~ path ~'" target="_blank">'~ 'here'|trans({}, 'messages', locale) ~'</a>', '%organization%': manager.name}, 'messages', locale)|raw|nl2br }}
</p>
