<p>
    {{ ('mail.matching.mentor.content.'~type)|trans({'%firstname%': user.firstname, '%link%': '<a href="'~path~'#new-thread">'~ path ~'</a>', '%organization%': manager}, 'messages', user.localeLanguage)|raw|nl2br }}
</p>
