<p>
    {{ ('mail.notification.content.'~type)|trans({'%user%': user.firstname, '%url%': '<a href="'~ path ~'" target="_blank">'~ path ~'</a>', '%organization%': manager}, 'messages', user.localeLanguage)|raw|nl2br }}
</p>
