<p>
    {{ 'mail.matching.new_buddy.content'|trans(
        {
            '%user_to_notify%': userToNotify.firstname,
            '%firstname%': buddy.firstname,
            '%email%': buddy.email,
            '%phone%': buddy.phoneNumber ? buddy.phoneNumber|phone_number_format('INTERNATIONAL') : '',
            '%gender%': buddy.sex|readable_enum('UserGenderType')|trans,
            '%institute%': buddy.institute.name,
            '%age%': buddy.age|default(''),
            '%url%': '<a href="'~ baseUrl ~'" target="_blank">'~ baseUrl ~'</a>',
            '%organization%': matchingManager.name|default('')
        },
        'messages', userToNotify.localeLanguage)|raw|nl2br }}
</p>
