<p>
    {{ 'mail.matching.proposal.content'|trans(
        {
            '%user_to_notify%': userToNotify.firstname,
            '%url%': '<a href="'~ baseUrl ~'" target="_blank">'~ baseUrl ~'</a>',
            '%firstname%': buddy.firstname,
            '%institute%': buddy.institute.name,
            '%age%': buddy.age,
            '%gender%': buddy.sex|readable_enum('UserGenderType')|trans,
            '%organization%': matchingManager.name|default('')
        },
        'messages', userToNotify.localeLanguage)|raw|nl2br }}
</p>
