{% autoescape false %}
    {% if is_granted(constant('App\\Enum\\UserVoterEnum::IS_MANAGER'), user) %}
        {{ 'registration.email.message'|trans({'%username%': user.fullName, '%confirmationUrl%': '<a href="'~signedUrl~'">'~signedUrl~'</a>', '%hoursBeforeExpiration%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')})|raw|nl2br }}
    {% else %}
        {{ 'registration.email.student_message'|trans({'%username%': user.fullName, '%confirmationUrl%': '<a href="'~signedUrl~'">'~signedUrl~'</a>', '%hoursBeforeExpiration%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')})|raw|nl2br }}
    {% endif %}
{% endautoescape %}
