<p>
    {{ ('mail.report_'~userType~'.content')|trans({'%mentorName%': mentor.fullname, '%mentorMail%': '<a href="mailto:'~ mentor.email~'" target="_blank">'~ mentor.email ~'</a>', '%menteeName%': mentee.fullname, '%menteeMail%': '<a href="mailto:'~ mentee.email~'" target="_blank">'~ mentee.email ~'</a>', '%comment%': comment}, 'messages', locale)|raw|nl2br }}
</p>
