<p>
    {{ 'user.resetting.content'|trans({'%resetUrl%': '<a href="'~ url('reset_password', {token: resetToken.token})~'">'~ url('reset_password', {token: resetToken.token})~'</a>', '%hoursBeforeExpiration%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')})|raw|nl2br }}
</p>