{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'hobby.list.title'|trans }}</h1>
        </div>

        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
            <div>
                <a class="btn btn-secondary ml-0 my-2" href="{{ path('hobby_new') }}">
                    <i class="fas fa-plus"></i> {{ 'hobby.list.create.button'|trans({}, 'admin') }}
                </a>
            </div>
        {% endif %}

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="hobbies">
                <thead>
                    <tr class="bg-white">
                        <th>{{ 'name'|trans }}</th>
                        {% if (is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_INSTITUTE_MANAGER')) or is_granted('ROLE_BUDDYCOORDINATOR')) and not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <th class="no-export">{{ 'list.toggle.available'|trans }}</th>
                        {% endif %}
                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <th class="no-export">{{ 'actions'|trans }}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for hobby in hobbies %}
                    <tr data-id="{{ hobby.id }}">
                        <td>{{ hobby.name }}</td>

                        {% if (is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_INSTITUTE_MANAGER')) or is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_BUDDYCOORDINATOR'))) and not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <td>
                                {% include 'Form/_toggle_button.html.twig' with {'object': hobby, 'isChecked': hobby.id in hobbiesManager} %}
                            </td>
                        {% endif %}

                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            {% include 'Default/_list_actions.html.twig' with {
                                'urlEdit': path('hobby_edit', { 'id': hobby.id }),
                                'deleteClass': 'hobby_delete'
                            } %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('hobby') }}
{% endblock %}
