<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1">
    {% if no_index is defined and no_index %}
        <meta name="robots" content="noindex" />
    {% endif %}
    <title>Buddy System {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ 'homepage.banner.text'|trans|raw }}" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,900&amp;subset=arabic" rel="stylesheet">
</head>
<body class="{% block classBody %}{% endblock %} {% if app.user and is_granted("ROLE_USER") %}logged-in{% endif %}">

<header>
    {% block header %}
        {% if app.user and is_granted("ROLE_USER") and not app.request.query.has('iframe') %}
            {% include 'Default/_navbar.html.twig' %}
        {% else %}
            {% include 'Home/_navbar.html.twig' %}
        {% endif %}
    {% endblock header %}
</header>

<main>
    {% block body %}
    {% endblock %}

    <div id="flashbags" class="flashbag-container"></div>
</main>

<footer class="grey-background">
    <div class="container grey-background__inner">
        {% block footer %}
            {% include 'Default/_footer.html.twig' %}
        {% endblock %}
    </div>
</footer>

{% include 'Default/_popup.html.twig' %}

<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js',{"domain":"messages", "locales":app.request.locale~","~default_locale}) }}"></script>
<script src="{{ url('bazinga_jstranslation_js',{"domain":"admin", "locales":app.request.locale~","~default_locale}) }}"></script>
{{ encore_entry_script_tags('main') }}

{% block javascripts %}
{% endblock %}

<script>
    window.addEventListener('load', function (event) {
        {% for label, messages in app.session.flashbag.all %}
            {% for message in messages %}
                Flashbag.show('{{ message }}', '{{ label }}');
            {% endfor %}
        {% endfor %}
    });

    {%  if is_granted(constant('App\\Enum\\UserVoterEnum::IS_MANAGER'), app.user) %}
        UserReport.init();
    {% endif %}

    {% block javascripts_event_listener %}{% endblock %}
</script>

{{ piwik_code() }}
</body>
</html>
