$blue: #0359BB;
$light-blue: #0074ff;
$magenta: #ad004f;
$grey: #8798aa;
$light-grey: #f8f9fd;
$dark-grey: #3C3C3B;
$green: #00cf63;
$yellow: #F9FF00;
$red: #cf0000;
$black: black;
$white: white;
$btn-shadow: #63032f;
$readonly: #e9ecef;

$chart-a: #70c270;
$chart-b: #f4c63d;
$chart-c: #f05b4f;
$chart-d: #d17905;
$chart-e: #453d3f;
$chart-f: #0544d3;
$chart-g: #6b0392;
$chart-h: #ff69b4;
$chart-i: #dda458;
$chart-j: #eacf7d;
$chart-k: #86797d;
$chart-l: #59922b;
$chart-m: #d70206;
$chart-n: #6188e2;
$chart-o: #a748ca;

$chart-od:

#d70206,
#f05b4f,
#f4c63d,
#d17905,
#453d3f,
#59922b,
#0544d3,
#6b0392,
#f05b4f,
#dda458,
#eacf7d,
#86797d,
#b2c326,
#6188e2,
#a748ca
