$default-typo: 'sans-serif';
$bold: 800;
$normal: 400;

%font-face-latin {
    font-family: 'Nunito', unquote($default-typo);
}
%font-face-arabic {
    font-family: 'Cairo', unquote($default-typo);
}
%font-face-cyrillic {
    font-family: 'Open Sans', unquote($default-typo);
}
%font-face-chinese {
    font-family:  'Hiragino Sans GB', 冬青黑体, "Microsoft Yahei", 微软雅黑体, "SimHei", 黑体, "STXihei", 华文细黑, unquote($default-typo);
}
