<p {% if class is defined %} class="{{ class }}" {% endif %}>
        {% if diffValue > 0 %}
            <i class="text-success">
                <i class="fa fa-caret-up"></i>
                {{ diffValue|number_format }}
            </i>
        {% elseif diffValue < 0 %}
            <i class="text-danger">
                <i class="fa fa-caret-down"></i>
                {{ diffValue|number_format }}
            </i>
        {% else %}
            0
        {% endif %}
    {{ 'dashboard.insights.diff_week.from'|trans({'%date%': createdAt|format_datetime('medium', 'none')}) }}
</p>
