{% for buddy in buddies %}
    {% set buddy_user = (app.user.local) ? buddy.mentee : buddy.mentor %}
    <div class="row">
        <div class="col-5 lightblue-separator">
            <div class="text-center">
                {% if mode == 'confirmed' %}
                    {% include('User/_image_user.html.twig') with {'user': buddy_user, 'size': '85'} %}
                {% endif %}

                <p class="mt-2 mb-0">{{ buddy_user.firstname }} {{ buddy_user.lastname }}</p>

                {% if mode == 'confirmed' %}
                    <p class="mb-2">
                        <a href="mailto:{{ buddy_user.email }}">{{ buddy_user.email }}</a>
                    </p>
                    {% if buddy_user.phoneNumber %}
                        <p class="mb-2">
                            <a href="{{ 'tel:'~buddy_user.phoneNumber|phone_number_format('INTERNATIONAL') }}"
                               class="text-nowrap">
                                {{ buddy_user.phoneNumber|phone_number_format('INTERNATIONAL') }}
                            </a>
                        </p>
                    {% endif %}

                    {% if buddy.thread is not null %}
                        <p class="mb-2">
                            <a href="{{ path('messaging_homepage')~'#'~buddy.thread.id }}">{{ 'dashboard.buddy.contact'|trans }}</a>
                        </p>
                    {% endif %}

                    <div class="row report-buttons m-auto">
                        <div class="col-auto mt-2">
                            <a class="report-buddy_button btn btn-outline-danger" href="#" data-id="{{ buddy.id }}">
                                {{ 'dashboard.buddy.menu.report'|trans }}
                            </a>
                        </div>

                        <div class="col-auto mt-2">
                            <a class="no-reply-buddy_button btn btn-outline-danger" href="#" data-id="{{ buddy.id }}">
                                {{ 'dashboard.buddy.menu.no_reply'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-7">
            {% if buddy_user.dob is not null %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        {{ 'matching.age'|trans }} :
                    </div>
                    <div class="col-md-7">
                        {{ buddy_user.age }}
                    </div>
                </div>
            {% endif %}

            <div class="mb-3 row">
                <div class="col-md-5">
                    {{ 'user.gender'|trans }} :
                </div>
                <div class="col-md-7">
                    {{ buddy_user.sex|readable_enum('UserGenderType')|trans }}
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-5">
                    {{ 'user.institute'|trans }} :
                </div>
                <div class="col-md-7">
                    {% for parent in buddy_user.institute.parents %}
                        <span class="tag">{{ parent.name }}</span>
                    {% endfor %}
                    <span class="tag">{{ buddy_user.institute.name }}</span>
                </div>
            </div>

            {% if buddy_user.studies|length > 0 %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        {{ 'user.studies'|trans }}
                    </div>
                    <div class="col-md-7">
                        {% for study in buddy_user.studies %}
                            <span class="tag">{{ study.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if buddy_user.levelOfStudy is not null %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        {{ 'user.level_of_study'|trans }}
                    </div>
                    <div class="col-md-7">
                        {% if buddy_user.levelOfStudy == 'LEVEL_OTHER'|enum_constant('UserLevelStudyType') %}
                            <span class="tag">{{ buddy_user.levelOfStudyOther }}</span>
                        {% else %}
                            <span class="tag">{{ buddy_user.levelOfStudy|readable_enum('UserLevelStudyType')|trans }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if not(buddy_user.local) and buddy_user.typeOfMobility is not null %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        {{ 'user.type_of_mobility'|trans }}
                    </div>
                    <div class="col-md-7">
                        <span class="tag">{{ buddy_user.typeOfMobility|readable_enum('UserTypeMobilityType')|trans }}</span>
                    </div>
                </div>
            {% endif %}

            {% if buddy_user.languages|length > 0 %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        {{ 'user.languages'|trans }} :
                    </div>
                    <div class="col-md-7">
                        {% for language in buddy_user.languages %}
                            <span class="tag">{{ language|language_name|capitalize }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if buddy_user.hobbies|length > 0 %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        {{ 'user.hobbies'|trans }} :
                    </div>
                    <div class="col-md-7">
                        {% for hobby in buddy_user.hobbies %}
                            <span class="tag">{{ hobby.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if buddy_user.motivation %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        {{ 'user.motivation'|trans }} :
                    </div>
                    <div class="col-md-5">
                        <span>{{ buddy_user.motivationName }}</span>
                    </div>
                </div>
            {% endif %}

            {% if mode == 'waiting' %}
                <div class="row mt-3">
                    <div class="col text-left">
                        <a class="btn btn-secondary btn--shadow"
                           href="{{ path('buddy_matching_validate', {'id': buddy.id}) }}">{{ 'dashboard.matching.validate.button'|trans }}</a>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-white refusal_button"
                                data-id="{{ buddy.id }}">
                            {{ 'dashboard.matching.refusal.button'|trans }}
                        </button>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    {% if not loop.last %}
        <hr>
    {% endif %}
{% endfor %}
