<div class="white-box p-4">
    <h2 class="text-primary">{{ 'dashboard.insights'|trans }}</h2>

    <div class="py-4">
        {% if institutes is defined %}
            <div class="col-md-6 form-group">
                <label for="manager-selector">{{ 'dashboard.insights.institute.selector'|trans }}</label>
                <select class="form-control" id="manager-selector">
                    <option value=""></option>
                    {% for institute in institutes %}
                        <option value="{{ institute.id }}" data-type="{{ constant('App\\Entity\\MatchingManagerInterface::TYPE_INSTITUTE') }}">
                            {% if institutes|length <= 30 and institute.level > 0 %}
                                {% for i in 1..institute.level %}
                                    -
                                {% endfor %}
                            {% endif %}
                            {{ institutes|length > 30 ? institute.id ~ ' |' }}
                            {{ institute.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="dropdown show ellipsis-menu">
            <button class="dropdown-toggle btn btn-lg" id="insight-menu--button"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right text-center"
                aria-labelledby="insight-menu--button">
                <li role="presentation">
                    <a class="dropdown-item" href="{{ path('stats_index') }}" target="_blank">
                        {{ 'dashboard.insights.menu.stats'|trans }}
                    </a>
                </li>
                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                    <li role="presentation">
                        <a class="dropdown-item" href="{{ path('institutes_requested') }}" target="_blank">
                            {{ 'institute_request.list.title'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="stats-content" data-id="{{ manager is defined ? manager.id : null }}"
         data-type="{{ managerType is defined ? managerType : null }}">

    </div>
</div>
