{% if dateSwitchSemester is defined %}
    <div class="col-md-12">
        <div class="row">
            <h5>{{ 'dashboard.insights.semester'|trans }}&nbsp;</h5>
            {{ (manager.semester.period|readable_enum)|trans }}
        </div>
        <div class="row">
            <h5>{{ 'dashboard.insights.next_semester'|trans }}&nbsp;</h5>
            {{ dateSwitchSemester|format_datetime('medium', 'none') }}
        </div>
    </div>
    <hr>
{% endif %}

{% if manager is null or not(manager.isFullYearOnly) %}
    <div class="text-center my-4">
        <div id="stats-type" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary {{ not(isYearStats) ? 'active' }}">
                <input type="radio" name="type" id="semester-stats"
                       autocomplete="off" {{ not(isYearStats) ? 'checked' }}
                       value="{{ constant('App\\Enum\\StatTypeEnum::TYPE_SEMESTER') }}"> {{ constant('App\\Enum\\StatTypeEnum::TYPE_SEMESTER')|readable_enum('StatTypeType')|trans }}
            </label>
            <label class="btn btn-primary {{ isYearStats ? 'active' }}">
                <input type="radio" name="type" id="year-stats" autocomplete="off" {{ isYearStats ? 'checked' }}
                       value="{{ constant('App\\Enum\\StatTypeEnum::TYPE_YEAR') }}"> {{ constant('App\\Enum\\StatTypeEnum::TYPE_YEAR')|readable_enum('StatTypeType')|trans }}
            </label>
        </div>
    </div>
{% endif %}

<hr>

<div class="insight" data-institutes="{{ institutes['series']|json_encode|raw }}"
     data-registration="{{ registration|json_encode }}"
     data-nationalities="{{ nationalities['series']|json_encode|raw }}">
    <div class="row mt-4">
        <div class="col-6 text-center">
            <div class="number-circle">{{ nbUsers }}</div>
            <p class="insight__legend">{{ 'dashboard.insights.info.nb_users'|trans }}</p>
            {% if lastStats is defined and lastStats is not null %}
                {% include 'Dashboard/_diff_stat.html.twig' with {
                    'diffValue': nbUsers - lastStats.nbUsers,
                    'createdAt': lastStats.createdAt
                } %}
            {% endif %}
        </div>
    </div>

    {% if nbMentees > 0 or nbMentors > 0 %}
        <hr>

        <h3>{{ 'dashboard.insights.users.title'|trans }}</h3>
        <div class="row mt-4 chart chart-users">
            <div class="col-md-5 offset-md-1 ct-chart-users ct-perfect-fourth"></div>
            <div class="col-md-5 offset-md-1">
                <ul class="mt-4 chart-legend">
                    <li data-mentees="{{ nbMentees-nbMenteesNotMatched }}"
                        data-mentors="{{ nbMentors-nbMentorsNotMatched }}">
                        <div>
                            <span class="chart-legend__color chart-legend__bar--a"></span>
                            <p class="insight__legend">{{ 'dashboard.insights.users.user_matched'|trans }}</p>
                            <p class="pl-4 mb-0">{{ 'dashboard.insights.users.mentors'|trans ~ ' ' ~ (nbMentors-nbMentorsNotMatched) }}</p>
                            <p class="pl-4">{{ 'dashboard.insights.users.mentees'|trans ~ ' ' ~  (nbMentees-nbMenteesNotMatched) }}</p>
                        </div>
                    </li>
                    <li data-mentees="{{ nbMenteesNotMatched }}" data-mentors="{{ nbMentorsNotMatched }}">
                        <div>
                            <span class="chart-legend__color chart-legend__bar--b"></span>
                            <p class="insight__legend">{{ 'dashboard.insights.users.user_not_matched'|trans }}</p>
                            <p class="pl-4 mb-0">{{ 'dashboard.insights.users.mentors'|trans ~ ' ' ~  nbMentorsNotMatched }}</p>
                            <p class="pl-4">{{ 'dashboard.insights.users.mentees'|trans ~ ' ' ~  nbMenteesNotMatched }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% if registration['series'] is defined and registration['series']|length > 0 %}
        <hr>
        <h3>
            {{ 'dashboard.insights.registration.title'|trans }}
            <img class="tooltip-img" src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                 alt="information"
                 data-toggle="tooltip" data-placement="right"
                 title="{{ 'dashboard.insights.registration.tooltip'|trans }}">
        </h3>
        <div class="row mt-4 chart chart-registration">
            <div class="col-md-12 ct-chart-registration ct-perfect-fourth"></div>
            <div class="col-md-5 offset-md-1">
                <ul class="mt-4 chart-legend">
                    <li>
                        <div>
                            <span class="chart-legend__color chart-legend__bar--a"></span>
                            <p class="insight__legend">{{ 'dashboard.insights.registration.new_users'|trans }}</p>
                            {% if lastStats is defined and  lastStats is not null %}
                                {% include 'Dashboard/_diff_stat.html.twig' with {
                                    'diffValue': nbNewUsers - lastStats.nbNewUsers,
                                    'createdAt': lastStats.createdAt,
                                    'class': 'pl-4'
                                } %}
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="chart-legend__color chart-legend__bar--b"></span>
                            <p class="insight__legend">{{ 'dashboard.insights.registration.new_mentors'|trans }}</p>
                            {% if lastStats is defined and  lastStats is not null %}
                                {% include 'Dashboard/_diff_stat.html.twig' with {
                                    'diffValue': nbNewMentors - lastStats.nbNewMentors,
                                    'createdAt': lastStats.createdAt,
                                    'class': 'pl-4'
                                } %}
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="chart-legend__color chart-legend__bar--c"></span>
                            <p class="insight__legend">{{ 'dashboard.insights.registration.new_mentees'|trans }}</p>
                            {% if lastStats is defined and  lastStats is not null %}
                                {% include 'Dashboard/_diff_stat.html.twig' with {
                                    'diffValue': nbNewMentees - lastStats.nbNewMentees,
                                    'createdAt': lastStats.createdAt,
                                    'class': 'pl-4'
                                } %}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% if nbMentees > 0 or nbMentors > 0 %}
        <hr>
        <h3>{{ 'dashboard.insights.buddies.title'|trans }}</h3>
        <div class="row mt-4 chart chart-matches">
            <div class="col-md-5 offset-md-1 ct-chart-matches ct-square"></div>
            <div class="col-md-5 offset-md-1">
                <ul class="mt-4 chart-legend">
                    <li data-value="{{ nbMatchConfirmed }}">
                        <span class="chart-legend__color chart-legend__pie--a"></span>
                        <p class="insight__legend">{{ 'dashboard.insights.buddies.confirmed'|trans }}</p>
                        {% if lastStats is defined and  lastStats is not null %}
                            {% include 'Dashboard/_diff_stat.html.twig' with {
                                'diffValue': nbMatchConfirmed - lastStats.nbMatchConfirmed,
                                'createdAt': lastStats.createdAt,
                                'class': 'pl-4'
                            } %}
                        {% endif %}
                    </li>
                    <li data-value="{{ nbMatchWaiting }}">
                        <span class="chart-legend__color chart-legend__pie--b"></span>
                        <p class="insight__legend">{{ 'dashboard.insights.buddies.waiting'|trans }}</p>
                        {% if lastStats is defined and  lastStats is not null %}
                            {% include 'Dashboard/_diff_stat.html.twig' with {
                                'diffValue': nbMatchWaiting - lastStats.nbMatchWaiting,
                                'createdAt': lastStats.createdAt,
                                'class': 'pl-4'
                            } %}
                        {% endif %}
                    </li>
                    <li data-value="{{ nbMatchRefused }}">
                        <span class="chart-legend__color chart-legend__pie--c"></span>
                        <p class="insight__legend">{{ 'dashboard.insights.buddies.refused'|trans }}</p>
                        {% if lastStats is defined and lastStats is not null %}
                            {% include 'Dashboard/_diff_stat.html.twig' with {
                                'diffValue': nbMatchRefused - lastStats.nbMatchRefused,
                                'createdAt': lastStats.createdAt,
                                'class': 'pl-4'
                            } %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% if institutes['series']|length > 0 %}
        <hr>
        <h3>{{ 'dashboard.insights.institutes.title'|trans }}</h3>

        {% set countInstitutes = institutes.labels|length %}
        {% if countInstitutes > 10 %}
            <div class="form-group">
                <select class="form-control" id="chart-institutes__selector">
                    <option value="0">1 - 10</option>
                    {% for i in 1..((countInstitutes/10)|round(0, 'floor')) %}
                        <option value="{{ i }}">{{ 1 + i*10 }}
                            - {{ (10 + i*10 < countInstitutes)?10 + i*10:countInstitutes }} </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="row mt-4 chart chart-institutes">
            <div class="col-md-5 offset-md-1 ct-chart-institutes ct-square"></div>
            <div class="col-md-5 offset-md-1">
                <ul class="mt-4 chart-legend">
                    {% for institute in institutes.labels %}
                        {% set instituteLoop = (loop.index0 / 10 )|round(0, 'floor') %}
                        <li data-institute-loop="{{ instituteLoop }}"
                            {% if instituteLoop > 0 %}class="d-none"{% endif %}>
                            <div>
                                <span class="chart-legend__color {{ 'chart-legend__pie--' ~ range('a','z')[loop.index0%10] }}"></span>
                                <p class="insight__legend">{{ institute }}</p>
                                <p class="pl-4">{{ 'dashboard.insights.legend.nb_users'|trans ~' '~ institutes.series[loop.index0] }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if motivations|length > 0 %}
        <hr>
        <h3>{{ 'dashboard.insights.motivations.title'|trans }}</h3>
        <div class="row mt-4 chart chart-motivations">
            <div class="col-md-5 offset-md-1 ct-chart-motivations ct-square"></div>
            <div class="col-md-5 offset-md-1">
                <ul class="mt-4 chart-legend">
                    {% for motivation in motivations %}
                        <li data-value="{{ motivation.nbUsers }}">
                            <span class="chart-legend__color {{ 'chart-legend__pie--' ~ range('a','z')[loop.index0] }}"></span>
                            <p class="insight__legend">{{ motivation.nameMentee }}</p>
                            <p class="pl-4">{{ 'dashboard.insights.legend.nb_users'|trans ~' '~ motivation.nbUsers }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if nationalities['series']|length > 0 %}
        <hr>
        <h3>{{ 'dashboard.insights.nationalities.title'|trans }}</h3>
        {% set countNationalities = nationalities.labels|length %}
        {% if countNationalities > 10 %}
            <div class="form-group">
                <select class="form-control" id="chart-nationalities__selector">
                    <option value="0">1 - 10</option>
                    {% for i in 1..((countNationalities/10)|round(0, 'floor')) %}
                        <option value="{{ i }}">{{ 1 + i*10 }}
                            - {{ (10 + i*10 < countNationalities)?10 + i*10:countNationalities }} </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="row mt-4 chart chart-nationalities">
            <div class="col-md-5 offset-md-1 ct-chart-nationalities ct-square"></div>
            <div class="col-md-5 offset-md-1">
                <ul class="mt-4 chart-legend">
                    {% for nationality in nationalities.labels %}
                        {% set nationalityLoop = (loop.index0 / 10 )|round(0, 'floor') %}
                        <li data-nationalities-loop="{{ nationalityLoop }}"
                            {% if nationalityLoop > 0 %}class="d-none"{% endif %}>
                            <div>
                                <span class="chart-legend__color {{ 'chart-legend__pie--' ~ range('a','z')[loop.index0%10] }}"></span>
                                <p class="insight__legend">{{ nationality|country_name }}</p>
                                <p class="pl-4">{{ 'dashboard.insights.legend.nb_users'|trans ~' '~  nationalities.series[loop.index0] }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>
