{% if user.isAskNextSemester %}
    {% include('Dashboard/archived_banner.html.twig') %}
{% endif %}

<div class="white-box p-3">
    <h2 class="text-secondary">{{ 'dashboard.buddies'|trans }}</h2>

    {% if waitingBuddies is defined and waitingBuddies|length > 0 %}
        <h3 class="mt-3 mb-3 text-primary">{{ 'dashboard.buddies.waiting'|trans }}</h3>
        {% include('Dashboard/_list_buddies.html.twig') with {'buddies': waitingBuddies, 'mode': 'waiting'} %}
    {% endif %}

    {% if confirmedBuddies| length > 0 %}
        <h3 class="mt-5 mb-3 text-primary">{{ 'dashboard.buddies.confirmed'|trans }}</h3>
        {% include('Dashboard/_list_buddies.html.twig') with {'buddies': confirmedBuddies, 'mode': 'confirmed'} %}
    {% endif %}

    {% if archivedBuddies| length > 0 %}
        <h3 class="mt-5 mb-3 text-primary">{{ 'dashboard.buddies.archived'|trans }}</h3>
        {% include('Dashboard/_list_buddies.html.twig') with {'buddies': archivedBuddies, 'mode': 'archived'} %}
    {% endif %}

    {% if confirmedBuddies|length == 0 and archivedBuddies|length == 0 and (waitingBuddies is not defined or waitingBuddies|length == 0) %}
        <p>
            {{ 'dashboard.buddies.empty'|trans }}
        </p>
    {% endif %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
