<div class="p-3 mb-3 {{ isModal is not defined or not isModal ? 'white-box'}}">
    <p>{{ 'dashboard.next_semester.title'|trans }}</p>
    <a href="{{ path('answer_next_semester', {'response': 0}) }}" role="button" class="btn btn-danger">
        {{ 'dashboard.next_semester.refuse.button'|trans }}
    </a>
    <a href="{{ path('answer_next_semester', {'response': 1}) }}" role="button" class="btn btn-success">
        {{ 'dashboard.next_semester.accept.button'|trans }}
    </a>
</div>
