{% extends 'base.html.twig' %}

{% block body %}
	<div class="dashboard-home container mt-5 mb-5 text-left">
		<div class="row">
			<div class="dashboard-home__side col-sm-3">
				<div class="white-box p-3 text-center mb-3">
					<div class="buddy-photo-block">
						{% include('User/_image_user.html.twig') with {'size': '100'} %}
					</div>
					<p class="text-primary mt-2 mb-3">{{ user.firstname }}
						{{ user.lastname }}</p>
					<p class="fs-4 mt-3 mb-0">
						<a href="{{ path('profile_edit')}}">{{'dashboard.reminder.notifications'|trans}}
						</a>
					</p>
					{% if isManager %}
						{% if not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) and is_granted(constant('App\\Enum\\UserVoterEnum::HAS_MATCHING_RIGHT'), app.user) %}
							<hr>
							<div class="text-left">
								{% if nbMenteesNotMatched > 0 %}
									<p class="account-status text-danger">
										<img class="icon" src="{{ asset('images/pictos/nok.svg') }}">
										<a class="text-danger" href="{{ path('matching_step1') }}">
											{{ 'dashboard.buddies.not_all_buddies_matched'|trans }}
										</a>
									</p>
								{% else %}
									<p class="account-status text-success">
										<img class="icon" src="{{ asset('images/pictos/ok.svg') }}">
										{{ 'dashboard.buddies.all_buddies_matched'|trans }}
									</p>
								{% endif %}
							</div>
						{% endif %}
					{% else %}
						<hr>
						<div class="text-left">
							{% if user.isFullyCompleted %}
								<p class="account-status text-success">
									<img class="icon" src="{{ asset('images/pictos/ok.svg') }}">
									{{ 'dashboard.profile.completed'|trans }}
								</p>
							{% else %}
								<p class="account-status text-danger">
									<img class="icon" src="{{ asset('images/pictos/nok.svg') }}">
									{{ 'dashboard.profile.uncompleted'|trans }}
								</p>
							{% endif %}

							{% if user.isArchived %}
								<p class="account-status">
									<a href="#" class="text-danger account-archived" data-id="{{ user.id }}">
										<img class="icon" src="{{ asset('images/pictos/nok.svg') }}">
										{{ 'dashboard.profile.archived'|trans }}
									</a>
								</p>
							{% endif %}
						</div>
					{% endif %}
				</div>
				{% if not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN'))  %}
					<div class="white-box p-3 text-center">
						{% if manager is defined and manager.logoFile is defined %}
							<div class="logo-school mt-3">
								<img src="{{ vich_uploader_asset(manager, 'logoFile') }}" alt="Logo organization" width="200">
								<hr>
							</div>
						{% endif %}

						{% if manager.description is not null %}
							<div class="mt-3 markdown-text">
								<p>{{ manager.description|markdown_to_html|linkify|raw|nl2br }}</p>
							</div>
							<hr>
						{% endif %}

						{% if manager.hasSocialLink %}
							<ul class="social list-inline mt-3">
								{% if manager.website is not null %}
									<li>
										<a href="{{ 'http' in manager.website ? manager.website : 'https://' ~ manager.website }}" target="_blank">
											<i class="fas fa-globe"></i>
										</a>
									</li>
								{% endif %}

								{% if manager.facebook is defined and manager.facebook is not null %}
									<li>
										<a href="{{ 'http' in manager.facebook ? manager.facebook : 'https://' ~ manager.facebook }}" target="_blank">
											<i class="fab fa-facebook"></i>
										</a>
									</li>
								{% endif %}

								{% if manager.twitter is defined and manager.twitter is not null %}
									<li>
										<a href="{{ 'http' in manager.twitter ? manager.twitter : 'https://' ~ manager.twitter }}" target="_blank">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
								{% endif %}

								{% if manager.instagram is defined and  manager.instagram is not null %}
									<li>
										<a href="{{ 'http' in manager.instagram ? manager.instagram : 'https://' ~ manager.instagram }}" target="_blank">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
								{% endif %}
							</ul>

							{% if not isManager %}
								<hr>
							{% endif %}
						{% endif %}

						{% if not isManager %}
							<div class="mt-3">
								<a href="{{ path('messaging_homepage')~'#new-thread' }}">
									{{ 'dashboard.contact.coordinator'|trans }}
								</a>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</div>

			<div class="col-sm-9">
				{% if isManager %}
					{{ include('Dashboard/_manager_view.html.twig') }}
				{% else %}
					{{ include('Dashboard/_user_view.html.twig') }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% if is_granted(constant('App\\Enum\\UserVoterEnum::IS_MANAGER'), user) %}
		{{ encore_entry_link_tags('dashboard_insight') }}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{% if is_granted(constant('App\\Enum\\UserVoterEnum::IS_MANAGER'), user) %}
		{{ encore_entry_script_tags('dashboard_insight') }}
	{% endif %}
{% endblock %}
