{{ form_start(form, {'attr': {'data-id': buddy.id}})}}
{{ form_errors(form) }}
<div class="text-center mb-2">
    {{ 'dashboard.matching.refusal.explanation'|trans }}
</div>
<div class="form-group" id="refusalReason">
    <div class="col-sm-12 control-label">
        {{ form_row(form.reasonRefusal) }}

        <div class="form-group d-none">
            {{ form_label(form.reasonRefusalOther) }}
            {{ form_widget(form.reasonRefusalOther) }}
            {{ form_errors(form.reasonRefusalOther) }}
        </div>
    </div>
</div>
<div class="text-center">
    <input type="submit" class="btn btn-secondary btn--shadow" value="{{ 'dashboard.matching.refusal.button' | trans }}"/>
</div>
{{ form_end(form) }}
