@import "../helpers/colors";
@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins/breakpoints";

.insight{
  &__legend{
    margin-bottom: 0;
  }
}

.number-circle {
  $size: 100px;
  height: $size;
  width: $size;
  line-height: $size + 20px;
  border-radius: 50%;
  border: 10px solid theme-color('primary');
  color: theme-color('primary');
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@mixin colorChart($color){
  .ct-slice-donut-solid,
  .ct-slice-pie {
    fill: $color;
    stroke: $white;
    stroke-width: 1px;
  }
}

.ct-series{
  &-a{ @include colorChart($chart-a) }
  &-b{ @include colorChart($chart-b) }
  &-c{ @include colorChart($chart-c) }
  &-d{ @include colorChart($chart-d) }
  &-e{ @include colorChart($chart-e) }
  &-f{ @include colorChart($chart-f) }
  &-g{ @include colorChart($chart-g) }
  &-h{ @include colorChart($chart-h) }
  &-i{ @include colorChart($chart-i) }
  &-j{ @include colorChart($chart-j) }
  &-k{ @include colorChart($chart-k) }
  &-l{ @include colorChart($chart-l) }
  &-m{ @include colorChart($chart-m) }
  &-n{ @include colorChart($chart-n) }
  &-o{ @include colorChart($chart-o) }
}

.ct-series{
  &-a .ct-bar{
    stroke: $chart-m;
  }
  &-b .ct-bar{
    stroke: $chart-b;
  }
  &-c .ct-bar{
    stroke: $chart-c;
  }
}

.ct-chart-registration {
  max-height: 300px;
}

.ct-label {
  fill: $white;
  font-size: 14px;
}

.chart-legend {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 15px;
  }

  &__color {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px 5px;
  }

  &__pie {
    &--a { background-color: $chart-a }
    &--b { background-color: $chart-b }
    &--c { background-color: $chart-c }
    &--d { background-color: $chart-d }
    &--e { background-color: $chart-e }
    &--f { background-color: $chart-f }
    &--g { background-color: $chart-g }
    &--h { background-color: $chart-h }
    &--i { background-color: $chart-i }
    &--j { background-color: $chart-j }
    &--k { background-color: $chart-k }
    &--l { background-color: $chart-l }
    &--m { background-color: $chart-m }
    &--n { background-color: $chart-n }
    &--o { background-color: $chart-o }
  }

  &__bar {
    &--a { background-color: $chart-m }
    &--b { background-color: $chart-b }
    &--c { background-color: $chart-c }
  }
}
