@import "../components/landing-pages";
@import "../helpers/colors";
@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins/breakpoints";

.why-get-buddy {
  .text {
    @include media-breakpoint-up('md') {
      padding-left: 6rem;
    }
  }

  .icon {
    @include media-breakpoint-up('lg') {
      position: relative;
      top: 33px;
    }
  }

  .photos {
    padding-top: 6rem;

    img {
      position: absolute;
      bottom: -17px;
    }

    .front {
      left: 155px
    }

    .back {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: "FlipH";
      -ms-filter: "FlipH";
      left: 0;
    }
  }
}

.why-be-buddy {
  .photos {
    img {
      position: absolute;
      bottom: -17px;
    }

    .front {
      right: 6px;
      max-width: 80%;
      width: inherit;
    }
  }
}

.how-works {
  .icon {
    float: left;
  }

  .vertical-row {
    margin-left: 33%;
    color: $blue;
    font-weight: bold;

    @include media-breakpoint-down('md') {
      margin-left: 130px;
    }

    div {
      position: absolute;
      padding-right: 15px;
    }

    .first {
      top: 102px
    }

    .second {
      top: 322px
    }

    .third {
      top: 544px
    }
  }

  .text {
    @include media-breakpoint-up('md') {
      margin-top: 6rem;
    }
  }
}

.ready {
  text-align: center;

  p {
    @include media-breakpoint-up('md') {
      width: 50%;
      margin: auto;
    }
  }
}
