@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins/breakpoints";

@import "../helpers/colors";
@import "../helpers/buttons";
@import "../components/small-loader";
@import "../components/suggestions";

$border-color: #c4c4c4;

.inbox{
  @include media-breakpoint-down('xs') {
    max-width: 95%;
  }

  &__wrapper {
    clear: both;
    overflow: hidden;
  }
  &__left-wrapper {
    float: left;
    overflow: hidden;
    width: 25%;
    border-right: 1px solid $border-color;

    [dir=rtl] &{
      float: right;
      border-left: 1px solid $border-color;
      border-right: none;
    }

    @include media-breakpoint-down('sm') {
      width: 35%
    }
  }
  &__left-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down('md'){
      text-align: right;
    }

    h4 {
      color: theme-color('primary');
      font-size: 21px;
      margin: auto;
    }

    button {
      background: transparent;
      border: none;
      color: $dark-grey;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.thread-selector {
  list-style-type: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -khtml-padding-start: 0;
  -o-padding-start: 0;
  padding-left: 0;
  height: 717px;
  margin-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;

  &__item {
    cursor: default;
  }

  &__item-info {
    position: relative;
    border-bottom: 1px solid $border-color;
    padding-right: 18px;

    &:hover {
      color: $dark-grey;
      background: rgba($black, 0.05);
      text-decoration: none;
    }

    &:active, &:focus {
      color: $dark-grey;
      background: rgba($black, 0.08);
    }

    &.active {
      color: $dark-grey;
      background: rgba($black, 0.1);
    }
  }

  &__link {
    display: flex;
    color: $dark-grey;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 16px;

    @include media-breakpoint-down('md') {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include media-breakpoint-down('xs') {
      padding-left: 5px;
      padding-right: 5px;
    }

    &.unread {
      &:after {
        margin-left: auto;
        content: ' ';
        display: inline-block;
        width: 12px;
        height: 12px;
        background: theme-color('primary');
        border: 1px solid $white;
        border-radius: 50%;
        vertical-align: middle;
        padding: 0 5px;
      }
    }
  }
  &__image{
    width: 45px;
    flex-shrink: 0;

    @include media-breakpoint-down('md'){
      width: 30px;
    }
    @include media-breakpoint-down('xs'){
      width: 25px;
    }
  }
  &__icon{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px;

    @include media-breakpoint-down('md'){
      font-size: 22px;
      width: 30px;
      height: 30px;
    }
    @include media-breakpoint-down('xs'){
      font-size: 19px;
      width: 25px;
      height: 25px;
    }

    img {
      min-width: 40px;
    }
  }
  &__user {
    padding-left: 15px;

    [dir=rtl] &{
      padding-right: 15px;
      padding-left: inherit;
    }

    @include media-breakpoint-down('md') {
      padding-left: 10px;

      [dir=rtl] &{
        padding-right: 10px;
        padding-left: inherit;
      }
    }
    @include media-breakpoint-down('xs') {
      padding-left: 5px;

      [dir=rtl] &{
        padding-right: 5px;
        padding-left: inherit;
      }
    }
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 15px;
    color: $dark-grey;
  }

  &__type {
    font-size: 12px;
    display: block;
    color: $dark-grey;
  }
  &__date {
    font-size: 11px;
    color: rgba(black, 0.5);
    display: block;
  }
  &__favorite {
    i {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}

.thread {
  &__header {
    text-align: center;
    border-bottom: 1px solid $border-color;
    height: 59px;
    position: relative;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      cursor: default;
    }

    &--single-option {
      text-transform: capitalize;
      font-size: 20px;
    }
  }

  &__type {
    font-size: 12px;

    @include media-breakpoint-down('xs'){
      display: none;
    }
  }

  &__container {
    height: 540px;
    overflow-y: auto;
    padding: 0 10px;

    &--recipient-form {
      height: 495px;
    }

    &--no-recipient-form {
      height: 693px;
    }
  }
  &__remove-user {
    @include iconButton(25px, 20px);
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  &__form {
    border-top: 1px solid $border-color;
    position: relative;
  }
}

.message-form{
  select {
      @include media-breakpoint-down('xs'){
          font-size: 13px;
      }
  }

  &__input{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 110px;
    width: 100%;
    padding: 10px 50px 10px 15px;
    outline: none;
    resize: none;

    [dir=rtl] &{
      padding-right: 15px;
      padding-left: 50px;
    }
  }
  &__submit{
    background: theme-color('primary');
    border: medium none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    width: 33px;
    position: absolute;
    right: 10px;
    top: 10px;

    &:disabled {
      cursor: default;
      opacity: .3;
    }

    &.error {
        background: theme-color('danger');
    }

    [dir=rtl] &{
      right: inherit;
      left: 10px;
    }
  }
}

.message {
  &--incoming {
    margin-bottom: 10px;

    .tags {
      @include media-breakpoint-down('xs'){
        display: none;
      }

      margin-left: 30px;
      margin-right: auto;

      p {
          font-size: 10px;
      }
    }
  }
  &--outgoing {
    overflow: hidden;
    margin: 26px 0 26px;

    .tags {
      @include media-breakpoint-down('xs'){
        display: none;
      }

      margin-left: auto;
      margin-right: 0;
      width: 46%;

      p {
        font-size: 10px;
      }
    }
  }

  &__received {
    display: inline-block;
    padding: 0 0 0 10px;
    width: 92%;

    @include media-breakpoint-down('sm') {
      width: 87%;
    }

    [dir=rtl] & {
      padding: 0 10px 0 0;
    }

    & > div {
      width: 57%;
    }
    p {
      background: #ebebeb none repeat scroll 0 0;
      border-radius: 20px;
      color: #646464;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px 5px 12px;
      width: 100%;

      &.error {
        color: theme-color('danger');
      }
    }
  }
  &__img {
    display: inline-block;
    max-width: 30px;
  }
  &__sent {
    margin-left: auto;
    margin-right: 0;
    width: 46%;

    p {
      background: theme-color('primary');
      border-radius: 20px;
      font-size: 14px;
      margin: 0;
      color: $white;
      padding: 5px 10px 5px 12px;
      width: 100%;

      a {
        color: $white;
      }
    }
  }
}

.current-thread {
  float: left;
  width: 75%;

  [dir=rtl] &{
    float: right;
  }

  @include media-breakpoint-down('sm') {
    width: 65%
  }
}

.date-message {
    text-align: center;
    color: $grey;
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.no-more-message {
    text-align: center;
    color: $grey;
    font-size: 11px;
    margin-top: 20px;
}
