@import "../components/landing-pages";
@import "../helpers/colors";
@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins/breakpoints";

.institutions-logo {
  .slider {
    height: 250px;
    width: 100%;
    margin: auto;
    overflow:hidden;

    .slide {
      height: 250px;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.platform {
  .title-container {
    margin-bottom: 2rem;

    @include media-breakpoint-up('lg') {
      height: 50px;
    }
  }
}
