{% extends 'base.html.twig' %}
{% set code = status_code in ['404', '403'] ? status_code : '500' %}

{% block title %} - {{ "label.error"|trans ~' '~code }} {% endblock %}

{% block body %}
    <div class="container white-box management-form p-4 my-5 text-center">
        <div class="mx-auto">
            <h1 class="my-3">
                {{ "label.error"|trans ~' '~code }}
            </h1>

            <p>
                {{ ("error."~code)|trans }}
            </p>

            {% if code == '403' and exception.message != 'Access Denied.' %}
                {% if '%link_to_matching%' in exception.message %}
                    <p>
                        {{ exception.message|replace({'%link_to_matching%': ''}) }}
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{{ path('matching_step1') }}">
                            {{ 'back_to_the_list'|trans }}
                        </a>
                    </p>
                {% else %}
                    <p>
                        {{ exception.message }}
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
