<div class="text-left">
    <h2 class="text-secondary mb-4">{{ 'profile.account'|trans }}</h2>
    <div class="row mt-2 form-group">
        {{ form_label(edit_form.email, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(edit_form.email, {'attr':{'placeholder': 'user.email'|trans}}) }}
            {{ form_errors(edit_form.email) }}
        </div>
    </div>
    <div class="row mt-2 form-group">
        {{ form_label(edit_form.phone_number, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(edit_form.phone_number, {'attr':{'placeholder': 'user.phone'|trans }}) }}
            {{ form_errors(edit_form.phone_number) }}
        </div>
    </div>
    {% if edit_form.archived is defined %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.archived, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.archived) }}
                {{ form_errors(edit_form.archived) }}
            </div>
        </div>
    {% endif %}

    {% if role is defined or edit_form.roles is defined %}
        <div class="row mt-2 form-group">
            <label
                class="col-sm-3 col-form-label" {% if edit_form.roles is defined %} for="{{ edit_form.roles.vars.id }}" {% endif %}>
                {{ 'user.roles'|trans }}
            </label>

            {% if role is defined and role is not null %}
                <div class="col-sm-3 mt-2">
                    <p>{{ role|replace({'ROLE_': ''})|replace({'_': ' '})|capitalize }}</p>
                </div>
            {% endif %}
            {% if edit_form.roles is defined %}
                <div class="col-sm-6">
                    {{ form_widget(edit_form.roles,{'attr':{'class': 'select2selector'}}) }}
                    {{ form_errors(edit_form.roles) }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="text-right">
        {% if is_granted(constant('App\\Enum\\UserVoterEnum::EDIT_SENSITIVE_DATA'), user) and
            user.typeOfRegistration == constant('App\\Enum\\UserRegistrationTypeEnum::REGISTRATION_CLASSIC')
        %}
            <a href="#" type="button" id="user_edit_password" data-id="{{ user.id }}" class="btn btn-outline-primary m-2">
                {{ 'user.password.edit.button'|trans }}
            </a>
        {% endif %}

        {% if is_granted(constant('App\\Enum\\UserVoterEnum::EDIT_OTHER'), user) %}
            {% if showOverrideMaxRefusedLimitationButton %}
                <a href="{{ path('user_override-max-refused', {id: user.id}) }}" class="btn btn-outline-warning m-2">
                    {{ 'profile.override_max_refused.button'|trans|nl2br }}
                </a>
            {% endif %}

            <a href="{{ path('messaging_homepage', {_fragment: 'new-thread', recipient: user.id}) }}" class="btn btn-outline-info m-2">
                {{ 'actions.message'|trans }}
            </a>
        {% else %}
            <a href="{{ path('user_export', {id: user.id} ) }}" class="btn btn-outline-info m-2">
                {{ 'profile.export'|trans }}
            </a>
        {% endif %}
        <a href="#" type="button" id="user_delete" data-id="{{ user.id }}" class="btn btn-outline-danger m-2">
            {{ 'profile.deletion'|trans }}
        </a>
    </div>

    <hr class="mt-5 mb-5">

    <h2 class="text-secondary mb-4">{{ 'profile.profile'|trans }}</h2>

    <div class="row mt-2 align-items-center form-group">
        <div class="col-sm-3">
            {{ 'profile.picture'|trans }}
        </div>
        <div class="col-sm-3">
            {% include('User/_image_user.html.twig') with {'size': '100'} %}
        </div>

        {% if edit_form.pictureFile is defined %}
            <div class="col-sm-6 mt-3 mt-md-0">
                <label class="text-primary">
                    {{ form_widget(edit_form.pictureFile) }}
                    {{ form_help(edit_form.pictureFile) }}
                </label>
            </div>
            {{ form_errors(edit_form.pictureFile) }}
        {% endif %}
    </div>
    <div class="row mt-2 form-group">
        {{ form_label(edit_form.firstname, 'user.firstname'|trans, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(edit_form.firstname) }}
            {{ form_errors(edit_form.firstname) }}
        </div>
    </div>
    <div class="row mt-2 form-group">
        {{ form_label(edit_form.lastname, 'user.lastname'|trans, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(edit_form.lastname) }}
            {{ form_errors(edit_form.lastname) }}
        </div>
    </div>

    {% if edit_form.dob is defined %}
        <div class="row mt-2 form-group input-date">
            {{ form_label(edit_form.dob, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.dob) }}
                {{ form_errors(edit_form.dob) }}
            </div>
        </div>
    {% endif %}

    {% if edit_form.sex is defined %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.sex, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.sex, {'attr': {'data-value': edit_form.sex.vars.value}}) }}
                {{ form_errors(edit_form.sex) }}
            </div>
        </div>
    {% endif %}

    <hr class="mt-5 mb-5">

    <h2 class="text-secondary mb-4">{{ 'profile.situation'|trans }}</h2>

    {% if edit_form.isLocal is defined %}
        <div class="mt-2 form-group form-custom-group">
            <div class="offset-sm-3 row pl-md-2 pl-3">
                {{ form_widget(edit_form.isLocal, {'attr': {'data-value': edit_form.isLocal.vars.value}}) }}
                {{ form_errors(edit_form.isLocal) }}
                <div class="text-right ml-2">
                    <img src="{{ asset('images/pictos/tooltip_turquoise.svg') }}"
                         alt="information"
                         class="tooltip-img"
                         data-toggle="tooltip" data-placement="right"
                         title="{{ 'registration.is_local.tooltip'|trans }}">
                </div>
            </div>
        </div>
    {% endif %}

    {% if edit_form.nationality is defined %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.nationality, 'user.nationality'|trans, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.nationality,{'attr':{'name' : 'nationality'}}) }}
                {{ form_errors(edit_form.nationality) }}
            </div>
        </div>
    {% endif %}

    <div class="row mt-2 form-group">
        {{ form_label(edit_form.languages, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(edit_form.languages,{'attr':{'class': 'select2selector', 'name' : 'language'}}) }}
            {{ form_errors(edit_form.languages) }}
        </div>
    </div>

    {% if edit_form.country is defined %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.country, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.country,{'attr':{'name' : 'country'}}) }}
                {{ form_errors(edit_form.country) }}
            </div>
        </div>
    {% endif %}

    {% if edit_form.city is defined %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.city, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.city,{'attr':{'name' : 'city'}}) }}
                {{ form_errors(edit_form.city) }}
            </div>
        </div>
    {% endif %}

    {% if edit_form.institute is defined %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.institute, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-auto my-auto">
                <a href="#" class="institute-finder__link">{{ 'institute_finder.button.help'|trans }}</a>
            </div>
        </div>

        <div class="dynamic-form-group">
            {% for i in 0..constant('App\\Entity\\Institute::MAX_LEVEL')-1 %}
                {% if edit_form['institute_'~i] is defined %}
                    <div class="row mt-2 form-group">
                        <div class="col-sm-9 offset-sm-3">
                            {{ form_widget(edit_form['institute_'~i]) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row mt-2 form-group">
                <div class="col-sm-9 offset-sm-3">
                    {{ form_widget(edit_form.institute,{'attr':{'name' : 'institute', 'data-value': edit_form.institute.vars.value}}) }}
                </div>
            </div>
        </div>
        {{ form_errors(edit_form.institute) }}
    {% endif %}

    {% if is_granted(constant('App\\Enum\\UserVoterEnum::BE_MATCHED'), user) %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.semester, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.semester,{'attr':{'data-value': edit_form.semester.vars.value}}) }}
                {{ form_errors(edit_form.semester) }}
            </div>
        </div>

        <div class="row mt-2 form-group {% if edit_form.studies.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
            {{ form_label(edit_form.studies, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.studies,{'attr':{'class': 'select2selector search studies', 'name' : 'studies'}}) }}
                {{ form_errors(edit_form.studies) }}
            </div>
        </div>

        <div class="row mt-2 form-group">
            {{ form_label(edit_form.levelOfStudy, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.levelOfStudy) }}
                {{ form_errors(edit_form.levelOfStudy) }}
            </div>
        </div>

        <div
            class="row mt-2 form-group {% if edit_form.levelOfStudy.vars.value != 'other' %}d-none{% endif %}">
            <div class="col-sm-9 offset-sm-3">
                {{ form_widget(edit_form.levelOfStudyOther) }}
                {{ form_errors(edit_form.levelOfStudyOther) }}
            </div>
        </div>

        <div class="row mt-2 form-group {% if edit_form.typeOfMobility.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
            {{ form_label(edit_form.typeOfMobility, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.typeOfMobility) }}
                {{ form_errors(edit_form.typeOfMobility) }}
            </div>
        </div>

        <div class="row mt-2 form-group input-date">
            {{ form_label(edit_form.arrival, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.arrival) }}
                {{ form_errors(edit_form.arrival) }}
            </div>
        </div>
        <div class="row mt-2 form-group input-date {% if user.isLocal %}d-none{% endif %}">
            {{ form_label(edit_form.departure, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.departure) }}
                {{ form_errors(edit_form.departure) }}
            </div>
        </div>

        <hr class="mt-5 mb-5">
        <h2 class="text-secondary">{{ 'profile.preferences'|trans }}</h2>
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.languagesWanted, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.languagesWanted,{'attr':{'class': 'select2selector'}}) }}
                {{ form_errors(edit_form.languagesWanted) }}
            </div>
        </div>
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.nbBuddiesWanted, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.nbBuddiesWanted) }}
                {{ form_errors(edit_form.nbBuddiesWanted) }}
            </div>
        </div>
        <div class="row mt-2 form-group {% if edit_form.hobbies.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
            {{ form_label(edit_form.hobbies, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.hobbies,{'attr':{'class': 'select2selector'}}) }}
                {{ form_errors(edit_form.hobbies) }}
            </div>
        </div>
        <div class="row mt-2 form-group {% if edit_form.motivation.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}">
            {{ form_label(edit_form.motivation, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.motivation) }}
                {{ form_errors(edit_form.motivation) }}
            </div>
        </div>
        <div class="row mt-2 form-group">
            <div class="col-9 col-md-10">
                {{ form_label(edit_form.sexWanted) }}
                {{ form_errors(edit_form.sexWanted) }}
            </div>
            <div class="col-2 dashboard-profile__toggle">
                {{ form_widget(edit_form.sexWanted, {'attr': {'data-value': (edit_form.sexWanted.vars.checked)?'true':'false' }}) }}
            </div>
        </div>
        <div class="row mt-4 form-group">
            {{ form_label(edit_form.comment, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.comment, {'attr': {'rows': '4'}}) }}
                {{ form_errors(edit_form.comment) }}
            </div>
        </div>
        <div class="row mt-2 form-group {% if edit_form.bonusOption.vars.block_prefixes.1 == 'hidden' %}d-none{% endif %}"">
            <div class="col-9 col-md-10">
                {{ form_label(edit_form.bonusOption) }}
                {{ form_errors(edit_form.bonusOption) }}
            </div>
            <div class="col-2 dashboard-profile__toggle">
                {{ form_widget(edit_form.bonusOption) }}
            </div>
        </div>
    {% endif %}

    {% if edit_form.association is defined %}
        <div class="row mt-2 form-group">
            {{ form_label(edit_form.association, null, {'label_attr':{'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(edit_form.association) }}
                {{ form_errors(edit_form.association) }}
            </div>
        </div>
    {% endif %}

    <hr class="mt-5 mb-5">
    <h2 class="text-secondary">{{ 'profile.notifications'|trans }}</h2>
    <div class="row mt-4 form-group">
        <div class="col-9 col-md-10">
            {{ form_label(edit_form.newsletter) }}
            {{ form_errors(edit_form.newsletter) }}
        </div>
        <div class="col-2 dashboard-profile__toggle">
            {{ form_widget(edit_form.newsletter) }}
        </div>
    </div>

    <div class="dashboard-profile__notifications">
        <h6>{{ 'profile.notifications.email'|trans }}</h6>
        {% for notif in edit_form.userNotification %}
            <div class="row mt-4 form-group">
                <div class="col-9 col-md-10">
                    {{ form_label(notif) }}
                    {{ form_errors(notif) }}
                </div>
                <div class="col-2 dashboard-profile__toggle">
                    {{ form_widget(notif) }}
                </div>
            </div>
        {% endfor %}
    </div>

    <hr class="mt-5 mb-5">
    <div class="mt-4 text-right">
        <div id="warning" class="mb-4 text-danger" data-nb_buddies="{{ user.nbBuddies }}">
            {{ form_errors(edit_form) }}
        </div>
        <button type="submit" class="btn btn-secondary btn--shadow">
            {{ 'actions.edit'|trans }}
        </button>
    </div>
</div>
