{% if user is defined and user is not null %}
    {% set url = vich_uploader_asset(user, 'pictureFile') %}
{% endif %}

{% if url is empty %}
    {% set url = ('images/pictos/no_photo.png') %}
{% endif %}

<div class="buddy-photo-rounded">
    <img src="{{ url | imagine_filter('square'~size) }}" alt="Profile Picture"
        {% if tooltip is defined and tooltip is not null %}
            data-toggle="tooltip" data-placement="right"
            title="{{ tooltip }}"
        {% endif %}
    />
</div>
