{% extends 'base.html.twig' %}
{% import 'Default/macro.js.twig' as macro %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'user.approved.list.title'|trans({}, 'admin') }}</h1>
        </div>

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="users-approved">
                <thead>
                <tr class="bg-white">
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'user.firstname'|trans }}</th>
                    <th>{{ 'user.lastname'|trans }}</th>
                    <th>{{ 'user.email' | trans }}</th>
                    <th>{{ 'user.approved.by'|trans({}, 'admin') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for approvedHistory in approvedHistories %}
                    {% set user = approvedHistory.userApproved %}
                    <tr>
                        <td>{{ user.createdAt|date("d/m/Y") }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ approvedHistory.userValidator.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts_event_listener %}
    {{ macro.initDatatable('#users-approved', {paging: false, dom: 'lftipr'}) }}
{% endblock %}
