<p>{{ 'user.popup.approve.title'|trans({'%name%': name}) }}</p>
{{ form_start(form, {'attr':{'data-id': id}, 'name': 'approve_form'}) }}
<div class="text-left">
    <input type="submit" class="btn btn-success" value="{{ 'actions.approve'|trans }}"/>
    <button data-dismiss="modal" aria-hidden="true" class="btn">{{ 'actions.cancel'|trans }}</button>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

<script>
    tools.initSubmitForm(
        $("form[name='approve_form']"),
        '{{ app.request.attributes.get("_route") }}',
        {'id': '{{ id }}'},
        function () {
            window.location.reload();
        }
    );
</script>
