{% extends 'base.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 my-5">
        <div class="text-left">
            {{ form_start(consentForm) }}

            <h2 class="text-primary mb-4">{{ 'profile.account'|trans }}</h2>
            <div class="mt-2 form-group">
                <div class="col-sm-9">
                    <p>{{ 'registration.data_use'|trans({'%url%': '<a href="'~ path('privacy') ~'">'~ 'footer.privacy'|trans ~'</a>' })|raw }}</p>
                </div>

                <input type="submit" class="btn btn-success" value="{{ 'profile.consent.accept.button'|trans }}"/>
                <button id="user_delete" data-id="{{ app.user.id }}" class="btn btn-outline-danger mt-2 mt-sm-0">
                    {{ 'profile.consent.delete_account.button'|trans }}
                </button>
            </div>
            {{ form_rest(consentForm) }}
            {{ form_end(consentForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
