{% extends 'base.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 my-5">
        <div class="col-12">
        <div class="mx-md-5 p-md-3 mx-4">
            <ul class="progress-tracker progress-tracker--spaced progress-tracker--center">
                <li class="progress-step {% if page == 1 %}is-active{% elseif page > 1 %}is-complete{% endif %}">
                    <div class="progress-marker" data-text="1"></div>
                </li>

                <li class="progress-step {% if page == 2 %}is-active{% elseif page > 2 %}is-complete{% endif %}">
                    <div class="progress-marker" data-text="2"></div>
                </li>

                <li class="progress-step {% if page == 3 %}is-active{% elseif page > 3 %}is-complete{% endif %}">
                    <div class="progress-marker" data-text="3"></div>
                </li>

                <li class="progress-step {% if page == 4 %}is-active{% endif %}">
                    <div class="progress-marker" data-text="4"></div>
                </li>
            </ul>
        </div>


        <h2 class="text-primary my-4">{{ 'charter.title'|trans }}</h2>
        <div class="row m-2 form-group markdown-text">
            {{ form_start(consentForm) }}
            <div>
                {% if page == 1 %}
                    <h2 class="mb-4 text-secondary text-uppercase">1. {{ 'charter.paragraph_1.title'|trans }}</h2>
                    <div class="overflow-auto mb-4">
                        {{ 'charter.paragraph_1.block'|trans|markdown_to_html|raw|nl2br }}
                    </div>
                {% elseif page == 2 %}
                    <h2 class="mb-4 text-secondary text-uppercase">2. {{ 'charter.paragraph_2.title'|trans }}</h2>
                    <div class="overflow-auto mb-4">
                        {{ 'charter.paragraph_2.block'|trans|markdown_to_html|raw|nl2br }}
                    </div>
                {% elseif page == 3 %}
                    {% if is_granted(constant('App\\Enum\\UserVoterEnum::IS_MANAGER'), app.user) %}
                        <h2 class="mb-4 text-secondary text-uppercase">3. {{ 'charter.paragraph_4.title'|trans }}</h2>
                        <div class="overflow-auto mb-4">
                            {{ 'charter.paragraph_4.block_1.block'|trans|markdown_to_html|raw|nl2br }}
                            <div class="mt-4">
                                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_4.block_2.title'|trans }}</h4>
                                {{ 'charter.paragraph_4.block_2.block'|trans|markdown_to_html|raw|nl2br }}
                            </div>
                        </div>
                    {% else %}
                        <h2 class="mb-4 text-secondary text-uppercase">3. {{ 'charter.paragraph_3.title'|trans }}</h2>
                        <div class="overflow-auto mb-4">
                            <div class="">
                                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_1.title'|trans }}</h4>
                                {{ 'charter.paragraph_3.block_1.block'|trans|markdown_to_html|raw|nl2br }}
                            </div>
                            <div class="mt-4">
                                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_2.title'|trans }}</h4>
                                {{ 'charter.paragraph_3.block_2.block'|trans|markdown_to_html|raw|nl2br }}
                            </div>
                            <div class="mt-4">
                                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_3.title'|trans }}</h4>
                                {{ 'charter.paragraph_3.block_3.block'|trans|markdown_to_html|raw|nl2br }}
                            </div>
                            <div class="mt-4">
                                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_4.title'|trans }}</h4>
                                {{ 'charter.paragraph_3.block_4.block'|trans|markdown_to_html|raw|nl2br }}
                            </div>
                            <div class="mt-4">
                                <h4 class="mb-4 text-primary">{{ 'charter.paragraph_3.block_5.title'|trans }}</h4>
                                {{ 'charter.paragraph_3.block_5.block'|trans|markdown_to_html|raw|nl2br }}
                            </div>
                        </div>
                    {% endif %}
                {% elseif page == 4 %}
                    <h2 class="mb-4 text-secondary text-uppercase">4. {{ 'charter.paragraph_5.title'|trans }}</h2>
                    <div class="overflow-auto mb-4">
                        {{ 'charter.paragraph_5.block'|trans|markdown_to_html|raw|nl2br }}
                        <div class="mt-4">
                            <h4 class="mb-4 text-primary">{{ 'charter.paragraph_5.block_1.title'|trans }}</h4>
                            {{ 'charter.paragraph_5.block_1.block'|trans|markdown_to_html|raw|nl2br }}
                        </div>
                        <div class="mt-4">
                            <h4 class="mb-4 text-primary">{{ 'charter.paragraph_5.block_2.title'|trans }}</h4>
                            {{ 'charter.paragraph_5.block_2.block'|trans|markdown_to_html|raw|nl2br }}
                        </div>
                        <div class="mt-4">
                            <h4 class="mb-4 text-primary">{{ 'charter.paragraph_5.block_3.title'|trans }}</h4>
                            {{ 'charter.paragraph_5.block_3.block'|trans|markdown_to_html|raw|nl2br }}
                        </div>
                    </div>
                {% endif %}

                <div class="row mx-1">
                    {% if page > 1 %}
                        <div class="mb-4 mb-md-0">
                            <a href="{{ path('user_consent-charter', {'page': page - 1}) }}" class="btn">{{ 'actions.previous'|trans }}</a>
                        </div>
                    {% endif %}

                    {% if page == 4 %}
                        <div class="ml-auto mb-4">
                            <button id="user_delete" data-id="{{ app.user.id }}" class="btn btn-outline-danger">
                                {{ 'profile.consent.delete_account.button'|trans }}
                            </button>
                        </div>
                    {% endif %}

                    <div class="ml-auto">
                        <input type="submit" class="btn {% if page == 4 %}btn-success{% else %}btn-primary{% endif %}"
                               value="{{ page == 4 ? 'profile.consent.accept.button'|trans : 'actions.next'|trans }}"
                        />
                    </div>
                </div>
            </div>
            {{ form_rest(consentForm) }}
            {{ form_end(consentForm) }}
        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('consent') }}
{% endblock %}
