{% extends 'base.html.twig' %}
{% form_theme edit_form 'Form/_fields.html.twig' %}

{% block body %}
    {% set isManager = is_granted(constant('App\\Enum\\UserVoterEnum::IS_MANAGER'), user) %}
    <div class="dashboard-profile container my-4 text-left">
        {{ form_start(edit_form, {'id':'form', 'action': path('profile_edit'), attr : {'class': 'row'} }) }}
            {% if not(isManager) %}
                <div class="col-lg-4 col-md-3">
                    {% if not(user.isFullyCompleted) %}
                        <div class="dashboard-profile__incomplete white-box px-5 py-4">
                            <h2 class="text-center {{ not(user.isMinimallyCompleted) ? 'text-danger' : 'text-warning' }}">
                                {{ 'profile.sidebar.incomplete.title'|trans }}
                            </h2>

                            {% if not(user.isMinimallyCompleted) %}
                                <p class="mt-4 mb-3 font-weight-bold">{{ 'profile.sidebar.incomplete.mandatory'|trans }}</p>

                                <ul>
                                    {% if user.lastname is null %}
                                        <li>{{ 'user.lastname'|trans }}</li>
                                    {% endif %}

                                    {% if user.dob is null %}
                                        <li>{{ 'user.dateofbirth'|trans }}</li>
                                    {% endif %}

                                    {% if user.sex is null %}
                                        <li>{{ 'user.gender'|trans }}</li>
                                    {% endif %}

                                    {% if user.institute is null %}
                                        <li>{{ 'user.institute'|trans }}</li>
                                    {% endif %}

                                    {% if user.semester is null %}
                                        <li>{{ 'user.semester'|trans }}</li>
                                    {% endif %}

                                    {% if user.languages|length == 0 %}
                                        <li>{{ 'user.languages'|trans }}</li>
                                    {% endif %}

                                    {% if user.levelOfStudy is null %}
                                        <li>{{ 'user.level_of_study'|trans }}</li>
                                    {% endif %}
                                </ul>
                            {% endif %}

                            {% if user.hobbies|length == 0 or user.motivation is null or user.arrival is null %}
                                <p class="mt-4 mb-3 font-weight-bold">
                                    {{ 'profile.sidebar.incomplete.optional'|trans }}
                                </p>

                                <ul>
                                    {% if user.hobbies|length == 0 %}
                                        <li>{{ 'user.hobbies'|trans }}</li>
                                    {% endif %}

                                    {% if user.motivation is null %}
                                        <li>{{ 'user.motivation'|trans }}</li>
                                    {% endif %}

                                    {% if user.arrival is null %}
                                        <li>{{ 'user.arrival'|trans }}</li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="dashboard-profile__how white-box px-5 py-4">
                        <h2 class="text-primary mb-4 text-center">{{ 'profile.sidebar.title'|trans }}</h2>
                        <div class="row">
                            <div class="col-2 col-md-12 col-lg-2 dashboard-profile__icon">
                                <img src="{{ asset('images/pictos/pen.svg') }}" alt="pencil" width="23" class="mt-1 mb-3" />
                            </div>
                            <div class="col-10 col-md-12 col-lg-10">
                                <p>
                                    {{ 'profile.sidebar.first'|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 col-md-12 col-lg-2 dashboard-profile__icon">
                                <img src="{{ asset('images/pictos/Shape.svg') }}" alt="shape" width="23" class="mt-1 mb-3" />
                            </div>
                            <div class="col-10 col-md-12 col-lg-10">
                                <p>
                                    {{ 'profile.sidebar.second'|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 col-md-12 col-lg-2 dashboard-profile__icon">
                                <img src="{{ asset('images/pictos/mail.svg') }}" alt="mail" width="23" class="mt-1 mb-3" />
                            </div>
                            <div class="col-10 col-md-12 col-lg-10">
                                <p>
                                    {{ 'profile.sidebar.third'|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 col-md-12 col-lg-2 dashboard-profile__icon">
                                <img src="{{ asset('images/pictos/smiley.svg') }}" alt="smiley" width="23" class="mt-1 mb-3" />
                            </div>
                            <div class="col-10 col-md-12 col-lg-10">
                                <p>
                                    {{ 'profile.sidebar.fourth'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="{{ isManager ? 'col-lg-8 col-md-10  offset-lg-2 offset-md-1' : 'col-lg-8 col-md-9' }}">
                <div class="dashboard-profile__form white-box px-5 py-4">
                    {% include 'User/_edit_content.html.twig' %}
                </div>
            </div>
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
