{% extends 'base.html.twig' %}
{% form_theme edit_form 'Form/_fields.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 mt-5 mb-5">
        {{ form_start(edit_form, {'id':'form', 'action': path('user_edit', {'id': user.id})}) }}
        <div class="text-center mb-4">
            <h1 class="text-primary text-truncate">{{ 'user.edit_as_bc'|trans({'%name%': user.firstname ~ ' ' ~ user.lastname}) }}</h1>
            <h3>
                {{ 'navbar.matching'|trans }}:
                {% for m in matchingManagers %}
                    <small title="{{ m.semester is defined ? 'Institute' : 'Association' }} #{{ m.id }}">{{ m.name }}</small>
                    {{ loop.last == false ? ' & ' }}
                {% endfor %}
            </h3>
        </div>

        {% include 'User/_edit_content.html.twig' %}

        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
