{% form_theme form 'Form/_fields.html.twig' %}

{{ form_start(form, {'name': 'edit_password_form'}) }}
<div class="text-left">
    <div class="row mt-2">

        {{ form_label(form.plainPassword, 'user.password'|trans, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
        <div class="col-md-8">
            <div class="form-group">
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            {{ form_errors(form.plainPassword) }}
        </div>
    </div>

    <div class="row mt-2 form-group">
        {{ form_label(form.oldPassword, 'user.old_password'|trans, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
        <div class="col-sm-8">
            {{ form_widget(form.oldPassword,{'attr':{'placeholder': 'user.old_password'|trans}}) }}
            {{ form_errors(form.oldPassword) }}
        </div>
    </div>

    <div class="mt-4 text-right">
        <div id="warning" class="mb-4 text-danger">
            {{ form_errors(form) }}
        </div>
        <button type="submit" class="btn btn-secondary btn--shadow">{{ 'actions.confirm'|trans }}</button>
        <button data-dismiss="modal" aria-hidden="true" class="btn">{{ 'actions.cancel'|trans }}</button>
    </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}

<script>
    function onSubmitHandler() {
        let $form = $("form[name='edit_password_form']");

        tools.initSubmitForm(
            $form,
            'user_edit_password',
            {},
            function (data) {
                if (data === 'saved') {
                    window.location.reload();
                } else {
                    $form.closest('.modal-body').html(data);
                }
            }
        );
    }

    onSubmitHandler();
</script>

