{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'user.list.title'|trans }}</h1>
        </div>

        {% if hasUsersToApprove %}
            <a class="btn btn-secondary ml-0 my-2" href="{{ path('user_to-approve') }}">
                <i class="fas fa-check-circle"></i> {{ 'user.list.to_approve.button'|trans }}
            </a>
        {% endif %}

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="users"
                   data-admin="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) }}">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'user.firstname'| trans }}</th>
                    <th>{{ 'user.lastname'| trans }}</th>
                    <th>{{ 'user.email' | trans }}</th>
                    <th>{{ 'user.semester'|trans }}</th>
                    <th>{{ 'semester.year'|trans }}</th>
                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th>{{ 'association'|trans({}, 'admin') }}</th>
                    {% endif %}
                    <th>{{ 'user.roles'|trans }}</th>
                    <th>{{ 'user.nationality'|trans }}</th>
                    <th>{{ 'user.city'|trans }}</th>
                    <th>{{ 'user.institute' | trans }}</th>
                    <th>{{ 'user.studies' | trans }}</th>
                    <th>{{ 'user.level_of_study' | trans }}</th>
                    <th>{{ 'user.type_of_mobility' | trans }}</th>
                    <th>{{ 'user.languages'|trans }}</th>
                    <th>{{ 'user.list.is_local' | trans }}</th>
                    <th>{{ 'user.arrival'|trans }}</th>
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'user.list.nb_buddy'|trans }}</th>
                    <th>{{ 'matching.nb_buddy_wanted'|trans }}</th>
                    <th>{{ 'user.list.has_max_buddies'|trans }}</th>
                    <th>{{ 'matching.nb_refusal'|trans }}</th>
                    <th>{{ 'matching.nb_refusal_by_buddies'|trans }}</th>
                    <th>{{ 'user.gender'|trans }}</th>
                    <th>{{ 'user.list.same_gender'|trans }}</th>
                    <th>{{ 'user.list.bonus_option'|trans }}</th>
                    <th>{{ 'user.archived'|trans }}</th>
                    <th class="no-export">{{ 'actions'|trans }}</th>
                </tr>

                <tr id="column-filters">
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('SemesterPeriodType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th class="form-group">
                            <select class="form-control select2selector" multiple>
                                {% for association in associations %}
                                    <option value="{{ association.id }}">{{ association.name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    {% endif %}

                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for role in roles %}
                                <option value="{{ role }}">{{ role|replace({'ROLE_': ''})|replace({'_': ' '})|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, nationality in nationalities %}
                                <option value="{{ key }}">{{ nationality|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for study in studies %}
                                <option value="{{ study.id }}">{{ study.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserLevelStudyType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserTypeMobilityType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for language in languages %}
                                <option value="{{ language }}">{{ language|language_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th class="form-group"><input type="date" class="form-control"></th>
                    <th class="form-group"><input type="date" class="form-control"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group"><input type="number" class="form-control" min="0"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('UserGenderType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0">{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control">
                            <option></option>
                            <option value="1">{{ 'yes'|trans }}</option>
                            <option value="0" selected>{{ 'no'|trans }}</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}
