{% extends 'base.html.twig' %}

{% block body %}
    <div class="container management-form white-box p-3 my-5">
        <div class="text-left">
            <h2 class="text-primary mb-4">{{ 'profile.account'|trans }}</h2>
            <div class="row mt-2 form-group">
                <div class="col-sm-9">
                    <p>{{ 'user.approve.waiting.explanation'|trans }}</p>

                    <button id="user_delete" data-id="{{ app.user.id }}" class="btn btn-outline-danger">
                        {{ 'profile.deletion'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
