{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-box white-box--table p-3 m-5 text-left">
        <div class="text-center mb-4">
            <h1 class="text-primary">{{ 'user.approve.list.title'|trans }}</h1>
        </div>

        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
            <a class="btn btn-secondary ml-0 my-2" href="{{ path('user_approved-history') }}">
                <i class="fas fa-history"></i> {{ 'user.approved.list.title'|trans({}, 'admin') }}
            </a>
        {% endif %}

        <div class="mt-3">
            <table class="table table-striped table-hover nowrap custom-datatable" id="users-to-approve"
                   data-admin="{{ is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) }}">
                <thead>
                <tr class="bg-white text-primary">
                    <th>{{ 'user.firstname'| trans }}</th>
                    <th>{{ 'user.lastname'| trans }}</th>
                    <th>{{ 'user.email' | trans }}</th>
                    <th>{{ 'user.languages'|trans }}</th>
                    <th>{{ 'user.city'|trans }}</th>
                    <th>{{ 'user.institute' | trans }}</th>
                    <th>{{ 'user.semester'|trans }}</th>
                    <th>{{ 'semester.year'|trans }}</th>
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'user.roles'|trans }}</th>
                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th>{{ 'association'|trans({}, 'admin') }}</th>
                    {% endif %}
                    <th class="no-export">{{ 'actions'|trans }}</th>
                </tr>

                <tr id="column-filters">
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group"><input type="text" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for language in languages %}
                                <option value="{{ language }}">{{ language|language_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for institute in institutes %}
                                <option value="{{ institute.id }}">{{ institute.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for key, value in enum_readable_values('SemesterPeriodType') %}
                                <option value="{{ key }}">{{ value|trans }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="form-group"><input type="date" class="form-control"></th>
                    <th class="form-group">
                        <select class="form-control select2selector" multiple>
                            {% for role in roles %}
                                <option value="{{ role }}">{{ role|replace({'ROLE_': ''})|replace({'_': ' '})|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </th>

                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                        <th class="form-group">
                            <select class="form-control select2selector" multiple>
                                {% for association in associations %}
                                    <option value="{{ association.id }}">{{ association.name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    {% endif %}
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_approval') }}
{% endblock %}
