{% extends 'Home/_layout.html.twig' %}

{% block body %}
    <div class="container white-box management-form p-4 my-5">
        <div class="w-75 mx-auto">
            <h1 class="text-center text-primary">{{ 'user.resetting.title'|trans }}</h1>

            {{ form_start(resetForm) }}
                <div class="form-group">
                    {{ form_widget(resetForm.plainPassword.first, {'attr':{'class': 'form-control', 'placeholder': 'user.password'}}) }}
                    {{ form_errors(resetForm.plainPassword.first) }}
                </div>

                <div class="form-group">
                    {{ form_widget(resetForm.plainPassword.second, {'attr':{'class': 'form-control', 'placeholder': 'user.password_confirmation'}}) }}
                    {{ form_errors(resetForm.plainPassword.second) }}
                </div>

                <div class="text-right mt-4">
                    <input type="submit" value="{{ 'actions.confirm'|trans }}" class="btn btn-secondary" />
                </div>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
