<p>
    {{ 'user.email'|trans ~ ': ' }}
    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
</p>

<table class="table table-striped table-hover nowrap custom-datatable" id="list_report_user">
    <thead>
    <tr class="bg-white">
        <th>{{ 'report.user_by'| trans }}</th>
        <th>{{ 'report.comment'|trans }}</th>
        <th>{{ 'created_at'|trans }}</th>
        <th>{{ 'report.buddy_deleted'|trans }}</th>
        <th>{{ 'actions' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for report in reports %}
        <tr data-id="{{ report.id }}">
            <td>{{ report.reportedBy.email }}</td>
            <td>{{ report.comment }}</td>
            <td>{{ report.createdAt|format_datetime('medium', 'none') }}</td>
            <td>{{ report.buddyDeleted ? 'yes'|trans : 'no'|trans }}</td>
            <td><a href="#" class="report_delete">{{ 'actions.delete'|trans }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
