<p>
    {{ 'mentor'|trans ~ ': ' }}
    <a href="mailto:{{ mentor.email }}">{{ mentor.email }}</a>
</p>

<p>
    {{ 'mentee'|trans ~ ': ' }}
    <a href="mailto:{{ mentee.email }}">{{ mentee.email }}</a>
</p>

<table class="table table-striped table-hover nowrap custom-datatable" id="list_report_buddy">
    <thead>
    <tr class="bg-white">
        <th>{{ 'report.user'| trans }}</th>
        <th>{{ 'report.comment'|trans }}</th>
        <th>{{ 'created_at'|trans }}</th>
        <th>{{ 'actions' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for report in buddy.reports %}
        <tr data-id="{{ report.id }}">
            <td>{{ report.user.email }}</td>
            <td>{{ report.comment }}</td>
            <td>{{ report.createdAt|format_datetime('medium', 'none') }}</td>
            <td><a href="#" class="report_delete">{{ 'actions.delete'|trans }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
