{% form_theme form 'Form/_fields.html.twig' %}

{{ form_start(form, {'attr' : {'data-id': buddy.id, 'data-type': reportType}}) }}
{{ form_errors(form) }}
<div class="text-center">
    <div class="mb-4">
        {{ ('dashboard.buddy.'~reportType~'.explanation')|trans }}
    </div>

    {% if form.comment is defined %}
        <div class="mb-3">
            {{ form_label(form.comment) }}
        </div>
        <div class="form-group text-center">
            <div class="col-sm-12 control-label">
                {{ form_widget(form.comment) }}
            </div>
        </div>
    {% endif %}

    <div class="mb-2">
        {{ form_row(form.deleteBuddy) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn-secondary btn--shadow btn"
           value="{{ 'dashboard.buddy.report.button' | trans }}"/>
</div>
{{ form_end(form) }}
